* {
    font-family: 'Cinzel','Shippori Mincho', serif;
    box-sizing: border-box;
}
body{
    background-color: #000;
}
li{
    list-style: none;
}
.fake{
    width: 100%;
    padding-bottom: 50px;
    background-color: #CFB886;
}
main .astrolabe_chart h3{
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #CFB886;
}

/* ============================= */
/* 星座頁籤 */
main .pagination_nav .container ul{
    padding: 2% 8.333333%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
main .pagination_nav .container label{
    margin: 12px;
    padding: 6px 15px;
    line-height: 2;
    border: 1px solid #CFB886;
    color: #CFB886;
    border-radius: 10px;
    cursor: pointer;
}

/* ============================= */
/*  astrolabe.html
    開始推算引導區塊 */

main .astrolabe_start .container{
    width: 100%;
    position: relative;
    padding: 2% 8.333333%;
    display: flex;
    justify-content: center;
}
main .astrolabe_start h1 {
    font-size: 3rem;
    letter-spacing: 0.2rem;
    line-height: 1.5;
    color: #fff;
    text-align: center;
}

/* 開始推算底圖的容器 */
main .astrolabe_start .container .start_img_box{
    width: 350px;
}
main .astrolabe_start .container .start_img_box img{
    width: 100%;
    vertical-align: top;
}

/* 推算按鈕 定位父層在.astrolabe_start的.container*/
main .astrolabe_start .container .primary_btn.btn_bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
    background-color: #d89482;
    border: none;
    padding: 10px 80px;
    cursor: pointer;
}
main .astrolabe_start .container .btn_bg a{
    text-decoration: none;
    color: #CFB886;
}
main .astrolabe_start .container .btn_bg p{
    color: #000;
    font-weight: 600;
}


/* ============================= */
/*  astrolabe_form.html
    填寫資料區塊開始*/

main .astrolabe_form .container{
    width: 100%;
    padding: 2% 8.333333%;
    display: flex;
    justify-content: center;
}
main .astrolabe_form .form_item img{
    width: 100%;
    vertical-align: top;
}
main .astrolabe_form .form_item{
    display: flex;
    flex-direction: column;
    margin: 2%;
}
main .astrolabe_form .form_item form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}
main .astrolabe_form .form_item form label {
    color: #CFB886;
    padding: 2px 5px;
    line-height: 2;
}
main .astrolabe_form .form_item form input {
    border: 1px #CFB886 solid;
    background-color: transparent;
    border-radius: 5px;
    color: #CFB886;
    padding: 2px 5px;
    outline: none;
}

main .astrolabe_form .form_item form .form_btns{
    text-align: center;
}
/* 名稱的輸入盒 */
#name{
    width: 60%;
}
/* 表單的清除和送出按鈕 */
#submit , #reset {
    border-radius: 15px;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    display:inline-block;
    padding: 3% 10%;
    white-space: nowrap;
    margin: 2%;
    cursor: pointer;
}
/* ============================= */
/*  astrolabe_result.html
    星座命盤結果區塊開始 */
    /* 個資和命盤圖 */
main .astrolabe_chart .container{
    width: 100%;
    padding: 2% 8.333333%;
    display: flex;
    align-items: center;
}
main .info .container{
    flex-direction: column;
}
main .info .chart_txt{
    margin: 3%;
    padding: 2% 5%;
    border: 1px solid #CFB886;
transform: translate(-50%,0);
}
/* 命盤圖 */
main .astrolabe_chart .chart_item img{
    width: 350px;
}
/* ============================= */
/*  astrolabe_result.html 
    星盤解讀 */

/* 背景發光
.light_bg{
    z-index: 1;
    position: absolute;
    bottom: -100%;
    width: 300px;
    height: 300px;
    border-radius: 3000px;
    background-color: #CFB886;
    box-shadow: 0px 0px 300px 0px rgb(207 184 134);
} */

/* 宮位分類欄 */
main .astrolabe_chart .chart_classification{
    margin: 5% 10% 15% 0;
}

main .astrolabe_chart .chart_classification li{
    padding:12% 0;
}

/* 星盤解讀分析內容的外框 */
main .astrolabe_chart .analyze_bg{
    position: relative;
    z-index:2;
    border: 1px solid #CFB886;
    padding: 5%;
    background-color: #000;
    width: 50%;
}
/* 星盤解讀分析內容的大標 父層定位在.analyze_bg上 */
main .astrolabe_chart .analyze_title{
    position: relative;
    top: -25%;
    bottom: 50%;
}

/* 星盤解讀分析內容 大標 */
main .astrolabe_chart .analyze_title h2{
    background-color: #000;
    display: inline-block;
    font-size: 2.5rem;
}

/* ============================= */
    /*  astrolabe_result.html 
    主打商品卡片 */
main .products_cards .container{
    width: 100%;
    padding: 2% 8.333333%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
/* 標題容器  */
.products_cards .container .products_title_wrap{
    width: 100%;
    text-align: center;
}

/* 商品卡片大容器 包商品item*/
.products_cards .container .products_cards_wrap{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* 商品卡片的item(包著pic和txt) */
.products_cards .container .products_cards_wrap .products_item{
    width: 100%;
    align-items: center;
}
/* 商品卡片的pic的img 寬度100% */
.products_cards .container .products_cards_wrap .products_item .item_pic img{
    width:100%;
}
/* 商品卡片的pic和txt */
.products_cards .container .products_cards_wrap .products_item .item_pic , .products_cards .container .products_cards_wrap .products_item .item_txt{
    margin: 2%;
}
/* 商品卡片的標題 */
.products_cards .container .products_cards_wrap .products_item .item_txt h4{
    text-align: center;
    font-size: 1.25rem;
}

@media screen and (max-width:767px) {
    /* 0~767px */
    /* 手機板不顯示頁籤 */
    main .pagination_nav{
        display: none;
    }
    /* ============================= */
    /*  astrolabe.html
    開始推算引導區塊 */

    /* 手機板大標題 */
    main .astrolabe_start h1{
        margin-top: 10%;
    }
    /* 手機板按鈕大小 */
    main .astrolabe_start .primary_btn {
        padding: 10px 100px;
    }
    /* ============================= */
    /*  astrolabe_form.html 
        填寫資料區塊開始 */
    main .astrolabe_form .container{
        display: flex;
        flex-direction: column;
    }
    main .astrolabe_form .form_item img{
        margin-bottom: 5%;
    }
    
    /* ============================= */
    /*  astrolabe_result.html 
        星盤解讀 */
    
    main .astrolabe_chart .container{
        display: flex;
        flex-direction: column;
    }
    main .astrolabe_chart .analyze_title{
        position: relative;
        bottom: 40px;
    }
    /* 星盤解讀分析內容的外框 */
    main .astrolabe_chart .analyze_bg{
        display: flex;
        flex-direction: column;
    }
    /* 宮位分類欄開始 */
    main .astrolabe_chart .chart_classification ul{
        display:flex;
        flex-wrap: wrap;
        margin: 5% 0;
    }
    main .astrolabe_chart .chart_classification li{
        padding: 10px 5px 10px 0;
    }
    /* ============================= */
    /*  astrolabe_result.html 
        主打商品卡片 */
    main .products_cards .container{
        display: flex;
        flex-direction: column;
    }
    main .products_cards .container .products_cards_wrap .products_item{
        width: 50%;
    }
}
@media screen and (min-width:768px) {
    /* 768以上 
        星盤解讀的內容 */
    main .astrolabe_chart .analyze_title{
        position: absolute;
        top: -22px;
        bottom: 0;
        right: 60%;
    }
}
@media screen and (min-width:991px) {
    /* 0~991px 
    

    /* 主打商品卡片 */ 

    /* 標題容器  */
    .products_cards .container .products_title_wrap{
        width: 50%;
    }
    /* 商品卡片大容器 包商品item*/
    .products_cards .container .products_cards_wrap{
        width: 50%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    /* 商品卡片的item(包著pic和txt) */
    .products_cards .container .products_cards_wrap .products_item{
        width: 50%;
        align-items: center;
    }
}
@media screen and (max-width:1199px) {
    /*  0~1199px
        星盤解讀 */
    main .astrolabe_chart .analyze_bg{
        width: 100%;
        display: flex;
    }
    /* 星盤解讀分析內容 下一張 定位父層是container*/
    main .astrolabe_chart .analyze_next , main .astrolabe_chart .analyze_next h3 {
        display: none;
    }
}
@media screen and (min-width:1200px) {
    /*  1200以上 
        星盤解讀的內容 */
/* 星盤解讀分析內容 下一張 定位父層是container*/
    main .astrolabe_chart .analyze_next {
        background-color: #CFB886;
        padding: 60px 90px;
        position: absolute;
        right: 5%;
        top: 10%;
        z-index: 2;
    }
    main .astrolabe_chart .analyze_next h3{
        color: #000;
    }
}

