.tarotcards .book_item{
    position: relative;
}
.tarotcards .book_item .img_box{
    width: 100%;
}
.tarotcards .book_item .img_box img{
    width: 100%;
}
.tarotcards .book_item .txt_box {
    position: absolute;
    width: 40%;
    top: 100px;
    left: 100px;
}
.tarotcards .book_item .txt_box p{
    font-size: 3em;
    color: #CFB886;
}
.tarotcards .book_item .txt_box span{
    margin: 3em 0;
    color: #fff;
    line-height: 2;
    display: block;
}
.row{
    display: flex;
    margin: auto;
}
.row .item{
    width: 50%;
    
}
.row .item .img_box{
    width: 80%;
}
.row .item .img_box img{
    width: 100%;
}
.row_down{
    display: flex;
    text-align: center;
}
.row_down .four{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.row_down .four .item{
    width: 50%;
}
.row_down .four .item .img_box{
    width: 100%;
}
.row_down .four .item .img_box img{
    width: 80%;
}
.row_down .item .img_box{
    width: 100%;
}
.row_down .item .img_box img{
    width: 80%;
}
.row_down .item{
    width: 40%;
}
.taboo_item{
    display: flex;
    justify-content: space-around;
    padding: auto 10%;
    margin:40px 0;
}
.taboo_item .txt_box{
    padding: 4em 0; 
    box-sizing: border-box;
}
.taboo_item .img_box{
    width: 30%;
}
.taboo_item .img_box img{
    width: 100%;
}
.taboo_item li{
    color: seashell;
    height: 40px;
}
.test_item{
    display: flex;
    justify-content: space-evenly;
}
.test_item .txt_box{
    margin-top: 50px;
}
.test_item img{
    border-radius: 50%;
}
.btn_clicked{
    background-color: #CFB886;
    color: #000;
}
.test_result{
    text-align: center;
    margin:40px auto;
}
.change_page_item{
    text-align: center;
    margin:auto;
}
.change_page_item .primary_btn{
    margin: 20px;
}
.second_btn :hover {
    background-color: #CFB886;
    color: #000;
    cursor: pointer;
}

.second_btn  {
    color: #CFB886;
    background-color: transparent;
    border: 1px #CFB886 solid;
    margin: 1em;
    padding:0.5em 1em;
    border-radius: 10px;
    cursor: pointer;
}




.other{
    display: none;
}
.test_result{
    display: none;
}






/* 手機專用 */
@media screen and (max-width:768px) {
    .tarotcards .book_item .box_a{
        width: 10%;
    }
    
    .row{
        display: block;
        flex-wrap: wrap;
    }
    .row .item{
        width: 100%;
    }
    .row .item .img_box {
        width: 100%;
    }
    .row_down{
        display: block;
        flex-wrap: wrap;
    }
    .row_down .four{
        display: block;
        flex-wrap: wrap;
        width: 100%;
    }
    .row_down .four .item {
        width: 100%;
    }
    .row_down .four .img_box{
        width: 100%;
    }
    .row_down .item{
        width: 100%;
    }
    .row_down .item .img_box img{
        width: 100%;
    }
    .row_down .four .item .img_box img{
        width: 100%;
    }
    .taboo_item{
        display: block;
        padding: auto 10%;
    }
    .taboo_item .img_box{
        width: 90%;
    }
    .taboo_item .img_box img{
        width: 100%;
    }
    .taboo_item .txt_box{
        padding: 2em 0; 
        box-sizing: border-box;
    }
    .test_item img{
        width: 100%;
    }
   }
@media screen and (min-width:769px) {
    .row .item .txt_box {
        padding: 2em 0;
        box-sizing: border-box;
    }
   }
@media screen and (min-width:992px) {
    
   }
@media screen and (min-width:1200px) {
    
   }
   