.tarot_nav .container ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tarot_nav .container ul li{
    margin: 1em;
}
.tarot_nav .container label{
    margin: .9em;
    padding: .5em 1em;
    border: 1px solid #CFB886;
    border-radius: .5em;
    cursor: pointer;
}
.tarot_nav .container label:hover{
    background-color: #CFB886;
    color: #000;
    transition: .3s;
}


/* ===================================================== */
h2{
    padding-bottom: 0.5em;
}
.tarotcards{
    padding-bottom: 4em;
}

.tarotcards .book_item{
    position: relative;
}
.tarotcards .book_item .img_box{
    width: 100%;
}
.tarotcards .book_item .img_box img{
    width: 100%;
}
.tarotcards .book_item .txt_box{
    text-align: left;
}
.tarotcards .book_item .txt_box p{
    font-size: 3em;
    color: #CFB886;
}
.tarotcards .book_item .txt_box span{
    color: #fff;
    line-height: 2;
    display: block;
}
.tarotcards .book_item .txt_box .secondary_btn{
    letter-spacing: 0.05em;
}
.row{
    display: flex;
}
.row .item{
    width: 50%;
    text-align: center;
}
.row .item .img_box{
    width: 80%; 
    margin: auto;
}
.row .item .img_box img{
    width: 100%;
    border-radius: 0.5em;
}
.row_down{
    display: flex;
}
.row_down .four{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}
.row_down .four .item{
    width: 50%;
    text-align: center;
}
.row_down .four .item .img_box{
    width: 100%;
}
.row_down .four .item .img_box img{
    width: 80%;
    border-radius: 0.5em;
}
.row_down .item .img_box{
    width: 100%;
}
.row_down .item .img_box img{
    width: 80%;
    border-radius: 0.5em;
}
.row_down .item{
    width: 40%;
    text-align: center;
}
/* .taboo_box{
    border: #CFB886 1px solid;
} */
.taboo h3{
    padding: 0.8em 0;
    /* text-align: center; */
}
.taboo h4{
    padding: 0.8em 0;
}
.taboo_item{
    display: flex;
    justify-content: space-around;
    padding: auto 10%;
    margin: 1em 0;
}
.taboo_item .txt_box{
    padding: 4em 0; 
    box-sizing: border-box;
}
.taboo_item .img_box{
    padding: 6em 0; 
    width: 30%;
}
.taboo_item .img_box img{
    width: 100%;
    border-radius: 0.5em;
}
.taboo_item li{
    color: seashell;
    height: 40px;
    line-height: 2;
}
.test_item{
    display: flex;
    justify-content: space-evenly;
}
.test_item .txt_box{
    width: 60%;
    padding: 2em;
}
.test_item .img_box{
    width: 22%;
    padding-top: 2em;
}
.test_item .img_box img{
    width: 100%;
    border-radius: 50%;
    
}
.third_btn{
    margin: 1em 0.25em;
}
.btn_clicked{
    background-color: #CFB886;
    color: #000;
}
.test_result{
    text-align: center;
    margin:40px auto;
}
.change_page_item{
    text-align: center;
    margin:auto;
}
.change_page_item .second_btn :hover {
    background-color: #CFB886;
    color: #000;
    cursor: pointer;
}

.change_page_item .second_btn  {
    color: #CFB886;
    background-color: transparent;
    border: 1px #CFB886 solid;
    margin:5em 1em 0;
    padding:0.5em 1em;
    border-radius: 10px;
    cursor: pointer;
}

.other{
    display: none;
}
.pass_item{
    display: none;
}
.fail_item{
    display: none;
}
.pass_item .img_box{
    width: 40%;
    margin: auto;
}
.fail_item .img_box{
    width: 40%;
    margin: auto;
}
.pass_item .img_box img{
    width: 100%;
}
.fail_item .img_box img{
    width: 100%;
}

/* 手機專用 */
@media screen and (max-width:768px) {
    .tarot_nav{
        display: none;
    }
    .tarotcards .book_item .img_box{
        position: relative;
        width: 100%;
    }
    .tarotcards .book_item .txt_box {
          width: 100%;
          text-align: center;
    }
    .tarotcards .book_item .txt_box p{
        position: absolute;
        top: 80px;
        left: 40px;
        font-size: 1.2em;
    }
    .tarotcards .book_item .txt_box span{
        font-size: 0.5em;
        text-align: left;
    }
    .tarotcards .book_item .txt_box .secondary_btn{
        margin-top: 1.5em;
    }
    
    .row{
        display: block;
        flex-wrap: wrap;
    }
    .row .item{
        width: 100%;
    }
    .row .item .img_box {
        width: 100%;
    }
    .row_down{
        display: block;
        flex-wrap: wrap;
    }
    .row_down .four{
        display: block;
        flex-wrap: wrap;
        width: 100%;
    }
    .row_down .four .item {
        width: 100%;
    }
    .row_down .four .img_box{
        width: 100%;
    }
    .row_down .item{
        width: 100%;
    }
    .row_down .item .img_box img{
        width: 100%;
    }
    .row_down .four .item .img_box img{
        width: 100%;
    }
    .taboo_item{
        display: block;
        padding: auto 10%;
    }
    .taboo_item .img_box{
        width: 100%;
        padding: 1em 0; 
    }
    .taboo_item .img_box img{
        width: 100%;
    }
    .taboo_item .txt_box{
        padding: 2em 0; 
        box-sizing: border-box;
    }
    .test_item img{
        width: 100%;
    }
    .change_page_item{
        text-align: center;
        margin:auto;
    }
    .change_page_item .second_btn{
       width: 40%;
    }
    .tarottest .third_btn{
        margin: 1em;
    }
    .test_item .txt_box {
        padding: 2em 0;
    }
   }
@media screen and (min-width:769px) {
    .row .item .txt_box {
        padding: 2em 0;
        box-sizing: border-box;
    }
   }
@media screen and (min-width:992px) {
    .tarotcards .book_item .txt_box {
        position: absolute;
        width: 45%;
        top: 75px;
        left: 70px;
    }
    .tarotcards .book_item .txt_box span{
        margin: 1em 0;
    }
   }
@media screen and (min-width:1200px) {
    .tarotcards .book_item .txt_box {
        position: absolute;
        width: 40%;
        top: 100px;
        left: 100px;
    }
    .tarotcards .book_item .txt_box span{
        margin: 3em 0;
    }
    
   }
   