/* 圖片直接設寬高%數 會出事? */
@media screen and (max-width:767px) {
    /* 最大寬度768以上不顯示 所以這裡是手機 */
            /* 0~767px */


    main .constellation .container h2{
        text-align: center;
    }
   
    main .result p{
        padding: 2% 8.333333%;
        box-sizing: border-box;
        
    }
    main .constellation .container .third_btn{
        margin-left: 5%;
    }
    main .constellation .container .img_box{
        text-align: center;
    }
    main .constellation .container .img_box img{
        /* display: block; */
        /* margin-bottom: 10%;
        box-sizing: border-box; */
        width: 80%;
        padding: 10%;
        box-sizing: border-box;
        /* height: 10%; */
        
    }
    main #result{
        display: none;
    }
    main .container .pair .constellation_male{
        margin: auto;
        margin-left: 30%
        ;
        box-sizing: border-box;
    }
    main .container .pair{
        margin: auto;
    }
    main .container .pair .third_btn{
        margin: 5%;
        box-sizing: border-box;
    }
    main .result h3{
        text-align: center;
    }

}

@media screen and (min-width:768px) { 

    main .constellation .container .pair{
        display: flex;
    }

    /* ul{
        width: 100%;
        display: flex;
        list-style:none;
        flex-wrap: wrap;
    }
    ul div{
        width: 33.33%;
        list-style: none;
    }  */
    
    main .result p{
        padding: 2% 8.333333%;
        box-sizing: border-box;
        
    }
    main .constellation .container .third_btn{
        display: flex;
        align-items: center;
        
        text-align: center;
        margin-top: 20%;
        margin-left: 10%;
        
    }
    main .constellation .container .img_box{
        text-align: center;
    }
    main .constellation .container .img_box img{
        /* display: block; */
        margin: 3%;
        box-sizing: border-box;
        width: 20%;
    }
    main #result{
        display: none;
    }
    main .constellation .container .pair .constellation_male{
        margin: auto;
    }





}