@media screen and (max-width:767px) {
    h2{
        text-align: center;
        padding: 2% 8.333333%;
        box-sizing: border-box;
    }
    h3{
        text-align: center;
        padding: 2% 8.333333%;
        box-sizing: border-box;
    }
    ul{
        width: 100%;
        display: flex;
        list-style:none;
        flex-wrap: wrap;
    }
    ul div{
        width: 33.33%;
        list-style: none;
    } 
    html{
        font-size: 14px;
    } 
    .constellation_img{
        text-align: center;
        padding: 2% 8.333333%;
        box-sizing: border-box;
        display: block;
        
    }
    .story{
        text-align: center;
        padding: 2% 8.333333%;
        box-sizing: border-box;
    }
    p{
        padding: 2% 8.333333%;
        box-sizing: border-box;
    }
}


@media screen and (min-width:768px) { 
    h2{
        text-align: center;
        padding: 2% 8.333333%;
        box-sizing: border-box;
    }
    h3{
       text-align: center;
       padding: 2% 8.333333%;
       box-sizing: border-box;
    }
    ul{
        width: 100%;
        display: flex;
        list-style:none;
        flex-wrap: wrap;
    }
    ul div{
        width: 33.33%;
        list-style: none;
    } 
    html{
        font-size: 14px;
    } 
    .constellation_img{
        text-align: center;
        padding: 2% 8.333333%;
        box-sizing: border-box;
        
    }
    .story{
        /* text-align: center; */
        padding: 2% 8.333333%;
        display: flex;
        box-sizing: border-box;
    }
    p{
        /* padding: 2% 8.333333%; */
        box-sizing: border-box;
        padding: 2% 8.333333%;
    }




}




