
/* 有共用的就用同一個class名稱 ex: */
/* .container{
    width: 100%;
    padding: 8.333333%;
    box-sizing: border-box;
    }
    
    前面增加 main section 表示跟其他頁面檔名不會重疊
    */




    /* 首頁 by ZH  手機*/
/* ============================= */

     /* 各章節間隔隔開 */
     main .introduce,.scroll_keyhole,.online_test,.hot_fortune_teller,.hot_product{ 
        width: 100%;
        margin-top: 15%;
    }

    /* 介紹區塊開始 */
    .introduce_img_box{
        display: flex;
        justify-content: center;
        
    }

    .introduce_img{
        width: 300px;
        height: 450px;
        border-radius: 200px;
        position:absolute ;
        overflow: hidden;
        
    }

    .introduce_img_line{
        width: 330px;
        height: 480px;
        display: flex;
        border: 1px solid #CFB886;
        border-radius: 200px;
        
    }
    
    .introduce_img img{
              
        
    }

    .introduce_txt{
        padding: 10%;
        text-align: center;
    }

    /* 視差滾動 鑰匙孔區塊 */
    .scroll_keyhole{
        margin-top: 15%;
        
    } 

    .scroll_keyhole_box{
        width: 100%;

    }
    .scroll_keyhole_txt{
        position: absolute;
        z-index: 1;
    }

    .scroll_keyhole_img{
        position: absolute;
    }

    .scroll_keyhole_bgimg{
        /* position: absolute; */

    }

    .scroll_keyhole_img .scroll_keyhole_bgimg{
        width: 100vw;

    }
    
    .scroll_keyhole_img img{
        width: 100%;
        opacity:0.5;
        
    }

    .scroll_keyhole_bgimg img{
        width: 100%;
        
    }

     /* 線上測驗開始 */

     







    






@media screen and (min-width:768px) {
  
        html{
            font-size: 14px;
        }

        .introduce_box{
            display: flex;
            align-items: center;
            
        }
/* 
        .introduce_txt{
            padding: 10%;
            text-align: center;
        } */

}



}
@media screen and (min-width:1200px) {



    

    

}