

/* .container{
    width: 100%;
    padding: 8.333333%;
    box-sizing: border-box;
    }
    
    前面增加 main section 表示跟其他頁面檔名不會重疊
    */




    /* 首頁 by ZH  手機*/
/* ============================= */

     /* 各章節間隔隔開 */
     main .introduce,.scroll_keyhole,.online_test,.hot_fortune_teller,.hot_product{ 
        width: 100%;
        margin-top: 15%;
    }

/* 介紹區塊開始 */
    .introduce_img_box{
        display: flex;
        justify-content: center;
        
    }
    /* 父層設在introduce_img_box上*/
    .introduce_img{
        width: 300px;
        height: 450px;
        border-radius: 200px;
        position:absolute ;
        overflow: hidden;
        
    }

    .introduce_img_line{
        width: 330px;
        height: 480px;
        display: flex;
        border: 1px solid #CFB886;
        border-radius: 200px;
        
    }
    
    .introduce_img img{          
        
    }

    .introduce_txt{
        padding: 10%;
        text-align: center;
    }

/* 視差滾動 鑰匙孔區塊 開始 */

    .scroll_keyhole_box{
        width: 100%;
        

    }
    .scroll_keyhole_txt{
        position: absolute;
        
        z-index: 1;
    }
 

    .scroll_keyhole_bgimg{
        width: 100vw;

    }
    
    /* .scroll_keyhole_img img{
        width: 100%;
        opacity:0.5;
        
    } */

    .scroll_keyhole_bgimg img{
        width: 100%;
        
    }

/* 線上測驗開始 */
     .online_test_tarot_box{
        display: flex;
        justify-content: center;
     }

     .online_test_title{
         padding-bottom: 2em;
    }

     .online_test_tarot_txt{
        position: absolute;
        margin: auto;
        top: 50%;
        z-index: 1; 
    }


/* 熱門占卜師開始 */

    .hot_fortune_teller_box{
        padding: 3% ;
    }

    .hot_fortune_teller_card{
        border: 1px solid #CFB886;;
        padding: 2em 1em ;
        margin: 1.5em ;
        box-sizing: border-box;
        text-align: center;
        border-radius: 15%;

    }

    .hot_fortune_teller_img img{
        width: 80%;
        border-radius: 15%;
        vertical-align: top;
    }

    .hot_fortune_teller_txt{
         margin:3% 10% 0 10%;
    }

/* 主打商品 開始 */

    /* 主打商品容器 */
    .hot_product_box{
       justify-content: center;
    }
    /* 主打商品卡片 */
    .hot_product_card{
        border: 1px solid #CFB886;;
        padding: 3em 0 ;
        margin: 1em ;
        box-sizing: border-box;
        text-align: center;
        border-radius: 200px;
        
    }
    /* 主打商品圖字icon上下間隔隔開 */
    .hot_product_card_img, .hot_product_card_txt,.hot_product_icon{
        padding-top: 2em;
    }


    .hot_product_card_img img{
        width: 50%;
        border-radius: 50%;
        vertical-align: top;
    }

    .hot_product_icon img{
        border-radius: 50%;
    }


     




/* 電腦 */
@media screen and (min-width:768px) {
  
        html{
            font-size: 14px;
        }

        .introduce_box{
            display: flex;
            align-items: center;
            
        }


        .hot_fortune_teller_box{
            display: flex;
            align-items: center;
        }

        .hot_product_box{
            display: flex;
            


}

@media screen and (min-width:1200px) {



    

    

}