

/* .container{
    width: 100%;
    padding: 8.333333%;
    box-sizing: border-box;
    }
    
    前面增加 main section 表示跟其他頁面檔名不會重疊
    */




    /* 首頁 by ZH  手機*/
/* ============================= */

     /* 各章節間隔隔開 */
     main .scroll_keyhole,.online_test,.hot_fortune_teller,.hot_product{ 
        width: 100%;
        margin-top: 15%;
    }

    main .introduce{
        padding-top: 4em;
    }

/* 介紹區塊開始 */

    .introduce_img_box{
        width: 90%;
        border: 1px solid #CFB886;
        border-radius: 200px;
        justify-content: center;
        border-image: initial;
        padding: 15px;
        
    }

    .introduce_img{
        width: 300px;
        height: 450px;
        border-radius: 200px;
        overflow: hidden;
        margin: auto;
        outline: 1.5px solid #CFB886;
        /* outline-offset: 15px; */
        flex-shrink: 0;
        padding: 1em;
       
    }
    .introduce_img img {
        width: 100%;
        border-radius: 1000px;
    }

    .introduce_txt{
        padding: 6%;
        text-align: center;
    }
    .introduce_txt h4{
        padding:2px 0 3% 0;
        /* letter-spacing: 6px;*/
    }


/* 視差滾動區塊 開始 */

    .scroll_circle,.scroll_circle_txt{
        display: none;
    }

    .scroll_circle{
        background-image:url(../images/index/index_starry_sky.png);
        background-size: cover;
        height:130vh;
        position:relative;
        overflow:hidden;
        margin-top: 2em;
    }
    
    .scroll_circle_txt{
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    }

    .scroll_circle_img{
        position: relative;
    }


    .planets img:nth-child(1){
        width: 14%;
        position: absolute;
        top: 10%;
        left: 6%;
        transform: rotate(-55deg);
    }

    .planets img:nth-child(2){
        width: 23%;
        position: absolute;
        right: 5%;
        top: 1%;
    }

    .planets img:nth-child(3){
        width: 15%;
        position: absolute;
        left: 4%;
        top: 58%;
    }

    .planets img:nth-child(4){
        width: 23%;
        position: absolute;
        right: 5%;
        top: 58%;
        transform: rotate(15deg);
    }

    .planets img{
        width: 100%;
    }
 

    .scroll_circle_big img{
        width: 100vw;
        
    }

    .scroll_circle_big{
        position: relative;
        z-index: 100;
    }

    

    

/* 線上測驗開始 */
    
    
    .test_img{
        width: 60%;
        margin: auto;
    }

    .test_img img{
        width: 100%;
    }

    .test_txt{
        text-align: center;
    }

    

    


    /* 更新貓頭鷹箭頭按鈕樣式 */
    .owl-carousel .owl-nav button.owl-prev,.owl-carousel .owl-nav button.owl-next{
        position: absolute;
        top: 50%;
        width: 40px;
        height: 40px;
        border: 1px solid #CFB886;
        border-radius: 50%;
        text-align: center;
        z-index: 1;
        font-size: 40px ;
    }

    .owl-carousel span{
        color: #CFB886;
    }

    .owl-carousel .owl-nav button.owl-prev:hover,.owl-carousel .owl-nav button.owl-next:hover{
        background-color: #CFB886;
    }

    .owl-carousel span:hover{
        color: #000;
    }

    .owl-carousel .owl-nav .owl-prev{
        left: 0;
        margin-left: 5px;
    }

    .owl-carousel .owl-nav .owl-next{
        right: 0;
        margin-right: 5px;
    } 
   



/* 熱門占卜師開始 */

    
    .hot_fortune_teller_card{
        border: 1px solid #CFB886;
        padding: 2em 1em ;
        margin: 2em ;
        box-sizing: border-box;
        text-align: center;
        border-radius:0.5em;
        
    }
    
    .hot_fortune_teller_img{
        width:  12em;
        height: 15em; 
        margin: auto;
    }

    .hot_fortune_teller_img img{
        width: 100%;
        height: 100%;
        border-radius:0.5em;
        vertical-align: top;
        object-fit: cover;
    }

    .hot_fortune_teller_txt{
         margin:3% 10% 0 10%;
    }

    .hot_fortune_teller_icon img{
        padding-top: 2%;
        width: 20%;
    }

    .teller_verview{
        text-align: center;
    }

    
/* 主打商品 開始 */

    /* 主打商品容器 */
    .hot_product_box{
       justify-content: center;
    }
    /* 主打商品卡片 */
    .hot_product_card{
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #CFB886;
        border-image: initial;
        padding: 3em ;
        margin: 1em;
        border-radius: 200px;
    
    }
    

    /* 主打商品圖字icon上下間隔隔開 */
    .hot_product_card_img, .hot_product_card_txt,.hot_product_icon{
        padding-top: 2em;
    }

    .hot_product_card{
        overflow: hidden;
    }
    
    .hot_product_card_img img{
        width: 100%;
        padding: 5%;
        border-radius: 100%;
        vertical-align: top;
    }
    /* 眼睛icon */
    .hot_product_icon img{
        border-radius: 100%;
        width: 25%;
    }

    

   
/* ============================= */
 /* 歡迎頁 */
    .welcome_index_logo{
        text-align: center;
    }

    .welcome_index_logo img{
        width: 150px;
        margin: 0 1em 0 1em;
    }

    .welcome_index_logo h2{
        vertical-align: bottom;
        display: inline-block;
    }
    
    .welcome_index_box{
     display: flex;
     justify-content: center;
     padding-top: 1em;
     text-align: center;
 }
    .front_end ,.back_end{
     margin: 1em 3em 0 2em;

 }
    .front_end img, .back_end img{
    width: 100%;

}





    
/* 電腦 */
@media screen and (min-width:768px) {
  
        /* 介紹 */
        .introduce_box{
            display: flex;
            align-items: center;
            
        }

        .scroll_keyhole{
            display: i;
        }

        /* 線上測驗 */
        .test_img{
            width: 50%;
        }

        .scroll_circle,.scroll_circle_txt{
            display: block;
        }

        /* 熱門占卜師 */
        .hot_fortune_teller_box{
            display: flex;
            align-items: center;
        }

        .hot_product_box{
            display: flex;
        }

        .hot_fortune_teller_box{
            display: flex;
            justify-content: center;
            
            
        }

        /* 眼睛hover動畫 */

        .hot_fortune_teller_card{
            overflow: hidden;
        }

        

        .hot_product_card:hover 
        .hot_product_icon,.hot_fortune_teller_card:hover .hot_fortune_teller_icon{
            bottom: -10px;
        }

        .hot_product_icon,.hot_fortune_teller_icon{
            position: relative;
            bottom: -150px;
            transition:bottom 0.8s ;
        }

        /* 產品卡片碰到後發亮 */
        .hot_product_card:hover,.hot_fortune_teller_card:hover
        {
            Box-shadow: 1px 1px 12px 1px  #CFB886,
            1px 1px 2px 1px  #CFB886 inset;

        }


        /* 商品總覽 */
        .product_overview{
            text-align: center;
            padding-top: 2em;
        }

        

        
            


}

@media screen and (min-width:1200px) {



    

    

}