/* 產品內頁 by ZH  手機*/
/* ============================= */
  /* 產品 */

  main .product_inner_page 
  .product_inner_page{
    padding-top: 1em;
  }

  main .product_inner_page .product_inner_img_large img{
    width:100%;
  }
  
  main .product_inner_page .product_inner_img_small img{
    width: 100%;
    
  }

  main .product_inner_page .product_inner_img_small a{
    width: 30%;
    
  }

  main .product_inner_page .product_inner_img_large{
    width: 100%;
    text-align: center;
  }

  main .product_inner_page .input_value{
    text-align: center;
    
  }

  main .product_inner_page .product_inner_img_small{
    /* max-width: 350px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
  }

  main .product_inner_page .product_inner_img{
    width: 100%;
  }

  main .product_inner_page .product_inner_txt_right form{
    padding: 1em;

  }

  main .product_inner_page .product_inner_txt_right{
    max-width: 350px;
  }

  main .product_inner_page .product_inner_txt_right{
    padding-top:1em;
  }

  main .product_inner_page .product_inner_txt_right p{
    padding:1em 0 1em 0;
  }

  main .product_inner_page .product_detail_txt{
    padding: 3em 0 3em 0;
  }

  main .product_inner_page .detail{
    padding-bottom: 0.5em;
  }

  .prod_No{
    display: none;
  }

  main .product_inner_page .recommended_products .enter_online_divination h3{
    padding-bottom: 0.5em;
  }

  main .product_inner_page .recommended_products_img{
    text-align: center;
    
  }

  main .product_inner_page .recommended_products_img p{
    padding-top: 0.5em;
  }

  main .product_inner_page .recommended_products_img img{
    border-radius: 0.5em;
  }

  .enter_online_divination{
    padding:0 0 2em 0;
  }

  .enter_online_divination button{
    border-radius: 0.2em;

  }

  .enter_online_divination p{
    padding-bottom: 1em;
  }

  

  
  


      

  
  

  


  
  
  

  




/* 電腦 */
@media screen and (min-width:768px) {


    main .product_inner_page .product_inner_img_large{
      width: 100%;
      text-align: center;
    }

    main .product_inner_page 
    .product_inner_img_left{
       width: 50%;
       max-width: 350px;
    }

    main .product_inner_page 
    .product_inner_txt_right{
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 40px;
    
    }

    main .product_inner_page 
    .product_inner_txt_right p{
      padding:1.5em 0 1.5em 0;
    }

    main .product_inner_page 
    .product_inner_box{
      display: flex;
      justify-content: space-around;
    }

    main .product_inner_page 
    .buy_box{
      display: flex;
      padding-top: 0.5em;
    
    }

    main .product_inner_page 
    .product_inner_txt_right .buy_box a{
      margin:0 0.5em 0 0;
    }

    main .product_inner_page 
    .product_inner_txt_right form input{
      padding: 0.5em;
    }
    

    main .product_inner_page 
    .input_reduce:hover, .input_add:hover{
      color: black;
      background-color: #CFB886;
      
    }

    

    

    
    


    
    

  
  
  


  


}