@media screen and (max-width:767px) {
    /* 最大寬度768以上不顯示 所以這裡是手機 */
        /* 0~767px */
    /* 手機板不顯示頁籤 */
    main .pagination_nav{
        display: none;
    }
    h2{
        text-align: center;
    }
    ul{
        width: 100%;
        display: flex;
        list-style:none;
        flex-wrap: wrap;
    }
    ul div{
        width: 33.33%;
        list-style: none;
    } 
    html{
        font-size: 14px;
    } 

    .real{
        width: 100%;
        padding: 8.333333%;
        box-sizing: border-box;
        text-align: center;
    } 
    .real_constellation button{
        margin: auto;
        box-sizing: border-box;
        padding: 2% 8.333333%;
        margin-top: 10%;
    }
    main .real_constellation .container .answer img{
        display: block;
        width: 100%;
        margin-bottom: 10%;
    }

}

@media screen and (min-width:768px) {
    main .pagination_nav .container ul{
        padding: 2% 8.333333%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }  
    h2{
        text-align: center;
    }
    ul{
        width: 100%;
        display: flex;
        list-style:none;
        flex-wrap: wrap;
    }
    ul div{
        width: 33.33%;
        list-style: none;
    } 
    html{
        font-size: 14px;
    } 
    .real{
        width: 100%;
        padding: 8.333333%;
        box-sizing: border-box;
        text-align: center;
    } 
    .real_constellation img{
     display: block;
     text-align: center;
     margin: auto;
     padding: 2% 0%;
     box-sizing: border-box;
    }
    .real_constellation button{
        margin: auto;
        box-sizing: border-box;
        padding: 2% 8.333333%;
        margin: 10% 0% 2% 2%;
        
    }

}