/* 購物車流程 */
.shopping_circle{
    padding: 2em 0;
}
.shopping_circle .container .shopping_process {
    display: flex;
    justify-content: space-between;
    width: 20em;
    text-align: center;
    margin: 0 auto;
}
.shopping_circle .container .shopping_process .item {
    position: relative;
    color: black;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    text-align: center;
    background-color: #DFAF47;
    line-height: 5em;
    z-index: 6;
}
.shopping_circle .container .shopping_process .active{
    background-color: #DFAF47; 
    /* transform: scale(1.4); */
    z-index: 4;
}
.shopping_circle .container .shopping_process .item:not(:first-child)::before{
    content: '';
    position: absolute;
    height: 0.1em;
    background-color: #DFAF47;
    width: 3em;
    top: 0;
    bottom: 0;
    right: 95%;
    margin: auto;
    z-index: 1;
}
.countbtn{
    border-radius: 50%;
    background-color: #CFB886;
    display:inline-block;
    padding: 1.5px 10px;
    white-space: nowrap;
}
/* .shopping_circle .container .shopping_process>li:first-child:after{
    content: '確認商品';
    color: white;
} */
.shopping_circle .container .shopping_process li.active ~ li{
    background-color: #3A3A3A;
    z-index: 1;
}
.shopping_circle .container .shopping_process li.active ~ .item::before{
    background-color: #3A3A3A;
    z-index: 1;
}

/* 購物車內容 */
.shopping_cart{
    margin-bottom: 2em;
}
.shopping_cart .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}
/* 購物車header */
.shopping_cart .container .cart_detail {
    border: 2px solid #CFB886;
    border-radius: 0.5em;
    padding: 1em 0.5em 0;
}
.shopping_cart .container .cart_detail .cart_header {
    padding-bottom: 1em;
    display: flex;
    border-bottom: 1px solid #CFB886;
}
.shopping_cart .container .cart_detail .cart_header>div{
    width: 25%;
    text-align: center;
    /* padding-right: 1em; */
}
/* 購物車body */
.shopping_cart .container .cart_detail .cart_body .cart_body_box{
    display: flex;
    align-items: center;
    position: relative;
}
.shopping_cart .container .cart_detail .cart_body:not(:last-child){
    border-bottom: 1px solid #CFB886;
}


.shopping_cart .container .cart_detail .cart_body .cart_body_box>div:not(:last-child){
    width: 25%;
    text-align: center;
}
.shopping_cart .container .cart_detail .cart_body .cart_card .img_box{
    padding: 0.5em;
}
.shopping_cart .container .cart_detail .cart_body .cart_body_box .item_detail .cart_card .img_box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.shopping_cart .container .cart_detail .cart_body .cart_body_box .item_detail .cart_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0.5em;
}
.shopping_cart .container .cart_detail .cart_body .cart_body_box .operate{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}

/* 填寫資料區 */
.cart_deliver .container .customer_info .customer_form{
    display: flex;
    margin-bottom: 1em;
}
.cart_deliver .container .customer_info .customer_form form label{
    padding: 0;
}
.cart_deliver .container .customer_info .pay_way{
    margin-bottom: 1em;
}
.cart_deliver .container .cart_info_right{
    margin: 1em 0;
}
.confirm_btn .container .confirm_btns{
    text-align: right;
}

/* 底部推薦商品 */
.cart_bottom{
    margin-top: 2em;
}
.cart_bottom .container .item_box{
    display: flex;
    flex-wrap: wrap;
}
.cart_bottom .container .item_box .item{
    width: 50%;
}
.cart_bottom .container .item_box .item .img_box{
    height: 10em;
}
.cart_bottom .container .item_box{
    padding: 1em;
}
.cart_bottom .container .item_box .item .img_box img{
    width: 100%;
    height: 100%;
    padding: 1em;
    object-fit: cover;
}
.cart_bottom .container .item_box .item .txt_box{
    text-align: center;
}
@media screen and (min-width:768px){
    /* 流程 */
    .shopping_circle .container .shopping_process .item:not(:first-child)::before{
        width: 8em;
    }
    .shopping_circle .container .shopping_process{
        width: 30em;
    }
    /* 購物車內容 */
    .shopping_cart .container{
        padding: 0 8.333333%;
    }
    .cart_card .img_box {
        height: 10em;
    }
    .shopping_cart .container .cart_detail .cart_body .product_box .item_detail .cart_card .img_box {
        height: 10em;
    }
    /* 填寫資料區 */
    .cart_deliver .container{
        display: flex;
        justify-content: space-between;
        width: 90%;
    }
    .confirm_btn .container{
        width: 90%;
    }
    .cart_deliver .container .customer_info{
        width: 50%;
    }
    .cart_deliver .container .customer_info .customer_form form label{
        display: flex;
        flex-direction: column;
    }
    .cart_deliver .container .customer_info .customer_form form label p{
        margin:0 1em;
    }
    /* 底部商品區 */
    .cart_bottom .container .item_box .item{
        width: 25%;
    }
    .cart_bottom .container .item_box .item .img_box{
        height: 15em;
    }
}