/* 購物車流程 */
.shopping_cart{
    padding-top: 3em;
}
.shopping_cart .container{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.shopping_process {
    display: flex;
    justify-content: space-between;
    width: 20em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2em;
}
.shopping_cart .container .shopping_process .item {
    position: relative;
    color: black;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    text-align: center;
    background-color: #DFAF47;
    line-height: 5em;
    z-index: 6;
}
.shopping_cart .container .shopping_process .active{
    background-color: #DFAF47; 
    transform: scale(1.4);
    z-index: 4;
}
.shopping_cart .container .shopping_process .item:not(:first-child)::before{
    content: '';
    position: absolute;
    height: 0.5em;
    background-color: #DFAF47;
    width: 3em;
    top: 0;
    bottom: 0;
    right: 95%;
    margin: auto;
    z-index: 1;
}
.shopping_cart .container .shopping_process li.active ~ li{
    background-color: #a59692;
    z-index: 1;
}
.shopping_cart .container .shopping_process li.active ~ .item::before{
    background-color: #a59692;
    z-index: 1;
}
/* 購物車內容 */
/* 購物車header */

.cart_header {
    padding-bottom: 3%;
}
.cart_detail {
    border: 2px solid #CFB886;
    padding: 3% 1.5% 0 1.5%;

}
.cart_header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #CFB886;
}
.cart_header>div{
    width: 25%;
    text-align: right;

}
/* 購物車body */
.product_box {
    display: flex;
    align-items: center;
    padding: 3%;
    border-bottom: 1px solid #CFB886;
    position: relative;
    flex-wrap: wrap;
}
.product_box:last-child{
    border-bottom: none;
}

.product_box>div{
    width: 25%;
    text-align: right;
}
.cart_card{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart_card .img_box img{
    width: 100%;
    height: 100%;
}
.cart_card .txt_box p{
    text-align: center;
}
.cart_body p{
    word-wrap: break-word;
}
.cart_body .product_box .count{
    display: flex;
    justify-content: right;
    align-items: center;
}
.cart_body .product_box .count p{
    margin: 0.5em;
}
.cart_body .product_box .count i{
    font-size: 0.5em;
}
.delete_button {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
}
/* 填寫資料區 */
.cart_deliver .container .customer_info {
    border-bottom: 1px solid #CFB886;
    padding: 0.5em;
}
.cart_info_right .order_total{
    padding: 0.5em 0;
    text-align: left;
}
.cart_info_right .confirm_btns {
    text-align: right;
}

/* 底部推薦商品 */
.cart_bottom{
    margin-top: 2em;
    border-top: 2px dotted #CFB886;
}
.cart_bottom .container .item_box{
    display: flex;
    flex-wrap: wrap;
}
.cart_bottom .container .item_box .item{
    width: 50%;
}
.cart_bottom .container .item_box{
    padding: 1em;
}
.cart_bottom .container .item_box .item .img_box img{
    width: 100%;
    padding: 1em;
}
.cart_bottom .container .item_box .item .txt_box{
    text-align: center;
}
@media screen and (min-width:768px){
    .shopping_cart .container{
        padding: 0 8.333333%;
    }
    /* 填寫資料區 */
    .cart_deliver .container {
        display: flex;
    }
    .cart_deliver .container .customer_info{
        width: 50%;
        border-bottom: none;
    }
    .cart_deliver .container .cart_info_right {
        width: 50%;
        padding-right: 5em;
    }
    .cart_bottom .container .item_box .item{
        width: 25%;
    }
    .cart_info_right .order_total{
        text-align: right;
    }
    .cart_deliver .container .customer_info .customer_form{
        /* padding-left: 5em; */
        text-align: center;
    }
    .shopping_cart{
        padding-bottom: 3em;
    }
    .customer_info .customer_confirm{
        text-align: center;
    }
    .cart_deliver{
        width: 80%;
    }
}