@charset "UTF-8";
/* --- 主色 
    標題顏色
    color: map-get($primary_color, 'title');
    背景顏色
    background-color: map-get($primary_color, 'bg');
    內文顏色
    color: map-get($primary_color, 'content');
*/
/* --- 輔色
    背景顏色
    background-color: map-get($secondary_color, 'bg');
    內文顏色
    color: map-get($secondary_color, 'content');
*/
/* --- 強調色
    color: $accent_color;
    background-color: $accent_color;
*/
main .mem_link .container .link_item {
  margin-top: 1em;
}

main .mem_link .container .link_item .item:not(:first-child) {
  border-top: 2px solid #000;
}

main .mem_link .container .link_item .item {
  background-color: #5558;
  padding: 1em;
  width: 100%;
}

main .member .container .display_none {
  display: none;
}

main .member .container .img_box img {
  width: 100%;
  display: block;
}

main .member .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 0;
}

main .member .container .logo .img_box {
  width: 3em;
  border-radius: 50%;
  overflow: hidden;
}

main .member .container .logo .txt_box {
  padding: 0.5em 0;
}

main .member .container form > * {
  margin: 0.5em 0;
}

main .member .container form input[type=text],
main .member .container form input[type=password],
main .member .container form input[type=email],
main .member .container form textarea,
main .member .container form button {
  width: 100%;
}

main .member .container form *:not(:first-child) {
  margin-top: 0.5em;
}

main .member .container .search_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .member .container .search_box .search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 0.5em;
}

main .member .container .status_box {
  margin-top: 1em;
}

main .member .container .status_box .order_status_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .member .container .status_box .order_status_list li {
  padding: .3em 0;
}

main .member .container .status_box .order_status_list li label {
  padding: 0 0.5em;
  display: block;
}

main .member .container .login_box {
  position: absolute;
  left: 50%;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .member .container .mem_detail_box .sticker_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .member .container .mem_detail_box .sticker_box .img_box {
  position: relative;
  display: block;
  overflow: hidden;
  margin: auto;
  width: 30%;
  border-radius: 50%;
}

main .member .container .mem_detail_box .sticker_box .img_box:after {
  content: "編輯";
  position: absolute;
  display: block;
  width: 100%;
  height: 25%;
  bottom: 0;
  left: 0;
  padding-top: .8em;
  text-align: center;
  color: #fff;
  background-color: #aaaa;
}

main .member .container .order_box {
  background-color: #5558;
  padding: 1em;
}

main .member .container .order_box .order_header,
main .member .container .order_box .order_content .item .txt,
main .member .container .order_box .order_footer .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .member .container .order_box .order_content .detail_item:not(:first-child) {
  margin-top: 0.5em;
}

main .member .container .order_box .order_content .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .member .container .order_box .order_content .item .img_box {
  width: 4em;
}

main .member .container .order_box .order_content .item .txt_box {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main .member .container .order_box .order_content .more_item {
  display: block;
  width: 100%;
  text-align: center;
}

/* === 星座頁籤 by JC === */
main {
  /* 討論區 by JC */
}

main .pagination_nav .container ul {
  padding: 2% 8.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .pagination_nav .container label {
  margin: 12px;
  padding: 6px 15px;
  line-height: 2;
  border: 1px solid #CFB886;
  color: #CFB886;
  border-radius: 10px;
  cursor: pointer;
}

main .discuss .container {
  padding: 2% 8.33333%;
  width: 100%;
  margin: auto;
}

main .discuss .content_head {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .discuss .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .back .img_box img {
  width: 100%;
  display: block;
}

body .back .link_panel {
  width: 15em;
}

body .back .link_panel .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 0;
}

body .back .link_panel .logo .img_box {
  width: 3em;
  border-radius: 50%;
  overflow: hidden;
}

body .back .link_panel .logo .txt_box {
  margin-left: 1em;
  padding: 0.5em 0;
}

body .back .link_panel .link_list li {
  width: 100%;
  padding: .5em 2em;
  text-align: center;
}

body .back .link_panel .link_list li a {
  display: block;
}

body .contain {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  min-height: 100vh;
  background-color: #5558;
}

body .contain header {
  position: fixed;
  right: 0;
  left: 0;
  height: 4em;
  background-color: #0003;
}

body .contain header button {
  display: block;
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .contain main .container {
  padding: 5em 3em;
}

body .contain main .container .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

body .contain main .container .action > *:not(:first-child) {
  padding-left: .5em;
}

body .contain main .container table tr {
  border: 1px solid #CFB886;
}

body .contain main .container table tr th,
body .contain main .container table tr td {
  text-align: center;
  border: 1px solid #CFB886;
  padding: .5em 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body .contain main .container table tr th {
  position: relative;
  background-color: #CFB886;
  color: #000;
  cursor: pointer;
}

body .contain main .container table tr th:not(:first-child):before {
  content: '';
  position: absolute;
  right: .3em;
  top: 30%;
  width: 0;
  height: 0;
  border-left: .2em solid transparent;
  border-right: .2em solid transparent;
  border-bottom: .3em solid black;
}

body .contain main .container table tr th:not(:first-child):after {
  content: '';
  position: absolute;
  right: .3em;
  bottom: 30%;
  width: 0;
  height: 0;
  border-left: .2em solid transparent;
  border-right: .2em solid transparent;
  border-top: .3em solid black;
}

body .contain main button {
  padding: .5em 1em;
}

* {
  font-family: 'Cinzel','Shippori Mincho', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #CFB886;
}

body {
  background-color: #000;
}

body section {
  width: 100%;
  margin: auto;
  position: relative;
}

body section .container {
  width: 100%;
  padding: 0 8.333333%;
  margin: auto;
}

/* ===== 按鈕 ===== */
/* --- 主按鈕 --- */
/* 跳轉頁的button */
/* 首頁--商品瀏覽、占卜師瀏覽 */
/* 體驗占卜--線上占卜、再看一次、推薦商品 */
/* 線上占卜--其他問題、預約占卜師、推薦商品 */
/* 星座--開始測驗 */
/* 預約占卜--開始預約、確認預約、下一步、確認 */
/* 登入註冊 */
/* - 購買 */
.primary_btn {
  border-radius: 15px;
  color: #CFB886;
  background-color: transparent;
  border: 1px solid #CFB886;
  display: inline-block;
  padding: 0.8% 2.5%;
  white-space: nowrap;
  cursor: pointer;
}

/* --- 二級按鈕 --- */
/* 線上占卜--商品瀏覽 */
.secondary_btn {
  border-radius: 15px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  display: inline-block;
  padding: 0.8% 2.5%;
  white-space: nowrap;
  cursor: pointer;
}

/* 頁籤 */
/* 預約占卜--頁籤(線上或實體) */
/* 星座--頁籤 */
/* 占卜師專區--星級頁籤 */
/* 占卜師專區--分析資料頁籤 */
.selected_btn {
  background-color: #CFB886;
  border: 1px solid transparent;
  color: #000;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.unselected_btn {
  color: #CFB886;
  background-color: transparent;
  border: 1px #CFB886 solid;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

/* --- 三級按鈕 --- */
/* 發表/檢舉文章按鈕 */
/* 會員--修改資料、新增休假資料、取消 */
/* 占卜師專區--接受、拒絕 */
/* 星座--測驗選項(要加固定寬) */
.third_btn {
  border-radius: 15px;
  color: #CFB886;
  background-color: transparent;
  border: 1px solid #CFB886;
  padding: 0.8% 2.5%;
  cursor: pointer;
}

/* --- 其他按鈕 --- */
/* icon線條顏色--#fff */
.other_btn {
  border-radius: 50px;
  background-color: #CFB886;
  display: inline-block;
  padding: 1.5px 10px;
  white-space: nowrap;
  cursor: pointer;
}

/* ===== 文字 ===== */
/*==== 手機板字體大小一定要加這個html ====*/
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

/*==== 手機板字體大小一定要加這個html ====*/
h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  color: #fff;
}

h2 {
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: #CFB886;
}

h3 {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: #CFB886;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  color: #CFB886;
}

p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #CFB886;
  cursor: pointer;
}

a:hover {
  color: #d89482;
}

span {
  color: #d89482;
}

label {
  color: #CFB886;
  padding: 2px 5px;
  line-height: 2;
}

input {
  border: 1px #CFB886 solid;
  background-color: transparent;
  border-radius: 5px;
  color: #CFB886;
  padding: 2px 5px;
  outline: none;
}

select {
  border: 1px #CFB886 solid;
  border-radius: 5px;
  color: #CFB886;
  padding: 2px 5px;
}
/*# sourceMappingURL=style.css.map */