@charset "UTF-8";
/* --- 主色 
    標題顏色
    color: map-get($primary_color, 'title');
    背景顏色
    background-color: map-get($primary_color, 'bg');
    內文顏色
    color: map-get($primary_color, 'content');
*/
/* --- 輔色
    背景顏色
    background-color: map-get($secondary_color, 'bg');
    內文顏色
    color: map-get($secondary_color, 'content');
*/
/* --- 強調色
    color: $accent_color;
    background-color: $accent_color;
*/
header {
  background: #000000;
  /* Nav Style */
  /* 手機專用 */
}

header .header_img_box img {
  height: 60px;
  display: inline-block;
}

header .header_all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 20px;
  border-bottom: 2px solid #fff;
}

header .header_all .header_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_all .header_bar .header_icon {
  width: 100%;
  /* margin-right: 15px; */
  text-align: center;
  line-height: 2em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header_all .header_bar .header_icon p {
  margin-top: 20px;
  margin-right: 20px;
  font-size: 1.25rem;
}

header .header_all .header_bar .header_icon img {
  height: 25px;
  margin-top: 20px;
  margin-right: 20px;
  text-align: center;
  line-height: 2em;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .ham_menu .ham-origin {
  position: relative;
  /* left: 90%; */
  width: 30px;
  height: 30px;
  -webkit-transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  cursor: pointer;
  background: transparent;
  border: 0px;
  margin-top: 23px;
}

header .ham_menu .ham-origin div {
  height: 0px;
  border: 1.5px solid #fff;
  width: 22px;
  display: block;
  position: absolute;
  -webkit-transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  transition: all 300ms cubic-bezier(0.61, 0.01, 0.42, 1);
  background: #fff;
}

header .ham_menu .ham-origin:hover {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header .ham_menu .ham-origin:hover div:nth-child(3):before {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: #F26451;
}

header .ham_menu .ham-origin:hover div {
  border: 2px solid #fff;
  height: 9px;
  border-radius: 50%;
  margin-left: -1px;
  margin-top: 2px;
  -webkit-animation: atom 300ms linear 1;
          animation: atom 300ms linear 1;
  width: 25px;
  top: 0px;
  background: transparent;
}

header #nav-toggle {
  display: none;
}

header .ham_menu .ham-origin:focus {
  outline: 0px;
}

header .ham_menu div:nth-child(1) {
  top: 0px;
}

header .ham_menu div:nth-child(2) {
  top: 8px;
}

header .ham_menu div:nth-child(3) {
  top: 16px;
}

header .ham_menu div:nth-child(3):before {
  opacity: 0;
  -webkit-animation: ball 1.5s linear infinite;
          animation: ball 1.5s linear infinite;
  content: '';
  border: 2px solid #fff;
  display: block;
  position: relative;
  top: 0.25px;
}

header .ham_menu .ham-origin:hover div:nth-child(1) {
  -webkit-transform: rotate(-33deg);
          transform: rotate(-33deg);
}

header .ham_menu .ham-origin:hover div:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .ham_menu .ham-origin:hover div:nth-child(3) {
  -webkit-transform: rotate(33deg);
          transform: rotate(33deg);
}

header .ham_menu .ham-origin:hover div:nth-child(3):before {
  opacity: 1;
  -webkit-transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
  transition: opacity 600ms cubic-bezier(0.61, 0.01, 0.42, 1);
}

header .ham_menu .ham-origin:active:hover div:nth-child(3):before,
header .ham_menu .ham-origin:active div:nth-child(3):before,
header .ham_menu .ham-origin:active div:nth-child(2) {
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

header .ham_menu .ham-origin:active div {
  border: 1.5px solid #fff;
  height: 0px;
  border-radius: 0%;
  margin-left: -1px;
  margin-top: 6px;
  -webkit-animation: division 300ms linear 1;
          animation: division 300ms linear 1;
  width: 25px;
  top: 0px;
}

header .ham_menu .ham-origin:active div:nth-child(2) {
  width: 0px;
}

header .ham_menu .ham-origin:active div:nth-child(3) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .ham_menu .ham-origin:active div:nth-child(1) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes atom {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes atom {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes division {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes division {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@-webkit-keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}

@keyframes ball {
  0% {
    left: -20%;
    top: 10%;
  }
  10% {
    left: 10%;
    top: -35%;
  }
  25% {
    left: 45%;
    top: -50%;
  }
  40% {
    left: 80%;
    top: -20%;
  }
  50% {
    left: 98%;
    top: 18%;
  }
  60% {
    left: 80%;
    top: 50%;
  }
  75% {
    left: 45%;
    top: 80%;
  }
  90% {
    left: 0%;
    top: 60%;
  }
  100% {
    left: -20%;
    top: 10%;
  }
}

header .menu {
  position: fixed;
  width: 100%;
  right: 0;
  top: 75px;
  bottom: 0;
  padding: 30px;
  background: rgba(184, 132, 132, 0.3);
  /* 用 translate 把選單藏到畫面右邊去 */
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  text-align: center;
}

header #nav-toggle:checked ~ .menu {
  -webkit-transform: none;
          transform: none;
}

header .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

header .menu-item + .menu-item {
  margin-top: 35px;
}

header .menu-link {
  text-decoration: none;
  color: white;
}

header .sub-menu {
  display: none;
}

header .menu-item .menu_login {
  display: none;
}

header .menu-item .menu_member {
  display: none;
}

@media screen and (max-width: 768px) {
  header .menu {
    top: 75px;
  }
  header .menu li:hover > .sub-menu {
    display: block;
  }
  header .sub-menu-check:checked ~ ul {
    display: block;
  }
  header .menu .sub-menu {
    position: relative;
    top: 100%;
  }
  header .menu .sub-menu li {
    margin-top: 10px;
  }
  header .menu-item .menu_login {
    margin: 20px;
    display: inline-block;
  }
  header .menu-item .menu_member {
    display: block;
  }
  header .header_all .header_bar .header_icon p {
    margin-top: 23px;
    font-size: 1rem;
  }
  header .header_all .header_bar .header_icon img {
    height: 20px;
    margin-top: 23px;
  }
}

footer .main_footer {
  background-color: #000;
}

footer .footer_up {
  padding: 2% 2% 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer_logo {
  width: 150px;
}

footer .footer_logo img {
  width: 150px;
}

@media (max-width: 992px) {
  footer .footer_nav {
    display: none;
  }
  footer p {
    font-size: 0.8rem;
  }
  footer .footer_txt_box {
    margin: 5% 6%;
    text-align: center;
  }
}

@media (min-width: 992px) {
  footer .footer_nav {
    /* width: 100%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  footer .footer_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 20px;
    width: 100%;
  }
  footer .footer_nav li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .footer_nav li a {
    padding: 0 10px;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
    color: #CFB886;
  }
  footer .footer_txt_box {
    margin: 2% 18%;
    text-align: center;
  }
}

footer .footer_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  width: 180px;
}

footer .footer_icon img {
  width: 60px;
}

footer p {
  font-size: 1rem;
  line-height: 1.5;
  color: #fff;
}

main section.member .container .img_box img {
  width: 100%;
  vertical-align: middle;
}

main section.member .container .img_box.sticker {
  width: 4em;
  border-radius: 50%;
  overflow: hidden;
}

main section.member .container section.item {
  padding: .5em;
}

main section.member .container section.item > * {
  height: 100%;
  width: 100%;
  outline: 1px solid #CFB886;
  padding: .5em;
}

main section.member .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
}

main section.member .container .logo .img_box {
  margin-right: 1em;
}

main section.member .container .main_member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.member .container .main_member .mem_info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.member .container .main_member .mem_info .info_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

main section.member .container .main_member .mem_info .info_box .txt_box {
  margin-left: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main section.member .container .main_member .reservation {
  width: 35%;
}

main section.member .container .main_member .reservation .reservation_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
}

main section.member .container .main_member .reservation .reservation_box .astrologist_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main section.member .container .main_member .reservation .reservation_box .astrologist_info .img_box {
  width: 5em;
}

main section.member .container .main_member .orders {
  width: 65%;
}

main section.member .container .main_member .orders .orders_box > * {
  padding: .5em;
}

main section.member .container .main_member .orders .orders_box .order_header {
  text-align: right;
}

main section.member .container .main_member .orders .orders_box .order_content > * {
  display: inline-block;
  vertical-align: middle;
}

main section.member .container .main_member .orders .orders_box .order_content .img_box {
  width: 5em;
  margin-right: 1em;
}

main section.member .container .main_member .orders .orders_box .order_footer .total {
  text-align: right;
  font-size: 1.125rem;
}

main section.member .container .main_member .orders .orders_box .other_order {
  display: block;
  width: 100%;
  text-align: center;
  border-top: 1px solid #5558;
  padding-top: .7em;
}

main section.member .container .main_member .comment {
  width: 50%;
}

main section.member .container .main_member .comment .comment_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.member .container .main_member .comment .comment_box .reservation_info {
  padding: 0.5em;
}

main section.member .container .main_member .comment .comment_box .reservation_info .img_box {
  margin: auto;
}

main section.member .container .main_member .comment .comment_box .reservation_info .txt_box {
  margin-top: 0.5em;
  text-align: center;
}

main section.member .container .main_member .comment .comment_box:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main section.member .container .main_member .message {
  width: 50%;
}

main section.member .container .main_member .message .message_box {
  padding: 1em;
}

main section.member .container .main_member .message .message_box .article_info {
  position: relative;
  padding: .5em;
  background-color: #5558;
}

main section.member .container .main_member .message .message_box .article_info:not(:first-child) {
  margin-top: .5em;
}

main section.member .container .main_member .message .message_box .article_info:before {
  content: attr(data-newMsg);
  display: inline-block;
  position: absolute;
  top: .5em;
  right: .5em;
  width: 1.5em;
  line-height: 1.5em;
  vertical-align: bottom;
  text-align: center;
  background-color: #d89482;
  color: #fff;
  border-radius: 50%;
}

main section.member .container .login_box {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 3em;
  outline: 1px solid #CFB886;
  border-radius: 1em;
}

main section.member .container .login_box .login_info .item {
  margin-bottom: 1em;
}

main section.member .container .login_box .login_info button {
  width: 100%;
}

main section.member .container .sign_up_box {
  padding: 1em;
}

main section.member .container .sign_up_box .item {
  margin-bottom: 1em;
}

main section.member .container .sign_up_box .item input[type=text],
main section.member .container .sign_up_box .item input[type=password],
main section.member .container .sign_up_box .item input[type=email],
main section.member .container .sign_up_box .item button {
  width: 100%;
}

/* === 星座頁籤 by JC === */
main {
  /* 討論區 by JC */
}

@media (max-width: 767px) {
  main .pagination_nav {
    display: none;
  }
}

main .pagination_nav .container ul {
  padding: 2% 8.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .pagination_nav .container label {
  margin: 12px;
  padding: 6px 15px;
  line-height: 2;
  border: 1px solid #CFB886;
  color: #CFB886;
  border-radius: 10px;
  cursor: pointer;
}

main .discuss img {
  vertical-align: top;
}

@media (min-width: 768px) {
  main .discuss .owl-carousel {
    display: none;
  }
}

main .discuss .container {
  padding: 2% 8.33333%;
  width: 100%;
  margin: auto;
}

main .discuss .content_head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .discuss .content_head .content_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.2em;
}

@media (max-width: 767px) {
  main .discuss .content_head .content_header {
    width: 100%;
  }
}

main .discuss .content_head .content_header .search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 1.5em;
}

@media (max-width: 767px) {
  main .discuss .content_head .content_header .search_bar {
    text-align: left;
    width: 100%;
  }
}

main .discuss .content_head .content_header .search_bar input:nth-child(1) {
  width: 85%;
}

@media (max-width: 767px) {
  main .discuss .content_head .content_header .search_bar input:nth-child(1) {
    width: 75%;
  }
}

main .discuss .content_head .content_header .search_bar .third_btn {
  padding: 0.2em 0.5em;
  margin-left: 1em;
}

@media (max-width: 767px) {
  main .discuss .content_head .content_header .search_bar .third_btn {
    padding: 0.2em 0.5em;
  }
}

main .discuss .content_head .content_header .icon_btn {
  width: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .discuss .content_head .content_header .icon_btn img {
  margin: 0 0.1em;
}

main .discuss .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  /* 左欄文章分類 */
  /* 文章卡片 */
}

main .discuss .content .content_cate {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  text-align: center;
  width: 20%;
}

@media (max-width: 767px) {
  main .discuss .content .content_cate {
    width: 0;
  }
}

main .discuss .content .content_cate li {
  margin: 0.3em 0;
}

@media (max-width: 767px) {
  main .discuss .content .content_cate ul {
    display: none;
  }
}

main .discuss .content .content_article {
  border: 1px solid #CFB886;
  background-color: transparent;
  border-radius: 10px;
  width: 80%;
  padding: 3em;
}

@media (max-width: 767px) {
  main .discuss .content .content_article {
    width: 100%;
  }
}

main .discuss .content .content_article .content_wrap {
  width: 100%;
}

main .discuss .content .content_article .content_wrap .content_label {
  margin-bottom: 1em;
}

main .discuss .content .content_article .content_wrap .content_label label {
  border: 1px solid #CFB886;
  padding: 0.5em 1.6em;
  margin: 0.2em 0.2em 1em 0;
  border-radius: 2px;
  cursor: pointer;
}

main .discuss .content .content_article .content_wrap .content_main .article_cards {
  border: 1px solid #CFB886;
  background-color: transparent;
  -webkit-backdrop-filter: opacity(80%);
          backdrop-filter: opacity(80%);
  padding: 2em;
  border-radius: 5px;
  margin: 1em 0;
  cursor: pointer;
}

main .discuss .content .content_article .content_wrap .content_main .line_top span {
  color: #000;
  background-color: #d89482;
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
}

main .discuss .content .content_article .content_wrap .content_main .line_top p {
  color: #fff;
  display: inline-block;
}

main .discuss .content .content_article .content_wrap .content_main .line_middle {
  margin-bottom: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .discuss .content .content_article .content_wrap .content_main .line_middle .line_middle_txt h3 {
  color: #CFB886;
  font-weight: 500;
  margin: 0.3em 0;
}

main .discuss .content .content_article .content_wrap .content_main .line_middle .line_middle_txt p {
  color: #aaa;
}

main .discuss .content .content_article .content_wrap .content_main .line_middle .line_middle_pic img {
  border-radius: 10px;
}

@media (max-width: 767px) {
  main .discuss .content .content_article .content_wrap .content_main .line_middle .line_middle_pic img {
    display: none;
  }
}

main .discuss .content .content_article .content_wrap .content_main .line_bottom img {
  margin-right: 1em;
}

main .discuss .content .content_article .content_wrap .content_main .content_pages {
  text-align: right;
}

main .discuss .content .content_article .content_wrap .content_main .content_pages button {
  margin: 0.2em 0 0.2em 0.2em;
}

main .discuss .content .content_article .line_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .back .img_box img {
  width: 100%;
  display: block;
}

body .back .link_panel {
  width: 15em;
}

body .back .link_panel .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em 0;
}

body .back .link_panel .logo .img_box {
  width: 3em;
  border-radius: 50%;
  overflow: hidden;
}

body .back .link_panel .logo .txt_box {
  margin-left: 1em;
  padding: 0.5em 0;
}

body .back .link_panel .link_list li {
  width: 100%;
  padding: .5em 2em;
  text-align: center;
}

body .back .link_panel .link_list li a {
  display: block;
}

body .contain {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  min-height: 100vh;
  background-color: #5558;
}

body .contain header {
  position: fixed;
  right: 0;
  left: 0;
  height: 4em;
  background-color: #0003;
}

body .contain header button {
  display: block;
  position: absolute;
  top: 50%;
  right: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

body .contain main .container {
  padding: 5em 3em;
}

body .contain main .container .action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

body .contain main .container .action > *:not(:first-child) {
  padding-left: .5em;
}

body .contain main .container table tr {
  border: 1px solid #CFB886;
}

body .contain main .container table tr th,
body .contain main .container table tr td {
  text-align: center;
  border: 1px solid #CFB886;
  padding: .5em 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

body .contain main .container table tr th {
  position: relative;
  background-color: #CFB886;
  color: #000;
  cursor: pointer;
}

body .contain main .container table tr th:not(:first-child):before {
  content: '';
  position: absolute;
  right: .3em;
  top: 30%;
  width: 0;
  height: 0;
  border-left: .2em solid transparent;
  border-right: .2em solid transparent;
  border-bottom: .3em solid black;
}

body .contain main .container table tr th:not(:first-child):after {
  content: '';
  position: absolute;
  right: .3em;
  bottom: 30%;
  width: 0;
  height: 0;
  border-left: .2em solid transparent;
  border-right: .2em solid transparent;
  border-top: .3em solid black;
}

body .contain main button {
  padding: .5em 1em;
}

* {
  font-family: 'Cinzel','Shippori Mincho', serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #CFB886;
}

body {
  background-color: #000;
}

body main > section {
  width: 100%;
  margin: auto;
  position: relative;
}

body main > section > .container {
  width: 100%;
  padding: 0 8.333333%;
  margin: auto;
}

/* ===== 按鈕 ===== */
/* --- 主按鈕 --- */
/* 要花錢的按鈕 購買、預約 */
.primary_btn {
  border-radius: 12px;
  color: #000;
  letter-spacing: 2px;
  background-color: #d89482;
  border: 1px solid #d89482;
  display: inline-block;
  padding: 0.8em 2em;
  white-space: nowrap;
  cursor: pointer;
}

/* --- 二級按鈕 --- */
/* 跳轉頁的button */
/* 首頁--商品瀏覽、占卜師瀏覽 */
/* 體驗占卜--線上占卜、再看一次、推薦商品 */
/* 線上占卜--其他問題、預約占卜師、推薦商品 */
/* 星座--開始測驗 */
/* 預約占卜--開始預約、確認預約、下一步、確認 */
/* 登入註冊 */
.secondary_btn {
  border-radius: 12px;
  color: #CFB886;
  letter-spacing: 2px;
  background-color: transparent;
  border: 1px solid #CFB886;
  display: inline-block;
  padding: 0.8em 2em;
  white-space: nowrap;
  cursor: pointer;
}

/* 頁籤 */
/* 預約占卜--頁籤(線上或實體) */
/* 星座--頁籤 */
/* 占卜師專區--星級頁籤 */
/* 占卜師專區--分析資料頁籤 */
.selected_btn {
  color: #000;
  letter-spacing: 3px;
  background-color: #CFB886;
  border: 1px solid #CFB886;
  text-align: center;
  line-height: 40px;
  padding: 0.5em 3em;
  cursor: pointer;
}

.unselected_btn {
  color: #fff;
  letter-spacing: 3px;
  background-color: transparent;
  border: 1px #CFB886 solid;
  text-align: center;
  line-height: 40px;
  padding: 0.5em 3em;
  cursor: pointer;
}

/* --- 三級按鈕 --- */
/* 發表/檢舉文章按鈕 */
/* 會員--修改資料、新增休假資料、取消 */
/* 占卜師專區--接受、拒絕 */
/* 星座--測驗選項(要加固定寬) */
.third_btn {
  letter-spacing: 2px;
  border-radius: 12px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  padding: 0.8em 2em;
  cursor: pointer;
}

.third_btn:hover {
  color: #CFB886;
  background-color: transparent;
  border: 1px solid #CFB886;
}

/* --- 其他按鈕 --- */
/* icon線條顏色--#fff */
.other_btn {
  color: #CFB886;
  border-radius: 50%;
  border: 1px solid #CFB886;
  background-color: transparent;
  display: inline-block;
  width: 4em;
  height: 4em;
  white-space: nowrap;
  cursor: pointer;
}

/* ===== 文字 ===== */
/*==== 手機板字體大小一定要加這個html ====*/
@media screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

/*==== 手機板字體大小一定要加這個html ====*/
h1 {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  color: #fff;
}

h2 {
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: #CFB886;
}

h3 {
  font-size: 1.75rem;
  letter-spacing: 0.1rem;
  line-height: 1.5;
  color: #CFB886;
}

h4 {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  color: #CFB886;
}

p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #CFB886;
  cursor: pointer;
}

a:hover {
  color: #d89482;
}

span {
  color: #d89482;
}

label:not(.no_style) {
  color: #CFB886;
  padding: 2px 5px;
  line-height: 2;
}

input {
  border: 1px #CFB886 solid;
  background-color: transparent;
  border-radius: 5px;
  color: #CFB886;
  padding: 2px 5px;
  outline: none;
}

select {
  border: 1px #CFB886 solid;
  border-radius: 5px;
  color: #CFB886;
  padding: 2px 5px;
}
/*# sourceMappingURL=style.css.map */