.tarot_books{
	display: flex;
	margin: 2em 0;
}
.tarot_book_intro .img_box{
	padding: 0.5em 0;
	width: 60%;
	margin: auto;
}
.tarot_book_intro h2{
	position: relative;
}
.tarot_book_intro p{
	text-align: left;
}


#tarotbook .turn-page{
	background: linear-gradient(180deg, #73737A 3%, #939399 10%);
	background: -moz-linear-gradient(180deg, #73737A 3%, #939399 10%);
	background: -webkit-linear-gradient(180deg, #73737A 3%, #939399 10%);
	background: -o-linear-gradient(180deg, #73737A 3%, #939399 10%);

	background-size: 100% 100%;
}

/* #tarotbook .first_page{
	background-image: url("../images/be_teller/tarot_books_new.svg");
	background-size: cover;
} */
#tarotbook .img_box{
	width: 30%;
	margin: auto;
	padding: 1.5em 0;
}
#tarotbook .img_box img{
	width: 100%;
}
#tarotbook .txt_box{
	padding: 1em 1.5em;
}

@media screen and (min-width:1200px) {
	#tarotbook .first_page{
		background-image: url("../images/be_teller/tarot_books.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}
	#tarotbook{
		margin: auto;
		width: 100%;
		height: 560px;
	}
	.tarot_book_intro {
		position: absolute;
		width: 40%;
		height: 560px;
		box-sizing: border-box;
		border: 1px solid #CFB886;
		border-radius: 0.5em;
		text-align: center;
		padding: 3em 1.5em;
	}
	.tarot_books .here{
		position: absolute;
		top: -2em;
		right: 8em;
	}
}

@media screen and (max-width:768px) {
	.tarot_book_intro {
		position: relative;
		width: 90%;
		height: 100%;
		box-sizing: border-box;
		border: 1px solid #CFB886;
		border-radius: 0.5em;
		text-align: center;
		padding: 3em 1.5em;
		margin: auto;
	}
	#tarotbook{
		margin: auto;
		width: 95%;
		height: 460px;
		border-radius: 0.5em;
		margin: 2.5em auto 0;
	}
	#tarotbook .first_page{
		background-image: url("../images/be_teller/tarot_books3.svg");
		background-size: cover;
	}
	.tarot_books .here{
		position: relative;
		top: 2em;
		text-align: right;
	}
}