.tarot_nav .container ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.tarot_nav .container ul li{
  margin: 1em;
}
.tarot_nav .container label{
  margin: .9em;
  padding: .5em 1em;
  border: 1px solid #CFB886;
  border-radius: .5em;
  cursor: pointer;
}
.tarot_nav .container label:hover{
  background-color: #CFB886;
  color: #000;
  transition: .3s;
}

@media screen and (max-width: 768px) {
  .tarot_nav{
      display: none;
  }
}

/* =============================================== */

.teller_pic{
  padding-top: 4.5em;
  overflow: hidden;
}

.teller_pic .container {
  margin: 0 auto;
  width: 200px;
  height: 300px;
  perspective: 1000px;
  padding: 0;
}

.item_box {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
  height: 100%;
}

.teller_pic .container .item_box .item {
  display: block;
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
}
.teller_pic .container .item_box .item img{  
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.teller_pic .item_box .item:nth-child(1) {
  transform: rotateY(0deg) translateZ(250px);
  background: #ed1c24;
}
section.teller_pic .item_box .item:nth-child(2) {
  transform: rotateY(60deg) translateZ(250px);
  background: #0072bc;
}
section.teller_pic .item_box .item:nth-child(3) {
  transform: rotateY(120deg) translateZ(250px);
  background: #39b54a;
}
section.teller_pic .item_box .item:nth-child(4) {
  transform: rotateY(180deg) translateZ(250px);
  background: #f26522;
}
section.teller_pic .item_box .item:nth-child(5) {
  transform: rotateY(240deg) translateZ(250px);
  background: #630460;
} 
section.teller_pic .item_box .item:nth-child(6) {
  transform: rotateY(300deg) translateZ(250px);
  background: #8c6239;
}
/* 占卜師介紹 */
.teller_info .container{
  text-align: center;
}
.teller_info .container .teller_name p i{
  color: #fff;
} 
.teller_info .container .txt_box{
  margin-top: 1em;
  padding: 1em;
}
.teller_name button{
  margin: 0 1em;
}
.reservation_btn{
  margin-top: 1em;
}

/* 占卜師總覽 */
.teller_overview .container .row{
  display: flex;
  flex-wrap: wrap;
}
.teller_overview .container .row .item{
  width: 50%;
  padding: 1em;
}
.teller_overview .container .row .item .img_box{
  height: 100%;
  padding: 1em;
}
.teller_overview .container .row .item .txt_box{
  text-align: center;
}
.teller_overview .container .row .item .img_box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
} 

@media screen and (min-width:768px){
  .teller_overview .container .row .item{
    width: 33.333333%;
  }
}
@media screen and (min-width:992px){
  .teller_overview .container .row .item{
    width: 25%;
  }
  .teller_overview .container .row .item .img_box{
    padding: 1.5em;
  }
}
