main{
    .search_box{
        width: 100%;
        padding:2em 0;
        .search{
            width: 30%;
        }
        .secondary_btn{
            padding: 0.5em 2em;
        }
    }
    .mem_orders{
        .order_list{
            .order_item{
                border: 1px solid #CFB886;
                padding: 0.5em;
                margin: 1em 0; 
                .order_header{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
        .order_content{
            .item{
                padding: 2em;
                .img_box{
                    width: 10em;
                    display: inline-block;
                }
                .txt_box{
                    margin-left: 2em;
                    width: 78%;
                    display: inline-block;
                    .info{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        span{
                            padding:1em 0;
                        }
                    }
                }
            }
        }
        .order_item{
            .order_footer{
                padding: 2em;
                .item{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    padding: 1em 0;
                }
            }
        }
            
    }
}