@import "base/var";
@import "layout/header";
@import "layout/footer";
@import "page/member";
* {
    font-family: 'Cinzel','Shippori Mincho', serif;
    box-sizing: border-box;
}
body {
    background-color: map-get($primary_color, 'bg');
    section {
        width: 100%;
        margin: auto;
        position: relative;
        .container {
            width: 100%;
            padding: 0 8.333333%;
            margin: auto;
        }
    }
}