<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>解星鏡 Mistro | 網站管理</title>
    <!-- 瀏覽器頁籤圖示由 common.js 插入 by PIN -->
</head>
<body>
    <section id="app" class="back container">
        <!-- 管理選項bar -->
        <aside class="link_panel">
            <!-- logo -->
            <div class="logo">
                <div class="img_box">
                    <img src="images/logo_ico_square.ico" alt="logo">
                </div>
                <div class="txt_box">
                    <h2>Mistro</h2>
                </div>
            </div>

            <!-- 左側邊欄 管理選項 -->
            <ul class="link_list">
                <li v-for="(item, tableName) in manageItem">
                    <a class="unselected_btn" @click="getCol($event, tableName, item)">{{item.tableName}}</a>
                </li>
            </ul>
        </aside>

        <!-- 管理內容區 -->
        <div class="contain">
            <!-- 登出 -->
            <header>
                <div class="burger"></div>
                <button class="third_btn">登出</button>
            </header>

            <!-- 管理內容 -->
            <main>
                <div class="container">
                    <!-- 表格上方操作列 -->
                    <div class="action">
                        <button class="primary_btn">新增會員</button>
                        <div>
                            顯示
                            <select>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="all">all</option>
                            </select>
                            筆
                        </div>
                    </div>
                    
                    <!-- 資料內容 -->
                    <table>
                        <tr>
                            <th scope="col"><input type="checkbox"></th>
                            <th scope="col" v-for="col in selectCol">{{col}}</th>
                        </tr>
                        <tr v-for="row in queryResult">
                            <td><input type="checkbox"></td>
                            <td v-for="col in row">{{col}}</td>
                        </tr>
                        <tr v-if="!queryResult">
                            <td><input type="checkbox"></td>
                            <td :colspan="selectCol.length">查無資料</td>
                            <!-- 轉json?? -->
                        </tr>
                    </table>

                </div>
            </main>

            <!-- contain footer -->
            <!-- <footer>
            </footer> -->
        </div>
    </section>
</body>
</html>

<script src="js/common.js"></script>
<script src="js/jquery.js"></script>
<script src="js/vue.js"></script>
<script>
    $(document).ready(function() {

        // ==================================================
        // MEMAGEITEM 左側邊欄 管理選項
        // ==================================================
        // 資料表名稱:{
        //     table: '左側欄顯示的選項名稱',
        //     showCol: {
        //         資料表欄位名稱: '顯示在content的欄位名稱'
        //     }
        // }
        // ==================================================
        const MANAGEITEM = {
            // 帳號管理
            admin: {
                tableName: '帳號管理',
                showCol: {
                    adminId: '管理者帳號',
                    adminName: '管理者姓名',
                    status: '狀態'
                }
            },

            // 會員管理
            members: {
                tableName: '會員管理',
                showCol: {
                    memId: '會員帳號',
                    memName: '會員姓名',
                    sex: '性別',
                    birthday: '生日',
                    identity: '身分',
                    status: '狀態'
                }
            }
        }
        // ==================================================

        new Vue({
            el: '#app',
            data: {
                // 管理欄位
                manageItem: MANAGEITEM,
                selectCol: {},
                queryResult: {}
            },
            methods: {
                // 依選擇項目取得資料表
                getCol(e, selectTable, selectItem) {
                    // 取得資料表欄位名稱
                    this.selectCol = selectItem.showCol;
                    
                    // 改為sql查詢格式，post至server
                    let queryCol = Object.keys(selectItem.showCol).join(',');
                    
                    let thisVue = this;
                    $.ajax({
                        type: 'POST',
                        url: 'php/back_getCol.php',
                        data: {
                            table: selectTable,
                            queryCol: queryCol
                        },
                        success: function(data) {
                            thisVue.queryResult = data.msg;
                        },
                        error: function() {
                            console.log('error');
                        }
                    });
                }

            }
        });
    });
</script>