    <section class="pagination_nav">
        <div class="container">
            <ul>
                <li v-for="(url, nav) in urls"><a :href="url"><label>{{nav}}</label></a></li>
            </ul>
        </div>
    </section>

    <script>
        new Vue({
                el: '#app',
                data: { //變數放這
                    urls: {
                        '今日運勢': 'con_today_fortune.html',
                        '星座配對': 'con_pair.html',
                        '真實星座': 'con_real_constellation.html',
                        '星盤推算': 'astrolabe.html',
                        '星座故事': 'con_story.html',
                        '星座討論區': 'discuss.html',
                    },
                    navs: ['今日運勢','星座配對','真實星座','星盤推算','星座故事','星座討論區'],
                },
            });
    </script>