<!-- 網頁尾  by NJ-->
<footer class="main_footer">
    <hr>
    <div class="footer_up">
        
        <a href="#" class="footer_logo">
            <img src="/images/logo_golden.png" alt="解星鏡logo">
        </a>
        
        <div class="footer_nav">
            <ul>
                <li><a href="#">介紹</a></li>
                <li><a href="#">占卜</a></li>
                <li><a href="#">星座</a></li>
                <li><a href="#">熱門占卜師</a></li>
                <li><a href="#">主打商品</a></li>
                <li><a href="#">會員中心</a></li>
            </ul>
        </div>

        <div class="footer_icon">
            <a href=""><img src="images/icon-fb.png" alt=""></a>
            <a href=""><img src="images/icon-ig.png" alt=""></a>
            <a href=""><img src="images/icon-yt.png" alt=""></a>
        </div>
    </div>

    <div class="footer_down">
        <div class="footer_txt_box">
            <p>
                本網站為緯育TibaMe_前端設計工程師班第73期第五組學員專題成果作品，本平台僅供學習、展示之用。若有牴觸有關著作權，或有第三人主張侵害智慧財產權等情事，若有侵權疑慮，請私訊
                <a href="https://www.tibame.com/goodjob/frontend">[TibaMe-前端設計工程師養成班]</a>，後續由專人協助處理。
                <br>
                <br>
                Copyright © 2022 ft. All rights reserved.
            </p>
        </div>
    </div>
</footer>