<!-- 網頁尾  by NJ-->
<footer class="main_footer">
    <div class="footer_container">
        <div class="footer_info">
            <!-- LOGO -->
            <div class="footer_logo img_box">
                <a href="homepage.html">
                    <img src="./images/logo_white.svg" alt="解星鏡logo">
                </a>
            </div>
            <div class="footer_up">
                <div class="footer_nav">
                    <ul>
                        <li><a href="be_tellers.html">塔羅介紹</a></li>
                        <li><a href="online_divination.html">線上占卜</a></li>
                        <li><a href="teller_mem.html">預約占卜師</a></li>
                        <li><a href="con_today_fortune.html">星座運勢</a></li>
                        <li><a href="shop.html">商城</a></li>
                        <li><a href="member.html">會員中心</a></li>
                    </ul>
                </div>
                <div class="footer_icon">
                    <a href="#"><img src="./images/footer/icon-fb.png" alt="facebook icon"></a>
                    <a href="#"><img src="./images/footer/icon-ig.png" alt="instagram icon"></a>
                    <a href="#"><img src="./images/footer/icon-yt.png" alt="youtube icon"></a>
                </div>
            </div>
        </div>
        <div class="footer_down">
            <div class="footer_txt_box">
                <p>
                    本網站為緯育TibaMe_前端設計工程師班第73期第五組學員專題成果作品，本平台僅供學習、展示之用。<br>若有牴觸有關著作權，或有第三人主張侵害智慧財產權等情事，若有侵權疑慮，請私訊
                    <a href="https://www.tibame.com/goodjob/frontend">[TibaMe-前端設計工程師養成班]</a>，後續由專人協助處理。
                    <br>
                    <br>
                    Copyright © 2022 ft. All rights reserved.
                </p>
            </div>
        </div>
        
    </div>
    
    

    
</footer>