<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&amp;family=Shippori+Mincho:wght@400;500;600;700;800&amp;display=swap">
    
    <!-- 瀏覽器頁籤 -->
    <link rel="shortcut icon" href="images/logo_ico_square.ico">
    <title>解星鏡 Mistro | @@title</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- owl -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">

    
@@include('../layout/script.html')
</head>
