<!-- 網頁頭 by NJ-->
<header class="main_header" id="mainHeader">
    
    <input id="nav_toggle" type="checkbox">
    <!-- main logo -->
    <div class="header_all">
        <!-- main logo -->
        <div class="header_img_box">
            <a href="homepage.html" class="logo">
                <img src="./images/index_logo_golden-02.png" alt="首頁mistro logo">
            </a>
        </div>
            <!-- icon -->
        <div class="header_bar">
            <div class="header_icon">
                <a href="test.html" class="pc_login"><p>登入</p></a>
                <a href="member.html" class="pc_login"><img src="./images/header/header_icon_member.svg" alt="會員icon"></a>
                <a href="shopping_cart.html"><img src="./images/header/header_icon_shooping_cart.svg" alt="購物車icon"></a>
            </div>
        

            <!-- 漢堡 -->
            <div class="ham_menu">
                <label for="nav_toggle" class="ham no_style">
                    <div class="ham_origin">
                        <!-- 漢堡的槓槓 -->
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </label>
            </div>

  
        </div>
    </div>

    <!-- 電腦選單 -->
    <nav class="menu">
        <div class="crystal_ball">
        </div>
        <div class="rotate_card">
            <a href="be_tellers.html">
                <div class="menu_card tarot"></div>
            </a>
            <a href="con_today_fortune.html">
                <div class="menu_card zodiac"></div>
            </a>
            <a href="shop.html">
                <div class="menu_card shop"></div>
            </a>
        </div>
        <!-- 手機選單 -->
        <ul class="menu_list">
            <li class="menu_item">
                <a class="menu_link">塔羅</a>
                <ul class="sub_menu">
                    <li><a href="be_tellers.html">體驗占卜師</a></li>
                    <li><a href="online_divination.html">線上占卜</a></li>
                    <li><a href="teller_reservation.html">預約占卜師</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="menu_link">星座</a>
                <ul class="sub_menu">
                    <li><a href="con_today_fortune.html">今日運勢</a></li>
                    <li><a href="con_pair.html">星座配對</a></li>
                    <li><a href="con_real_constellation.html">真實星座</a></li>
                    <li><a href="astrolabe.html">星盤推算</a></li>
                    <li><a href="con_story.html">星座故事</a></li>
                    <li><a href="discuss.html">星座討論區</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="menu_link" href="shop.html">商城</a>
            </li>
            <li class="menu_item">
                <a class="menu_link menu_member" href="#">會員專區</a>
                <ul class="sub_menu">
                    <li><a href="member.html">個人資訊</a></li>
                    <li><a href="mem_orders.html">我的訂單</a></li>
                    <li><a href="teller_mem.html">占卜師專區</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="menu_link menu_login" href="test.html">登入</a>
                <a class="menu_link menu_login" href="test.html">註冊</a>
            </li>
        </ul>
    </nav>

</header>