<section class="login display_none" id="loginSection">
    <div class="container">

        <input type="checkbox" class="display_none" id="reg_log" name="reg_log">

        <section class="card_box" id="cardBox">
            <!-- 切換器 -->
            <div class="switch_box">
                <div class="select_title">
                    <h3 class="item">登入</h3>
                    <h3 class="item">註冊</h3>
                </div>
                <div class="item">
                    <label class="switch" for="reg_log"></label>
                </div>
            </div>

            <!-- 旋轉式卡片 -->
            <div class="rotate_3d_box">
                <!-- 卡片正面: 登入 -->
                <div class="card_item card_font">
                    <!-- 切換登入/註冊 -->
                    <div class="card_header"></div>
                    
                    <!-- 帳號密碼輸入框 -->
                    <div class="card_content">
                        <div class="content_box">
                            <!-- 帳號 -->
                            <div class="item login_account">
                                <i class="input-icon uil uil-user"></i>
                                <input type="text" name="memId" id="login_memId" placeholder="帳號">
                            </div>
    
                            <!-- 密碼 -->
                            <div class="item login_password">
                                <i class="input-icon uil uil-lock-alt"></i>
                                <input type="password" name="memPwd" id="login_memPwd" placeholder="密碼">
                            </div>
    
                        </div>
                    </div>
                    
                    <!-- 登入/忘記密碼 -->
                    <div class="card_footer">
                        <div class="action">
                            <button class="secondary_btn login_btn">登入</button>
                            <div class="txt_box">
                                <a class="forgot_pwd" href="#">忘記密碼?</a>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- 卡片背面: 註冊 -->
                <div class="card_item card_back">
                    <!-- 切換登入/註冊 -->
                    <div class="card_header">
                        <!-- 切換登入/註冊 -->
                        <div class="card_header"></div>
                    </div>
                    <!-- 帳號密碼輸入框 -->
                    <div class="card_content">
                        <div class="content_box">

                            <!-- 帳號資訊 -->
                            <div class="account_info">
                                <!-- 帳號 -->
                                <div class="item account">
                                    <i class="input-icon uil uil-user"></i>
                                    <input type="text" name="memId" id="memId" placeholder="請輸入帳號" autocomplete="off">
                                </div>
                                <!-- 驗證 -->
                                <div class="item verify">
                                    <ul>
                                        <li>帳號為必填欄位</li>
                                        <li>帳號須為小寫英文、數字或底線的組合</li>
                                    </ul>
                                </div>
        
                                <!-- 密碼 -->
                                <div class="item password">
                                    <i class="input-icon uil uil-lock-alt"></i>
                                    <input type="password" name="memPwd" id="memPwd" minlength="6" placeholder="請輸入密碼">
                                </div>
                                <!-- 驗證 -->
                                <div class="item verify">
                                    <ul>
                                        <li>請輸入6位以上密碼</li>
                                        <li>一個大寫英文字母</li>
                                        <li>一個小寫英文字母</li>
                                        <li>一個數字</li>
                                    </ul>
                                </div>
    
                                <!-- 確認密碼 -->
                                <div class="item confirm_pwd">
                                    <i class="input-icon uil uil-lock-alt"></i>
                                    <input type="password" name="confirm_pwd" id="confirm_pwd" placeholder="再次輸入密碼">
                                </div>
                                <!-- 驗證 -->
                                <div class="item verify">
                                    <ul>
                                        <li>密碼為必填欄位</li>
                                    </ul>
                                </div>
                            </div>

                            <!-- 基本資訊 -->
                            <div class="mem_info">
                                <!-- 大頭貼 -->
                                <div class="item memImage">
                                    
                                    <label for="memImage">
                                        <div class="img_box">
                                            <img src="images/icon/icon_discuss_mine.svg" alt="預設大頭貼" id="memImgBox">
                                        </div>
                                        <span>上傳大頭貼</span>
                                    </label>

                                    <input type="file" name="memImage" id="memImage" class="display_none">
                                    
                                </div>

                                <!-- 姓名 -->
                                <div class="item memName">
                                    <i class="input-icon uil uil-user"></i>
                                    <input type="text" name="memName" id="memName" placeholder="請輸入姓名" autocomplete="off">
                                </div>
                                <!-- 驗證 -->
                                <div class="item verify">
                                    <ul>
                                        <li>姓名不可為空</li>
                                    </ul>
                                </div>

                                <!-- 身分 -->
                                <input type="radio" name="sex" id="male" class="display_none" value="男" checked>
                                <input type="radio" name="sex" id="female" class="display_none" value="女">
                                <div class="item sex">
                                    <i class="fa-solid fa-person"></i>
                                    <i class="uil uil-golf-ball male"></i>
                                    <label class="male_txt" for="male">男性</label>
                                    <i class="uil uil-golf-ball female"></i>
                                    <label class="female_txt" for="female">女性</label>
                                </div>
    
                                <!-- 信箱 -->
                                <div class="item email">
                                    <i class="uil uil-envelope"></i>
                                    <input type="email" name="email" id="email" placeholder="abc@example.com">
                                </div>
                                <!-- 驗證 -->
                                <div class="item verify">
                                    <ul>
                                        <li>E-mail不可為空</li>
                                        <li>請輸入有效的E-mail</li>
                                    </ul>
                                </div>
    
                                <!-- 生日 -->
                                <div class="item birthday">
                                    <label for="birthday">
                                        <label>生日</label>
                                        <input type="date" name="birthday" id="birthday">
                                    </label>
                                </div>
    
                                <!-- 電話 -->
                                <div class="item tel">
                                    <i class="uil uil-phone"></i>
                                    <input type="tel" name="tel" id="tel" placeholder="請輸入手機號碼">
                                </div>
                                <!-- 驗證 -->
                                <div class="item verify">
                                    <ul>
                                        <li>請輸入正確的手機號碼格式</li>
                                    </ul>
                                </div>
                                
                                <!-- 身分 -->
                                <input type="radio" name="identity" id="general" class="display_none" value="一般會員" checked>
                                <input type="radio" name="identity" id="astrologist" class="display_none" value="占卜師">
                                <div class="item identity">
                                    <i class="uil uil-chat-bubble-user"></i>
                                    <i class="uil uil-golf-ball general"></i>
                                    <label class="general_txt" for="general">一般會員</label>
                                    <i class="uil uil-golf-ball astrologist"></i>
                                    <label class="astrologist" for="astrologist">占卜師</label>
                                </div>
                            </div>

                            <!-- 占卜師資訊 -->
                            <div class="astrologist_info">
                                <!-- 占卜師介紹 -->
                                <div class="item introduction">
                                    <i class="uil uil-comment-dots"></i>
                                    <label>請輸入自我介紹</label>
                                    <textarea></textarea>
                                </div>
    
                                <!-- 占卜師證照 -->
                                <div class="item certificate">
                                    <i class="input-icon uil uil-user"></i>
                                    <label>請上傳占卜師證照</label><br>
                                    <input type="file" id="certificate">
                                </div>
                            </div>

                        </div>
                    </div>
                    
                    <!-- 登入/忘記密碼 -->
                    <div class="card_footer">
                        <div class="action">
                            <button class="last_step third_btn display_none">上一步</button>
                            <button class="next_step secondary_btn">下一步</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
</section>