<!-- jquery -->
<script src="js/jquery.min.js"></script>

<!-- vue -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.js' integrity='sha512-pSyYzOKCLD2xoGM1GwkeHbdXgMRVsSqQaaUoHskx/HF09POwvow2VfVEdARIYwdeFLbu+2FCOTRYuiyeGxXkEg==' crossorigin='anonymous'></script>
<!-- <script src="js/vue.min.js"></script> -->

<!-- owl.carousel -->
<script src="js/owl.carousel.min.js"></script>

<!-- gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

<!-- font_awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- 自訂義 -->
<script src="js/header.js"></script>
<script src="js/common.js"></script>