body {
    .back {
        // === 後台共用 === //
        // 圖片填滿圖片盒子
        .img_box {
            img {
                width: 100%;
                display: block;
            }
        }
        // 按鈕內文字不換行
        .selected_btn,
        .unselected_btn {
            padding: .5em 1em;
        }
        // END

        display: flex;

        .link_panel {
            width: 15em;

            // logo框
            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5em 0;
                .img_box {
                    width: 3em;
                    border-radius: 50%;
                    overflow: hidden;
                }
                .txt_box {
                    margin-left: 1em;
                    padding: 0.5em 0;
                }
            }

            .link_list {
                li {
                    width: 100%;
                    padding: .5em 2em;
                    text-align: center;
                    a {
                        display: block;
                    }
                }
            }
        }
    }
    .contain {
        flex-grow: 1;
        flex-shrink: 0;
        position: relative;
        min-height: 100vh;
        background-color: #5558;
        
        header {
            position: fixed;
            right: 0;
            left: 0;
            height: 4em;
            background-color: #0003;

            button {
                display: block;
                position: absolute;
                top: 50%;
                right: 1em;
                transform: translateY(-50%);
            }
        }
        main {
            .container {
                padding: 5em 3em;
                .action {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1em;
                    > *:not(:first-child) {
                        padding-left: .5em;
                    }
                }
    
                table {
                    tr {
                        border: 1px solid map-get($primary_color ,'content');
                        th,
                        td {
                            text-align: center;
                            border: 1px solid map-get($primary_color ,'content');
                            padding: .5em 1em;
                            flex-shrink: 0;
                        }
                        th {
                            position: relative;
                            background-color: map-get($primary_color ,'content');
                            color: #000;
                            cursor: pointer;
                        }
                        th:not(:first-child):before {
                            content: '';
                            position: absolute;
                            right: .3em;
                            top: 30%;
                            width: 0; 
                            height: 0; 
                            border-left: .2em solid transparent;
                            border-right: .2em solid transparent;
                            border-bottom: .3em solid black;
                        }
                        th:not(:first-child):after {
                            content: '';
                            position: absolute;
                            right: .3em;
                            bottom: 30%; 
                            width: 0; 
                            height: 0; 
                            border-left: .2em solid transparent;
                            border-right: .2em solid transparent;
                            border-top: .3em solid black;
                        }
                    }
                }
            }
            button {
                padding: .5em 1em;
            }
        }

        footer {

        }
    }
}