// main {
//     section.member {
//         .container {
//             section.main_astrologist {

            #schedule {
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                // header
                #calendarHeader {
                    text-align: center;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 0;
                    
                    .month {
                        color: map-get($primary_color, 'content');
                        font-size: 30px;
                    }
                    .lastmonth {
                        font-size: 16px;
                        color: map-get($primary_color, 'content');
                        cursor: pointer;
                    }
                    .nextmonth {
                        font-size: 16px;
                        color: map-get($primary_color, 'content');
                        cursor: pointer;
                    }
                    .lastmonth:after,
                    .nextmonth:after {
                        border-bottom: 1px solid #68433780;
                        content: '';
                        display: block;
                        width: 0%;
                        transition: .4s;
                    }
                    .lastmonth:hover:after, 
                    .nextmonth:hover:after {
                        width: 100%;
                    }
                }
                
                // contain
                #calendarContain {
                    .container {
                        display: flex;
                        flex-wrap: wrap;

                        .day {
                            width: calc(100% / 7);
                            min-height: 5em;
                            border: 1px solid #444;

                            &.weekTitle {
                                min-height: auto;
                                padding: .5em;
                                color:#fff;
                            }

                            .time {
                                font-size: 12px;
                                background-color: #d89482;
                                margin: 0.3em;
                                border-radius: .5em;
                                padding: 0.3em;
                                text-align: center;
                                
                                &.rest {
                                    background-color: #888;
                                    // color: #000;
                                    text-align: center;
                                }
                            }
                        }
                    }
                    
                }
                
                
                /* calendar footer */
                .calendarFooter {
                    padding: 20px 0;
                    display: flex;
                    justify-content: space-between;
                }
                .timePeriod {
                    .drag_rest_txt{
                        @media screen and(max-width: 768px) {
                            display: block;
                            margin-bottom: 1.5em;
                        }
                    }
                    .drag_rest {
                        // display: block;
                        color: #fff;
                        background-color: #888;
                        font-size: 0.8em;
                        margin: 0.3em;
                        padding: 0.5em;
                        border-radius: .5em;
                        cursor: pointer;
                     
                    }
                }
            }
//         } // container
//     } // section.member
// } // main