// main {
//     section.member {
//         .container {
//             section.main_astrologist {

            #schedule {
                padding: 1em;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                // header
                #calendarHeader {
                    text-align: center;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 0;
                    
                    .month {
                        color: map-get($primary_color, 'content');
                        font-size: 30px;
                    }
                    .lastmonth {
                        font-size: 16px;
                        color: map-get($primary_color, 'content');
                        cursor: pointer;
                    }
                    .nextmonth {
                        font-size: 16px;
                        color: map-get($primary_color, 'content');
                        cursor: pointer;
                    }
                    .lastmonth:after,
                    .nextmonth:after {
                        border-bottom: 1px solid #68433780;
                        content: '';
                        display: block;
                        width: 0%;
                        transition: .4s;
                    }
                    .lastmonth:hover:after, 
                    .nextmonth:hover:after {
                        width: 100%;
                    }
                }
                
                // contain
                #calendarContain {
                    .container {
                        display: flex;
                        flex-wrap: wrap;

                        .day {
                            width: calc(100% / 7);
                            min-height: 5em;
                            border: 1px solid #ccc;

                            &.weekTitle {
                                min-height: auto;
                                padding: .5em;
                            }

                            .time {
                                font-size: 12px;
                                background-color: #f00;
                                margin: 0.3em;
                                border-radius: .5em;
                                padding: 0.3em;
                                
                                &.rest {
                                    background-color: #00f;
                                }
                            }
                        }
                    }
                    // border-top-left-radius: 5px;
                    // border-top-right-radius: 5px;
                    // text-align: left;
                    // overflow: hidden;
                    // width: 100%;
                    // padding: 0 1px;
                    // padding-bottom: 1px;
                }
                // #schedule .week {
                //     width: 100%;
                //     height: 70px;
                //     display: flex;
                // }
                // #schedule #week0 {
                //     height: 30px;
                //     line-height: 12px;
                //     background-color: #5558;
                //     color: map-get($primary_color, 'content');;
                //     font-size: 24px;
                // }
                // #schedule .day {
                //     width: calc(100% / 7);
                //     border: 1px solid #5558;
                //     font-size: 12px;
                //     padding-left: 5px;
                //     padding-top: 5px;
                //     position: relative;
                //     transition: .3s;
                // }
                // #schedule .day p {
                //     color: map-get($primary_color, 'content');
                // }
                // #schedule .week:not(#week0) .day:not(:empty):hover {
                //     box-shadow: 0 0 3px 2px map-get($primary_color, 'content');;
                //     cursor: pointer;
                // }
                // #schedule .week:not(#week0) .day:not(:empty):active {
                //     transform: scale(0.9);
                // }
                // #schedule #week5 .day0 {
                //     border-bottom-left-radius: 5px;
                // }
                // #schedule #week5 .day6 {
                //     border-bottom-right-radius: 5px;
                // }
                
                /* calendar footer */
                .calendarFooter {
                    padding: 10px 0;
                    display: flex;
                    justify-content: space-between;
                }
                .timePeriod {
                    .drag_rest {
                        // display: block;
                        color: #fff;
                        background-color: #00f;
                        margin: 0.3em;
                        padding: 0.3em;
                        border-radius: .5em;
                        cursor: pointer;
                    }
                }
            }
//         } // container
//     } // section.member
// } // main