// [O] 詳解 -- 22.2.28
// [O] .detail_box .img_box .face -> .font (命名錯誤) -- 22.2.28
// [ ] 加 border-radius .5em
// [ ] 手機板-解牌圖片放中間，解析放下面

main {
    section.draw_cards {
        .container {
            position: relative;
            width: 100%;
            overflow: hidden;

            /* 抽牌圈 */
            .cards_box{
                z-index: 10;
                position: relative;
                height: 100vh;
                @media screen and (max-width: 768px) {
                    top: -5em;
                }

                /* 抽牌提示 */
                p {
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 1.5em;
                    padding: .5em 8em;
                    white-space: nowrap;
                    color: #888;
                }

                // 牌
                .all{
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: grid;
                    place-content: center;
                    width: 100%;
                    height: 100%;


                    ul {
                        display: grid;
                        grid-template-areas: "listoverlap";
                        transform: rotate(-90deg) scale(0.9);
                        font-size: 2vmin;
                        position: relative;

                        > li {
                            grid-area: listoverlap;
                            display: grid;
                            grid-template-areas: "itemoverlap";
                            --rotate: calc(360deg / var(--event-count) * var(--event-index));
                            transform: rotate(var(--rotate)) translateX(19em) scale(var(--scale, 1));
                            transition: all 400ms ease;

                            &.event {
                                cursor: pointer;
                                overflow: hidden;
                                box-shadow: 0 0 0 var(--shadowSpread, 0) var(--highlightcolor, black),
                                    0 0 1em black;
                                filter: grayscale(1);
                                outline: none;

                                > * {
                                    grid-area: itemoverlap;
                                    display: grid;
                                    place-items: center;
                                }

                                > img {
                                    width: 12em;
                                    height: 8em;
                                    aspect-ratio: 1;
                                    object-fit: contain;
                                    transform: rotate(90deg) scale(1.55);
                                    
                                }
            
                                &.selected,
                                &:hover {
                                    filter: grayscale(0);
                                    z-index: 100;
                                    --scale: 1.2;
                                    --highlightcolor: #CFB886;
                                    --shadowSpread: 0.1em;
                                }

                                &.selected {
                                    z-index: 150;

                                    &:hover {
                                        --shadowSpread: 0.2em;
                                    }
                                }
                            }
                        }
                    }
                }
    
            } // cards_box

            /* 抽牌結果 */
            .detail_box {
                z-index: 20;
                display: none;
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                // background-color: #fa0;
                
                /* 圖片 */
                .img_box {
                    z-index: 2;
                    position: absolute;
                    transform-style: preserve-3d;
                    transform: rotateY(180deg);
                    background-color: #000;

                    .item {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }

                        &.font {
                            transform: rotateY(180deg);
                        }
                        &.back {
                            z-index: 400;
                            backface-visibility: hidden;
                        }
                    }
                }

                /* 解析 */
                .txt_box {
                    z-index: 1;
                    opacity: 0;
                    padding: 2em 5em;
                    border: 1px solid map-get($primary_color, 'content');
                    border-radius: .5em;
                    // background-color: #0a0;
                    @media screen and (min-width: 767px) {
                        position: absolute;
                        top: 25%;
                        bottom: 10%;
                        right: 15%;
                        left: 40%;
                    }
                    @media screen and (max-width: 768px) {
                        position: absolute;
                        top: 10%;
                        left: 2em;
                        right: 2em;
                        padding: 75% 5% 5%;
                    }
                    
                    display: flex;
                    flex-direction: column;

                    .txt_content {
                        flex-grow: 1;
                    }
                    .action {
                        text-align: center;
                        white-space: nowrap;
                        span {
                            padding: .5em;
                            font-size: .8em;
                            cursor: pointer;
                            @media screen and (max-width: 768px) {
                                // display: block;
                                // margin: 1em 0;
                                font-size: 0.7em;
                            }
                        }
                    }
                    
                }

            } // detail_box
            
        } // container
    } // section.draw_cards
} // main
