$d : 768px;
$m : 767px;

@mixin desktop{
    @media screen and (min-width:$d){
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width:$m){
        @content;
    }
}
main {
    section.member {
        .container {

            // === 會員專區共用 === //
            
            // 圖片填滿容器
            .img_box {
                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
            // 大頭貼定寬 
            .img_box.sticker {
                width: 4em;
                height: 4em;
                border-radius: 50%;
                overflow: hidden;
                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
            // 會員專區首頁大區塊
            section.item {
                padding: .5em;
                margin-bottom: 1em;
                > *:not(.txt_box) {
                    height: 100%;
                    width: 100%;
                    min-height: 5em;
                    outline: 1px solid map-get($primary_color, 'content');
                    padding: .5em;
                    border-radius: $borderRadius;
                }
            }
            // LOGO+網站名稱
            .logo {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                margin-bottom: 1em;

                .img_box {
                    margin-right: 1em;
                }
            }
            // 共用class
            .display_none {
                display: none;
            }
            .invisible {
                height: 0;
                overflow: hidden;
                font-size: 0;
                padding: 0;
                border: none;
            }
    
            // 會員專區共用 END === //
    
            // === 會員專區首頁 === //
            // === 占卜師專區首頁 === //
            .main_member,
            .main_astrologist {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                // 個人資訊
                .mem_info {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    
                    .info_box {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 1em;

                        .txt_box {
                            margin-left: 1.5em;
                            flex-grow: 1;

                            .ast_star {
                                font-size: .5em;
                                vertical-align: middle;
                            }
                        }

                        // 占卜師專區
                        .ast_sticker {
                            width: 10em;
                            height: 10em;
                            border-radius: 50%;
                            overflow: hidden;
                        }
                        .ast_action {
                            align-self: flex-end;
                        }
                        .update_intro {
                            width: 90%;
                            color: #aaa;
                            height: 10em;
                            padding: 1em;
                        }
                    }
                    
                    .detail_info {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;

                        .item {
                            width: 50%;
                            @media screen and(max-width: 768px) {
                                width: 100%;
                            }

                            > [class*='_box'] {
                                padding: .3em 0;
                            }
                        }

                        .confirm_list {
                            padding: .5em;

                            li {
                                color: #aaa;
                                line-height: 1.2;
                            }
                        }
                    }
                }
        
                // 目前預約
                .reservation {
                    width: 35%;

                    .txt_box {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;

                        .more {
                            cursor: pointer;
                            color: #888;
                        }
                        .more:hover {
                            color: map-get($primary_color, 'content');
                            text-shadow: #fff 0 1px 2em;
                        }
                    }

                    .reservation_box {
                        padding-top: 1.8em;
                        .info {
                            display: flex;
                            flex-direction: column;
                            flex-wrap: wrap;
                            justify-content: center;
                            padding: 1em;
    
                            .astrologist_info {
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                .txt_box {
                                    width: 50%;
                                    align-items: center;
                                    > * {
                                        width: 100%;
                                    }
                                }

                                .img_box {
                                    width: 8em;
                                    height: 8em;
                                    margin-right: 1em;
                                    border-radius: 50%;
                                    overflow: hidden;
                                    img {
                                        width: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                            
                            .reservation_time {
                                font-size: 1.3em;
                            }
                        }
                    }
                }
                // 占卜師-審核預約
                .ast_reservation {
                    width: 100%;
                    
                    .reservation_box {
                        padding-right: 3em;
                        position: relative;
                        overflow: hidden;

                        .reservation_list {
                            display: flex;
                            flex-wrap: nowrap;
                            position: relative;

                            .reservation_card {
                                width: 15em;
                                flex-shrink: 0;
                                outline: none;
                                background-color: #5558;
                                .appointment_status{
                                    margin-left: 1em;
                                    // border: 1px solid #fff;
                                    color: #fff;
                                }
                            }
                        }
                        .change_page {
                            display: block;
                            position: absolute;
                            padding: .3em;
                            text-align: center;
                            border-radius: 50%;
                            font-size: 1.5em;
                            color: #fff;
                            background-color: map-get($primary_color, 'content');
                            bottom: .3em;
                            cursor: pointer;
                        }
                        .next_page {
                            right: .3em;
                        }
                        .last_page {
                            left: 0.3em;
                        }
                        .gray {
                            background-color: #555;
                        }

                    }
                }
                
                // 行事曆
                .calendar {
                    width: 100%;

                    .fc-h-event {
                        background-color: #5558;
                        padding: .5em;
                        border: none;
                        margin: 0.5em;
                    }
                }

                // 目前訂單
                .orders {
                    width: 65%;

                    .orders_box {
                        > * {
                            padding: .5em;
                        }
                        .order_header {
                            text-align: right;
                        }
                        .order_content {
                            > * {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .img_box {
                                width: 5em;
                                margin-right: 1em;
                            }
                        }
                        .order_footer {
                            .total {
                                text-align: right;
                                font-size: 1.125rem;
                            }
                        }
                        .other_order {
                            display: block;
                            width: 100%;
                            text-align: center;
                            border-top: 1px solid #5558;
                            padding-top: .7em;
                            color: #888
                        }
                        .other_order:hover {
                            color:  map-get($primary_color, 'content');
                            text-shadow: #fff 0 1px 2em;
                        }
                    }
                }

                // 最近的評論
                .comment {
                    width: 50%;
                    .comment_list {
                        position: relative;
                        padding-top: 1em;
                        transition: .5s;

                        .prev_comment {
                            position: absolute;
                            top: 0.5em;
                            left: 50%;
                            transform: translateX(-50%);
                            color: #888;
                            cursor: pointer;
                        }
                        .prev_comment:hover {
                            color: map-get($primary_color, 'content');
                            text-shadow: #fff 0 1px 2em;
                        }
                        .active {
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                            padding: .5em;
                            margin-top: 0.5em;
                            
                            .new_comment {
                                height: 3em;
                                flex-grow: 1;
                                margin-right: 1em;
                                margin-left: 0.5em;
                            }
                        }
                    }
                    .comment_list.view_old {
                        position: fixed;
                        top: 6em;
                        bottom: 2em;
                        left: 10em;
                        right: 10em;
                        width: auto;
                        height: auto;
                        background: #111;
                        border: 8px solid #fff;
                        box-shadow: 0 0 3em 1px map-get($primary_color, 'content');
                        z-index: 5;
                        border-radius: $borderRadius;
                        padding: 2em;
                        display: flex;
                        flex-direction: column;
                        overflow-y: scroll;
                        // justify-content: flex-end;
                        @media screen and (max-width: 768px) {
                            left: 1em;
                            right: 1em;
                        }

                        .prev_comment {
                            position: absolute;
                            width: 95%;
                            text-align: right;
                            top: 1em;
                        }
                        
                        // .comment_info:last-of-type {
                        //     .comment_box {
                        //         .comment {
                        //             box-shadow: 0 0 5px 0 #fff;
                        //         }
                        //     }
                        // }
                    }
                    .comment_box {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        margin: 1em 0;

                        .txt_box {
                            border-radius: $borderRadius;
                            padding: 1em;
                            position: relative;
                        }

                        .reservation_info {
                            padding: 0.5em;
                            .img_box {
                                margin: auto;
                            }
                            .txt_box {
                                margin-top: 0.5em;
                                text-align: center;
                            }
                        }

                        .reservation_time {
                            align-self: flex-end;
                            margin-left: 0.5em;
                            color: #ccc;
                            font-size: 0.8em;
                        }
                    }
                    .comment_box:nth-child(odd) {
                        .txt_box {
                            margin-left: 1em;
                            background-color: #333;
                        }
                        .txt_box:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0.5em;
                            left: 0;
                            transform: translateX(-90%);
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 0 1em 1em 0;
                            border-color: transparent #333 transparent transparent;
                        }
                    }
                    .comment_box:nth-child(even) {
                        flex-direction: row-reverse;

                        .txt_box {
                            margin-right: 1em;
                            background-color: map-get($primary_color, 'content');
                        }
                        .txt_box:after {
                            content: '';
                            display: block;
                            position: absolute;
                            top: 0.5em;
                            right: 0;
                            transform: translateX(90%);
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 1em 1em 0 0;
                            border-color:  map-get($primary_color, 'content') transparent transparent transparent;
                        }
                    }
                } // comment

                // 最近的留言
                .message {
                    width: 50%;
                    .message_box {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        padding: 1em;
                        overflow: hidden;

                        .article_info {
                            position: relative;
                            padding: .8em;
                            background-color: #5558;
                            border-radius: $borderRadius;
                            cursor: pointer;
                            // transition: .5s;
                        }
                        .article_info:hover {
                            background-color: #555;
                            // box-shadow: 0 0 50em 1px #CFB886;
                        }
                        .article_info:not(:first-child) {
                            margin-top: .5em;
                        }
                        .article_info:before {
                            content: attr(data-newMsg);
                            display: inline-block;
                            position: absolute;
                            top: .5em;
                            right: .5em;
                            width: 1.5em;
                            line-height: 1.5em;
                            vertical-align: bottom;
                            text-align: center;
                            background-color: $accent_color;
                            color: #fff;
                            border-radius: 50%;
                        }
                    }
                }

                // 占卜師專區
                // 行事曆
                .item.calendar {
                    width: 50%;
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
                // 評論
                .item.ast_comments {
                    width: 50%;
                    
                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                    
                    .action {
                        padding: .5em;
                        
                        .star_btn {
                            padding: 1em;
                            line-height: 1em;
                            border-radius: $borderRadius;

                            &:not(:first-child) {
                                margin-left: .5em;
                            }
                        }
                    }

                    .ast_comment_list {
                        padding: .5em;

                        .ast_comment {
                            padding: 1em;
                            background-color: #5558;
                            border-radius: $borderRadius;

                            &:not(:first-child) {
                                margin-top: 0.5em;
                            }
                        }
                    }
                }

                @media screen and (max-width: 767px) {
                    .item {
                        width: 100%;
                    }
                }

                //線上占卜測驗紀錄 by JC
                .tarot_quiz{
                    width: 100%;
                    
                    .quiz_box{
                        // align-items: center;
                        display: flex;
                        flex-wrap: wrap;
                        
                        .quiz_left_box{
                            width: 50%;
                            // perspective: 800px;

                            @include mobile{
                                width: 100%;   
                            }
                            .quiz_row{
                                display: flex;
                                flex-wrap: wrap;
                                align-items: center;
                                .quiz_detail_cellphone{
                                    display: none;
                                }

                                @include mobile{
                                    width: 100%;     
                                    // flex-direction: column;
                                    // margin: .2em;
                                    .quiz_detail_cellphone{
                                        display: block;
                                    }
                                }
                            }
                            // .draggable{
                            //     cursor: move;
                            //     background-color: #5558;
                            // }
                            .quiz_cards{
                                width: calc(50% - 1em);
                                margin: 0.5em;
                                padding: .8em;
                                background-color: #5558;
                                border-radius: $borderRadius;
                                cursor: pointer;
                                // transform-style: preserve-3d;
                                // transform: rotateY(10deg) rotateX(10deg) rotateZ(0deg);

                                @include mobile{
                                    width: 100%;                        
                                }
                                .quiz_head{
                                    display: flex;
                                    justify-content: space-between;
                                    P{
                                        color: #aaa;
                                        font-size: 0.8em;
                                    }
                                }
                                .quiz_result{
                                    margin: 1em 0 0.5em;
                                }
                            }
                        }
                        .quiz_right_box{
                            width: 50%;
                            min-height: 16em;
                            height: 100%;
                            border: 2px dashed #888;
                            border-radius: $borderRadius;
                            background: url('../images/draw_cards/card_back_180.jpg') no-repeat;
                            background-size: 100% 100%;
                            background-position-y: center;

                            .quiz_view{
                                margin: auto;
                                height: 100%;
                                padding: 1em;
                                // text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center; 
                                .logDetail{
                                    padding: 1em 2em;
                                    margin-left: 1.8em;
                                    .title{
                                        padding: 0.2em 0;
                                    }
                                }
                            }
                        }
                        @include mobile{
                            .quiz_right_box{
                                display: none;
                            }
                        }
                    }     
                }
            }
            // END

            // === 登入 === //
            // 登箱
            .login_box {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                padding: 3em;
                outline: 1px solid map-get($primary_color, 'content');
                border-radius: $borderRadius;
                
                .login_info {
                    .item {
                        margin-bottom: 1em;
                    }
                    button {
                        width: 100%;
                    }
                }
            }
            // END

            // === 註冊 === //
            .sign_up_box {
                padding: 1em;
                
                .sign_up_info {
                    .item {
                        margin-bottom: .5em;
                        padding: 1em;
                        // background-color: #5555;
                        border-radius: $borderRadius;
                        width: 100%;
                        
                        input[type=text],
                        input[type=password],
                        input[type=email],
                        textarea {
                            width: 100%;
                        }
                        .pwd_item {
                            margin-bottom: 1em;
                        }
                    }
                    .login,
                    .action,
                    .upload_img {
                        text-align: center;
                    }

                    @media screen and (min-width: 768px) {
                        display: flex;
                        flex-wrap: wrap;

                        h3 {
                            width: 100%;
                        }
                        .item {
                            margin: 1em;
                            width: calc(50% - 2em);
                        }
                    }
                }
            }
            // END

            // === 預約 === //
            .reservation_box {
                width: 100%;
                
                .reservation_list {
                    display: flex;
                    flex-wrap: wrap;
                    
                    .reservation_card {
                        width: calc(100% / 3 - 3em);
                        @media screen and (max-width: 767px) {
                            width: 100%;
                        }

                        margin: 1em;
                        padding: 2em 1em;
                        outline: 1px solid #fff;
                        border-radius: $borderRadius;
                        
                        .txt_box {
                            text-align: center;
                        }
                        .card_content {
                            padding: 1em 0;
    
                            .img_box {
                                display: block;
                                margin: auto;
                                margin-top: 1em;
                                margin-bottom: 1em;
                                overflow: hidden;
                                width: 8em;
                                height: 8em;
                                border-radius: 50%;
                            }
                        }
                        .card_footer {
                            text-align: center;
                            button {
                                padding: 0.3em 1.5em;
                                margin: 0.3em;
                            }
                        }
                    }
                }
            }
            // END

        } // container
    } // section.member
} // main