main {
    section.member {
        .container {

            // === 會員專區共用 === //
            
            // 圖片填滿容器
            .img_box {
                img {
                    width: 100%;
                    vertical-align: middle;
                }
            }
            // 大頭貼定寬 
            .img_box.sticker {
                width: 4em;
                border-radius: 50%;
                overflow: hidden;
            }
    
            section.item {
                padding: .5em;
                > * {
                    height: 100%;
                    width: 100%;
                    outline: 1px solid map-get($primary_color, 'content');
                    padding: .5em;
                }
            }
    
            // 會員專區共用 END === //
    
            // === 會員專區首頁 === //
            .main_member {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                // 個人資訊
                .mem_info {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    
                    .info_box {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        padding: 1em;

                        .txt_box {
                            margin-left: 1em;
                            flex-grow: 1;
                        }
                    }
                }
        
                // 目前預約
                .reservation {
                    width: 35%;

                    .reservation_box {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: wrap;
                        justify-content: center;
                        padding: 1em;

                        .astrologist_info {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;

                            .img_box {
                                width: 5em;
                            }
                        }
                    }
                }
        
                // 目前訂單
                .orders {
                    width: 65%;

                    .orders_box {
                        > * {
                            padding: .5em;
                        }
                        .order_header {
                            text-align: right;
                        }
                        .order_content {
                            > * {
                                display: inline-block;
                                vertical-align: middle;
                            }
                            .img_box {
                                width: 5em;
                                margin-right: 1em;
                            }
                        }
                        .order_footer {
                            .total {
                                text-align: right;
                                font-size: 1.125rem;
                            }
                        }
                        .other_order {
                            display: block;
                            width: 100%;
                            text-align: center;
                            border-top: 1px solid #5558;
                            padding-top: .7em;
                        }
                    }
                }

                // 最近的評論
                .comment {
                    width: 50%;

                    .comment_box {
                        width: 100%;
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;

                        .reservation_info {
                            padding: 0.5em;
                            .img_box {
                                margin: auto;
                            }
                            .txt_box {
                                margin-top: 0.5em;
                                text-align: center;
                            }
                        }
                    }
                    .comment_box:nth-child(even) {
                        flex-direction: row-reverse;
                    }
                }


                // 最近的留言
                .message {
                    width: 50%;
                    .message_box {
                        padding: 1em;

                        .article_info {
                            position: relative;
                            padding: .5em;
                            background-color: #5558;
                        }
                        .article_info:not(:first-child) {
                            margin-top: .5em;
                        }
                        .article_info:before {
                            content: attr(data-newMsg);
                            display: inline-block;
                            position: absolute;
                            top: .5em;
                            right: .5em;
                            width: 1.5em;
                            line-height: 1.5em;
                            vertical-align: bottom;
                            text-align: center;
                            background-color: $accent_color;
                            color: #fff;
                            border-radius: 50%;
                        }
                    }
                }

            }

            // 會員專區首頁 END === //


        } // container
    } // section.member
} // main