main{
    // banner
    section.shop_banner{
        .container{
            @include mobile{
                padding: 0;
            }
            .slider{
                position: relative;
                .prebtn{
                    position: absolute;
                    top: 50%;
                }
                .nextbtn{
                    position: absolute;
                    top: 50%;
                    right: 0;
                }
                .slider_box{
                    @include desktop{
                        height: 22em;
                    }
                    height: 15em;
                    position: relative;
                    overflow: hidden;
                        .slider_item{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                        &:not(:first-child) {
                            opacity: 0;
                        }    
                    }
                    
                }                
            }

        }
    }

    //商品導覽列
    //商品區
    section.shopping_item{
        .container{
            h1{
                padding: 0.25em 0em;
            }
            .product_search{
                text-align: center;
                
            }

            .product_overview{
                text-align: center;
                padding-top: 1em;
            }
            
            .product_nav{
                @include mobile{
                    margin: 1em 0 1em 0;
                    padding: 1em 0 1em 0;
                    justify-content:space-between;
                    position: sticky;
                    top: 0;
                    background-color: black;
                }
                margin: 1.5em;
                display: flex;
                justify-content: space-evenly;
            }
            
            .unselected_btn{
                @include mobile{
                    white-space:nowrap;
                    padding: 0 0.7em;
                }
                padding: 0 1.8em;
                border: 1px solid #CFB886;
                border-radius: .5em;
                cursor: pointer;
                &:hover{
                    background-color: map-get($primary_color, 'content' );
                    color: map-get($primary_color, 'bg' );
                    transition: .3s;
                }
            }
            
            .product_box_Mobile{
                @include mobile{
                    display: block;
                }
                @include desktop{
                    display: none;    
                }
                .row{
                    width: 90%;
                    display: flex;
                    flex-wrap: wrap;
                    margin: auto;
                    
                    .owl-item{
                        width: 50%;
                        border: 1px solid #CFB886;
                        border-radius: 20em;
                    }
                    .item{
                        text-align: center;
                        .img_box{
                            border-radius: 50%;
                            width: 80%;
                            margin: auto;

                            img{
                                padding: 1em;
                                width: 100%;
                                border-radius: 50%;
                            }
                            .prod_No{
                                display: none;
                            }
                        }
                        .eyes_icon_box{
                            width: 20%;
                            padding:1em 0 1em 0;
                            margin: 0 auto;
                            overflow: hidden;
                            position: relative; 
                        }
                    }
                }
            }

            .product_box{
                .row{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    
                    .item{
                        width: 46%;
                        padding:0.5em 1em;
                        border: 1px solid #CFB886;
                        border-radius: 10em;
                        margin: 2%;
                        text-align: center;
                        @include mobile{
                            display: none;
                        }

                        @include desktop{
                            width: 21%;    
                        }
                        
                        .img_box{
                            border-radius: 50%;
                            img{
                                padding: 1em;
                                width: 100%;
                                border-radius: 50%;
                                @include desktop{
                                    padding: 1.5em;
                                }
                            }
                            .prod_No{
                                display: none;
                            }
                        }
                        .icon_box{
                            width: 30%;
                            padding-top: 0.5em;
                            margin: 0 auto;
                            overflow: hidden;
                            position: relative;
                            img{
                                @include desktop{
                                    position: relative;
                                    bottom: -10em;
                                }
                            }
                        }
                        .eyes_icon_box{
                            width: 30%;
                            padding-top: 0.5em;
                            margin: 0 auto;
                            overflow: hidden;
                            position: relative;
                            img{
                                @include desktop{
                                    position: relative;
                                    bottom: -10em;
                                }
                            }   
                        }
                    }

                    .item:hover{
                        .icon_box{
                            img{
                                @include desktop{
                                    bottom: 0em;
                                    transition: 0.6s;
                                }
                            }
                        }
                        .eyes_icon_box{
                            img{
                                @include desktop{
                                    bottom: 0em;
                                    transition: 0.6s;
                                }
                            }
                        }

                    }
                    .item:hover{
                        Box-shadow: 1px 1px 12px 1px  #CFB886,
                                    1px 1px 2px 1px  #CFB886 inset;
                        transition: 0.6s;
                    }
                }
            }
        }
    }
}


@keyframes showRight {
    0% {
        left: 100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes hideRight {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}

@keyframes showLeft {
    0% {
        left: -100%;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes hideLeft {
    0% {
        left: 0;
        opacity: 1;
    }
    100% {
        left: 100%;
        opacity: 0;
    }
}