/* === 星座頁籤 by JC === */
$padding: 1em 8.333333%;
$borderRadius: 0.5em;
$circle: 50%;
$d : 768px;
$m : 767px;

@mixin desktop{
    @media screen and (min-width:$d){
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width:$m){
        @content;
    }
}

main {
    .pagination_nav{
        @include mobile {
            display: none;
        }
        .container{ 
            padding: $padding;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                li{
                    margin: 1em;
                }
            }
            label{
                margin: .9em;
                padding: .5em 1em;
                border: 1px solid #CFB886;
                border-radius: .5em;
                cursor: pointer;
                &:hover{
                    background-color: map-get($primary_color, 'content' );
                    color: map-get($primary_color, 'bg' );
                    transition: .3s;
                }
            }
        }
    }
    /* 討論區 by JC */
    .discuss{
        img{
            vertical-align: top;
        }
        .owl-carousel {
            @include desktop {
                display: none;
            }
        }
        .container{
            padding: $padding;
            width: 100%;
            margin: auto;
        }
    }
}
.content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    /* 左欄文章分類 */
    .content_cate{
        position: sticky;
        top: 75px;
        left: 0;
        text-align: center;
        width: 20%;
        @include mobile {
            width: 0;
        }
        li{
            align-items: center;
            width: 50%;
            margin: 0.3em 0;
            border-bottom: 1px solid #CFB886;
            cursor: pointer;
            .category{
                cursor: pointer;
                padding-bottom: 0.5em;
            }
        }
        li:hover{
            background-color: #3A3A3A;
            transition: .5s;
        }
        ul{
            @include mobile {
                display: none;
            }
        }
        
    }
}
// 請從這裡開始寫!!!!!!!!!!!!!!!!!!!!!!!!!!不要動上面的東西


/* 有共用的就用同一個class名稱 ex: */
/* .container{
    width: 100%;
    padding: 8.333333%;
    box-sizing: border-box;
    
} 


/* 最大寬度768以上不顯示 所以這裡是手機 */
    /* 0~767px */
/* 手機板不顯示頁籤 */
@media screen and (max-width:767px) {
    
    main .discuss .container .content .content_article .content_wrap .today h2{
        width: 100%;
        text-align: center;
    }
    main .discuss .container .content .content_article .content_wrap .today p{
        width: 100%;
        text-align: center;
    }
    main .discuss .container .content_article .content_wrap .today .numbers p:nth-child(odd){
        color: #CFB886;
    }
    // .container{
    //     display: flex;
    // }
    main .forture_dec .container .overall_fortune h4{
        width: 100%;
        text-align: center;
    }
    main .forture_dec .container .overall_fortune .overall_fortune_txt{
        text-align: center;
        padding: 2% 8.333333%;
        box-sizing: border-box;
    }
    main .discuss .container .content_article .content_wrap .today .overall_fortune .overall_fortune_txt{
        // padding: 2% 0%;
        box-sizing: border-box;

    }
    main .discuss .container .content_article .content_wrap .today .overall_fortune .overall_fortune_txt p{
        text-align: left;
    }
    main .discuss .container .content_article .content_wrap .today .overall_fortune h4{
        padding: 2% 0%;
        margin-top: 5%;
        // text-align: center;
        box-sizing: border-box;
    }
    // main .discuss .container .content .content_cate li{
    //     display: none;
    // } 

}

    /* === 星座頁籤 by JC === */
$padding: 1em 8.333333%;
$borderRadius: 0.5em;
$circle: 50%;
$d : 768px;
$m : 767px;

@mixin desktop{
    @media screen and (min-width:$d){
        @content;
    }
}
@mixin mobile{
    @media screen and (max-width:$m){
        @content;
    }
}

main {
    .pagination_nav{
        @include mobile {
            display: none;
        }
        .container{ 
            padding: $padding;
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                li{
                    margin: 1em;
                }
            }
            label{
                margin: .9em;
                padding: .5em 1em;
                border: 1px solid #CFB886;
                border-radius: .5em;
                cursor: pointer;
                &:hover{
                    background-color: map-get($primary_color, 'content' );
                    color: map-get($primary_color, 'bg' );
                    transition: .3s;
                }
            }
        }
    }
    /* 討論區 by JC */
    .discuss{
        img{
            vertical-align: top;
        }
        .owl-carousel {
            @include desktop {
                display: none;
            }
        }
        .container{
            padding: $padding;
            width: 100%;
            margin: auto;
        }
    }
}
.content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    /* 左欄文章分類 */
    .content_cate{
        position: sticky;
        top: 75px;
        left: 0;
        text-align: center;
        width: 20%;
        @include mobile {
            width: 0;
        }
        li{
            align-items: center;
            width: 50%;
            margin: 0.3em 0;
            border-bottom: 1px solid #CFB886;
            cursor: pointer;
            .category{
                cursor: pointer;
                padding-bottom: 0.5em;
            }
        }
        li:hover{
            background-color: #3A3A3A;
            transition: .5s;
        }
        ul{
            @include mobile {
                display: none;
            }
        }
        
    }
}
// 請從這裡開始寫!!!!!!!!!!!!!!!!!!!!!!!!!!不要動上面的東西


/* 有共用的就用同一個class名稱 ex: */
/* .container{
    width: 100%;
    padding: 8.333333%;
    box-sizing: border-box;
    
} 


/* 最大寬度768以上不顯示 所以這裡是手機 */
    /* 0~767px */
/* 手機板不顯示頁籤 */
@media screen and (max-width:767px) {
    
    main .discuss .container .content .content_article .content_wrap .today h2{
        width: 100%;
        text-align: center;
    }
    main .discuss .container .content .content_article .content_wrap .today p{
        width: 100%;
        text-align: center;
    }
    main .discuss .container .content_article .content_wrap .today .numbers p:nth-child(odd){
        color: #CFB886;
    }
    // .container{
    //     display: flex;
    // }
    main .forture_dec .container .overall_fortune h4{
        width: 100%;
        text-align: center;
    }
    main .forture_dec .container .overall_fortune .overall_fortune_txt{
        text-align: center;
        padding: 2% 8.333333%;
        box-sizing: border-box;
    }
    main .discuss .container .content_article .content_wrap .today .overall_fortune .overall_fortune_txt{
        // padding: 2% 0%;
        box-sizing: border-box;

    }
    main .discuss .container .content_article .content_wrap .today .overall_fortune h4{
        padding: 2% 0%;
        margin-top: 5%;
        // text-align: center;
        box-sizing: border-box;
    }
    main .discuss .container .content .content_cate li{
        display: none;
    } 

}







/* 這裡是桌機 */
@media screen and (min-width:768px) {
    main .today_fortune .container .content_cate{
       width: 20%;
       padding-left: 30px;
    }
    main .today_fortune .container .content_cate ul{
        
    }
    main .today_fortune .container .today .numbers .txt_box{
    }
    
    main .discuss .container .content .today{
        width: 95%;
    }
    main .discuss .container .content .today .item{
        display: flex;
        width: 100%;
    }
    main .discuss .container .content .today .item .pic{
        width: 50%;
        
    }
    main .discuss .container .content .today .item .pic img{
        width: 100%;
    }
    // .todays_box{
    //     display: flex;
    //     width: 100%;
    // }
    
    main .discuss .container .content .today{
        width: 95%;
    }
    main .discuss .container .content .today .item{
        display: flex;
        width: 100%;
    }
    main .discuss .container .content .today .item .pic{
        width: 50%;
        
    }
    main .discuss .container .content .today .item .pic img{
        width: 100%;
    }
    main .discuss .container .content .numbers .txt_box{
        /* height: 100%;
        display: flex; */
        width: 100%;
        text-align: center;
        margin: auto;
        text-align: center;
    }
    main .discuss .container .content .numbers .txt_box p{
        flex-grow: 1;
        text-align: center;
        padding: 3.5% 0%;
    }
    main .discuss .container .content .numbers{
        width: 50%;
    margin: auto;
    }
    main .discuss .container .content_article .content_wrap .today .item .pic .txt_box p{
        text-align: center;
    }
    main .discuss .container .content_article .content_wrap .today .numbers p:nth-child(odd){
        // border: 1px solid white;
        color: #CFB886;
    }
    main .forture_dec .container .overall_fortune h4{
        padding: 2%;
        box-sizing: border-box;
    }
    main .discuss .container .content_article .content_wrap .today .overall_fortune .overall_fortune_txt{
        // padding: 2% 0%;
        box-sizing: border-box;

    }
    
}
    








    

