// 歡迎頁
.sky{
    height: 99vh;
    padding: 0;

    .welcome_index{
        height: 100%;
        // margin: -6em 0;
        @include mobile{
            align-items: center;
            flex-direction: column;
        }

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;

            .welcome_index_logo{
                display: flex;
                flex-direction: column;
                align-items: center;
                // margin-top: 1em;
                img{
                    width: 6em;
                    margin: auto;
                }
            }

            .welcome_index_box{
                flex-grow: 1;
                display: flex;
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                


                .welcome_item{
                    width: 35%;
                    padding: 5em;
                    height: 100%;
                    position: relative;
                    @include mobile{
                        align-items: center;
                        height: 60%;
                    }
                    // &:before {
                        // content: '';
                        // width: 20vw;
                        // height: 2vw;
                        // background: radial-gradient(ellipse at center, transparent 50%, #CFB886 50%, transparent 70%);
                        // top: 0;
                        // left: 50%;
                        // transform: translate(-50%, -10%);
                        // display: block;
                        // position: absolute;
                        // content: '';
                        // width: 29vw;
                        // height: 33vw;
                        // background: radial-gradient(ellipse at center, #CFB88690 0%, transparent 75%);
                        // top: 0;
                        // left: 50%;
                        // transform: translate(-50%, -17%);
                        // display: block;
                        // position: absolute;
                    // }
    
                    @include mobile{
                        width: 100%;
                    }
                }
            } // welcome_index_box

            .welcome_footer{
                // margin: 8em 1.5em 0;
                text-align: left;
                @include mobile{
                    margin-top: 3em;
                }
                p{
                    color: #999;
                    font-size: .8em;
                    @include mobile{
                        font-size: .7em;
                    }
                }
                span{
                    color: #CFB886;
                    font-size: .6em;
                }
            }
        }  
    } // welcome_index
}