<!DOCTYPE html>
<html lang="en">

@@include('layout/head.html', {
    'title': '占卜師專區'
})

<body>

@@include('layout/header.html')

<!-- 網頁內容 by PIN -->
<main>
    <!-- 占卜師專區 -->
    <section id="app" class="member">
        <div class="container">

            <!-- 占卜師專區主頁 -->
            <section class="main_astrologist">
                
                <!-- 個人資訊 -->
                <section class="item mem_info">
                    我的介紹
                    <!-- 基本資料 -->
                    <div class="info_box">
                        <div class="img_box ast_sticker">
                            <img src="images/icon/user.svg">
                        </div>
                        <div class="txt_box">
                            
                            <h3 class="ast_name">
                                {{ userData.userName }}
                                <span class="ast_star">★★★★</span>
                            </h3>
                            <p class="introduce">
                                {{ intro.introduction }}
                            </p>
                            <textarea class="update_intro invisible" id="astrologist_Intro" ></textarea>
                        </div>
                        <div class="action_box ast_action">
                            <button @click="updateIntro" class="third_btn">更新介紹</button>
                            <a href="member.html"><button class="secondary_btn">會員專區</button></a>
                        </div>

                    </div>
                </section>
    
                <!-- 審核預約 -->
                <section class="item ast_reservation">
                    審核預約
                    <div class="reservation_box">

                        <ul class="reservation_list">
                            <li v-if="appointments.length === 0">
                                <p>尚無預約</p>
                            </li>
                            <li v-else class="reservation_card" v-for="(appointment, idx in appointments">
                                <div class="item card_header">
                                    <span>{{appointment.appointDate}}</span>
                                    <span>{{appointment.appointTime}}</span>
                                </div>
                                <div class="item card_content">
                                    <div class="txt_box">
                                        <h4>{{appointment.memName}}</h4>
                                    </div>
                                    <div class="img_box sticker">
                                        <img :src="src+appointment.memImage" alt="會員照片">
                                    </div>
                                    <!-- <div class="txt_box">
                                        <span>歷史預約次數</span>
                                        <p>{{appointment.times}}</p>
                                    </div> -->
                                </div>
                                <div class="item card_footer">
                                    <button v-if="appointment.status == '未審核'" @click="updateStatus($event, idx)" class="selected_btn">接受</button>
                                    <button @click="updateStatus($event, idx)" class="unselected_btn">取消</button>
                                </div>
                            </li>
                        </ul>

                        <div @click="carsoul_last" class="change_page last_page gray">←</div>
                        <div @click="carsoul_next" class="change_page next_page">→</div>
                    </div>
                </section>
    
                <!-- 行事曆 -->
                <section class="item calendar">
                    我的行事曆
                    <calendar></calendar>
                </section>
    
                <!-- 我的評論 -->
                <section class="item ast_comments">
                    我的評論
                    <div class="comments">

                        <div class="action ast_hidden">
                            <!-- <button class="selected_btn active_star" @click="changeStar">全部</button> -->
                            <button class="selected_btn star_btn" @click="changeStar">全部</button>
                            <button class="unselected_btn star_btn" @click="changeStar">五星</button>
                            <button class="unselected_btn star_btn" @click="changeStar">四星</button>
                            <button class="unselected_btn star_btn" @click="changeStar">三星</button>
                            <button class="unselected_btn star_btn" @click="changeStar">二星</button>
                            <button class="unselected_btn star_btn" @click="changeStar">一星</button>
                        </div>
                        <ul class="ast_comment_list">
                            <li v-if="comments.length === 0">
                                <p>尚無評論</p>
                            </li>
                            <li v-else class="txt_box ast_comment" v-for="comment in comments">
                                <p>
                                    {{ comment.content }}
                                </p>
                            </li>
                        </ul>

                    </div>
                </section>
    
            </section>
            
        </div>
    </section>

</main>

@@include('layout/footer.html')

<script src="js/calendar.js"></script>
<script>
    
    new Vue({
        el: '#app',
        data: {
            // 變數放這兒
            userData: getSessionData(),
            // 要更改的框框
            intro: [],
            introUpdate: [],
            comments: [],
            appointments: [],
            src: 'images/teller_mem/',
            schedule: [],
        },
        mounted() {
            this.getIntro();
        },
        methods: {
            getIntro() {
                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    data: {
                        table: 'astrologist',
                        queryCol: 'astNo, introduction',
                        condition: `memNo = ${this.userData.userNo}`
                    },
                    success:  data => {
                        if (data.msg !== false){
                            this.intro = data.msg[0];
                            this.getComments();
                            this.getConfirm();
                            this.getSchedule();
                        }
                    },
                    error: err => {
                        console.log(err);
                    }
                });
            },
            // 取得占卜師評論
            getComments() {
                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    data: {
                        table: 'comment',
                        joinTable: 'appointment',
                        joinOn: 'appointNo',
                        queryCol: 'commNo, star, content, commTime',
                        condition: `appointment.astNo = ${this.intro.astNo}`
                    },
                    success:  data => {
                        if (data.msg !== false){
                            this.comments = data.msg;
                        }
                    },
                    error: err => {
                        console.log('ajax error');
                    }
                });
            },
            
            updateIntro(e) {
                let intro = document.querySelectorAll('.introduce')[0];
                let textarea = intro.nextElementSibling;
                
                if (e.target.innerText === '更新介紹') {
                    e.target.innerText = '儲存';
                    textarea.value = intro.innerText;
                }
                else {
                    e.target.innerText = '更新介紹';
                    intro.innerText = textarea.value;
                    
                    $.ajax({
                            type: 'POST',
                            url: 'phps/update.php',
                            data: {
                                table: 'astrologist',
                                updateValue: `introduction = '${textarea.value}'`,
                                where: `memNo = '${this.userData.userNo}'`
                            },
                            success: data => {
                                if(data.msg !== false){
                                    this.introUpdate = data.msg;
                                }
                            },
                            error: err => {
                                console.log(err);
                            }
                    });        
                };
                intro.classList.toggle('invisible');
                textarea.classList.toggle('invisible');
            },

            // 撈審核預約資料
            // appointment的預約編號appointNo的次數和預約日期appointDate預約時段appointTime、member的會員名稱(一般會員)
            getConfirm() {
                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    
                    data: {
                        table: 'appointment',
                        joinTable: 'members',
                        queryCol: 'appointNo, appointDate, appointTime, memName, members.memNo, memImage, appointment.status',
                        joinOn: 'memNo',
                        // condition: `appointment.astNo = ${this.intro[0].astNo}`,
                        condition: `appointment.astNo = ${this.intro.astNo} and appointDate > CURDATE() and appointment.status <> '未通過'`,
                        // sql的<>可以當作不等於
                        //占卜師編號等於登入的這個人
                        // other: 'group by appointment.memNo'
                    },
                    success:  data => {
                        // console.log(data.msg);
                        if (data.msg !== false){
                            this.appointments = data.msg;
                        }
                    },
                    error: err => {
                        console.log(err);
                    }
                });
            },

            updateStatus(e, idx) {
                if (e.target.innerText === '接受') {
                    $.ajax({
                            type: 'POST',
                            url: 'phps/update.php',
                            data: {
                                table: 'appointment',
                                updateValue: "status = '已通過'",
                                where: `appointNo = '${this.appointments[idx].appointNo}'`
                            },
                            success: data => {
                                if(data.msg !== false){
                                    this.getConfirm();
                                }
                            },
                            error: err => {
                                console.log(err);
                            }
                    });   
                }
                else {
                    e.target.innerText === '取消';

                    // let time = this.schedule.filter( t => t.workDate === this.appointments.appointDate);
                    let time = this.schedule.filter( t => t.workDate === this.appointments[idx].appointDate);
                    time = time[0].workTime;
                    // const schedule =data.msg;
                    // const result = schedule.filter( time => time.workDate === appointDate);

                    switch (this.appointments[idx].appointTime){
                        case '上午':
                            time = '0' + time[1] + time[2];
                            break;
                        case '下午':
                            time = time[0] + '0' + time[2];
                            break;
                        case '晚上':
                            time = time[0] + time[1] + '0';
                            break;
                    }

                    $.ajax({
                        type: 'POST',
                        url: 'phps/update.php',
                        data: {
                            table: 'schedule',
                            updateValue: `workTime = '${time}'`,
                            where: `astNo = '${this.intro.astNo}' and workDate = '${this.appointments[idx].appointDate}'`
                        },
                        success: data => {
                            updateSchedule = true;
                            // alert('預約成功!');
                            location.reload();
                        },
                        error: err => {
                            console.log(err);
                        }
                    });

                    $.ajax({
                            type: 'POST',
                            url: 'phps/update.php',
                            data: {
                                table: 'appointment',
                                updateValue: "status = '未通過'",
                                where: `appointNo = '${this.appointments[idx].appointNo}'`
                                // vue要加this
                            },
                            success: data => {
                                if(data.msg !== false){
                                    this.getConfirm();
                                }
                            },
                            error: err => {
                                console.log(err);
                            }
                    }); 

                };
            },

            // 抓schedule資料
            getSchedule() {
                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    data: {
                        table: 'schedule',
                        queryCol: 'workDate, workTime',
                        condition: `astNo = '${this.intro.astNo}'`
                    },
                    success: data => {
                        this.schedule = data.msg;
                    },
                    error: err => {
                        console.log(err);
                    }
                });
                
            },


            changeStar(e) {
                $('.action .selected_btn')[0].classList.add('unselected_btn');
                $('.action .selected_btn')[0].classList.remove('selected_btn');
                e.target.classList.remove('unselected_btn');
                e.target.classList.add('selected_btn');
            },
            carsoul_last(e) {
            },
            carsoul_next(e) {
            //     console.log(e.target);
            //     let reservation_card = document.querySelectorAll('.reservation_card');
            //     console.log(reservation_card);
            //     let activeCard = document.querySelectorAll('.reservation_card.active')[0];
            //     console.log(activeCard);
            //     let i = Array.from(reservation_card).indexOf(activeCard);
            //     let moveList = document.querySelectorAll('.reservation_list')[0];
            //     console.log(moveList);
            //     moveList.style.Left = `${-(i + 1) * activeCard.cilentWidth} px`;
            }
        }
    });
</script>
</body>
</html>