<!DOCTYPE html>
<html lang="en">


@@include('layout/head.html', {
'title': '後台管理'
})




<body>
    <section id="app" class="back container">

        <my-nav></my-nav>

        <div class="contain" style="width: 80%;">
              
            <header>
                <div class="burger"></div>
                <button class="third_btn">登出</button>
            </header>
            <!-- 管理內容 -->
            <main>
                <div class="container">
                    <!-- container -->
                    <!-- 表格上方操作列 -->
                    <top-action-bar :action-btn="actionBtn" @update-db="updateDb"></top-action-bar>
                    <!-- 資料內容 -->
                       <my-table :query-result="queryResult" :col-name="colName" @deconstruct-row="deconstructRow"
                       :deconstruct-result="deconstructResult" @get-detail="getDetail"></my-table>

                    <!-- 彈出視窗 -->
                    <form enctype="multipart/form-data" id="good">
                        <input type="text" name="case" :value="editIndex" hidden>
                        <input type="text" name="prodNo" :value="editItem.prodNo" hidden>
                        <div :class="popup" style="z-index: 2500;overflow-y: scroll;
                        height: 100vh;">
                            <div class="content_box">
                                <!-- 商品名稱 -->
                                <div class="info_box prodName">
                                    <label for="adminName">商品名稱</label>
                                    <input name="prodName" type="text" :value="editItem.prodName"
                                        v-model="editItem.prodName">
                                </div>
                                <!-- 商品類別 -->
                                <div class="info_box cateType">
                                    <label>商品類別</label>
                                    <select name="prodCateNooN" v-model="editItem.cateType">
                                        <option>塔羅</option>
                                    </select>
                                </div>
                                <!-- 商品項目 -->
                                <div class="info_box catename">
                                    <label>商品品項</label>
                                    <select name="prodCateNo" v-model="editItem.cateName">
                                        <option>項鍊</option>
                                        <option>手鍊</option>
                                        <option>幸運石</option>
                                    </select>
                                </div>
                                <!-- 商品描述 -->
                                <div class="info_box prodIntro">
                                    <label>商品描述</label>
                                    <textarea name="prodIntro" id="prodIntro" v-model="editItem.prodIntro"></textarea>
                                </div>

                                <!-- 商品價錢 -->
                                <div class="info_box price">
                                    <label>商品單價</label>
                
                                    <input name="price" type="text" :value="editItem.price" v-model="editItem.price">
                              
                                    </textarea>
                                </div>
                                <!-- 商品狀態 -->
                                <div class="info_box catename">
                                    <label>商品狀態</label>
                                    <select name="status" v-model="editItem.status">
                                        <option>一般</option>
                                        <option>下架</option>
                                    </select>
                                </div>
                                <!-- 商品圖片 -->

                                <div class="info_box prodImage" style="display: flex;
                                flex-direction: column;
                                align-items: center;">
                                    
                                    <label class="prod_img_box" for="prodImage">
                                        <img aria-placeholder="請選擇圖片"
                                            :src="editItem.prodImage1 ? 'images/shop/tarot/'+ editItem.prodImage1 : image1"
                                            style="
                                        width: 250px;object-fit:cover;">
                                    
                                    </label>
                                    <input type="file" id="prodImage" class="displaynone" name="prodImage1"
                                        @change="changeimage($event, 1)">
                                 
                                </div>
                                <div class="info_box prodImage" style="display: flex;
                                flex-direction: column;
                                align-items: center;">
                                    <label class="prod_img_box" for="prodImage">
                                        <img aria-placeholder="請選擇圖片"
                                            :src="editItem.prodImage2 ? 'images/shop/tarot/'+editItem.prodImage2 : image2"
                                            style="width: 250px;object-fit: cover;">

                                    </label>
                                    <input type="file" id="prodImage" class="displaynone" name="prodImage2"
                                        @change="changeimage($event, 2)">
                                </div>
                                <div class="info_box prodImage" style="display: flex;
                                flex-direction: column;
                                align-items: center;">
                                    <label class="prod_img_box" for="prodImage">
                                        <img aria-placeholder="請選擇圖片"
                                            :src="editItem.prodImage3 ? 'images/shop/tarot/'+editItem.prodImage3 : image3"
                                            style="width: 250px;object-fit: cover;">
                                    </label>
                                    <input type="file" id="prodImage" class="displaynone" name="prodImage3"
                                        @change="changeimage($event, 3)">
                                </div>


                                <!-- 儲存/取消 -->
                                <div class="info_box action_box">
                                    <div class="action">
                                        <button type="button" class="third_btn" @click="close">取消</button>
                                    
                                        <button type="button" class="secondary_btn" @click="update">儲存</button>
                                   
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </main>

        </div>
    </section>
</body>

</html>
<script src="js/back_component.js"></script>
<script>
    $(document).ready(function () {
        new Vue({
            el: '#app',
            data: {
            
                editItem: {},
                default: {},
                image1: "",
                image2: "",
                image3: "",
                // 資料表顯示欄位名稱
                colName: [
                    '商品名稱',
                    '項目類別',
                    '項目',
                    '單價',
                    '商品圖片',
                    '商品介紹',
                    '商品狀態'
                ],
                // 後端回傳查詢結果
                queryResult: '',
                // 解構結果
                deconstructResult: {},
                // 結果解構後詳細內容會縮為一個按鈕，點擊跳popup視窗
                detail: {},
                // popup視窗開關class
                displaynone: true,
                // 表格上方操作列按鈕
                actionBtn: ['新增', '下架'],
                editIndex: 0, //控制目前要顯示的是哪個POP UP (0 => 新增 => 1表示修改)
            },
            mounted() {
                this.getCol();

            },

            methods: {
                changeimage(e, idx) {
                 
                    const file = e.target.files[0]
                    switch (idx) {
                        case 1:
                            this.image1 = URL.createObjectURL(file);
                            break;
                        case 2:
                            this.image2 = URL.createObjectURL(file);
                            break;
                        case 3:
                            this.image3 = URL.createObjectURL(file);
                            break;
                    }
                },
                // 依選擇項目取得資料表
                getCol() {
                    let thisVue = this;
                    $.ajax({
                        type: 'POST',
                    
                        url: 'phps/back_getCol.php',
                        data: {
                            table: 'product',
                        },
                        success: function (data) {
                            data = JSON.parse(data);
                            thisVue.queryResult = data.msg;

                        },
                        error: function () {
                                                 }
                    });
                },

                update() {
                    if (this.editIndex == 0) {
                        let thisVue = this;
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function () {
                           
                        }
                    
                        xhr.open("post", "phps/back_products_insert_test.php", true);
                        let form = document.getElementById("good");
                        let formData = new FormData(form);
                        xhr.send(formData);
                        this.$nextTick(() => {
                            this.editItem = this.default

                        })
                        alert("新增成功");
                        this.displaynone = true;
                        this.editIndex == 0;


                    } else {
                        let thisVue = this;
                        let xhr = new XMLHttpRequest();
                        xhr.onload = function () { }
                       
                        xhr.open("post", "phps/back_products_insert_test.php", true);
                        let form = document.getElementById("good");
                        let formData = new FormData(form);
                        xhr.send(formData);
                        this.detail = Object.assign({}, this.editItem)
                        this.$nextTick(() => {
                            this.editItem = this.default
                        })
                        alert("修改成功");
                        this.displaynone = true;

                        this.editIndex == 0;

                    }


                },

                updateDb(btnEl) {
                    
                    if (btnEl.innerText === '新增') {
                        this.displaynone = false;
                        this.detail = {}
                
                    } else if (btnEl.innerText === '修改') {


                    } else if (btnEl.innerText === '下架') {
                        this.onclick = splice(index, 1);
                    }

                },
              

                // 解構欄位
                deconstructRow(row, idx) {
                    let {
                        prodName,
                        cateType,
                        cateName,
                        price,
                        prodIntro,
                        status,
                        ...detail
                    } = row;
                    deconstructResult = {
                        prodName,
                        cateType,
                        cateName,
                        price,
                        detail,
                        prodIntro,
                        status
                    };
                    // 不解構
                    // deconstructResult = this.queryResult[idx];
                },

                // 取得詳細資訊
                getDetail(idx) {
                    this.displaynone = false;
                    this.detail = this.queryResult[idx];
                    this.editIndex = 1
                    this.editItem = Object.assign({}, this.detail)

                },
                close() {
                    this.displaynone = true;
                    this.editIndex = 0
                }
            },
            computed: {
                popup() {
                    return {
                        popup: true,
                        display_none: this.displaynone
                    }
                }
            },

        });
    });
</script>
<style>
    .link_panel {
        width: 20%;
        min-width:
            185px;
    }

    .contain main .container .table_wrapper table tr th:nth-child(1) {
        width: 2%;
    }

    .contain main .container .table_wrapper table tr th:nth-child(3) {
        width: 10%;
    }

    .contain main .container .table_wrapper table tr th:nth-child(2) {
        width: 10%;
    }

    .contain main .container .table_wrapper table tr th:nth-child(4) {
        width: 10%;
    }

    .contain main .container .table_wrapper table tr th:nth-child(5) {
        width: 10%;
    }

    .contain main .container .table_wrapper table tr th:nth-child(6) {
        width: 10%;
    }

    .contain main .container .table_wrapper table tr th:nth-child(7) {
        width: 40%;
    }

    .contain main .container .table_wrapper table tr th:nth-child(8) {
        width: 8%;
    }

    body section.back .contain main .container .table_wrapper table tr td:nth-child(7) {
        overflow: hidden;
        -webkit-line-clamp: 1;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
</style>