<!DOCTYPE html>
<html lang="en">


@@include('layout/head.html', {
    'title': '後台管理'
})
        

<body>
    <section id="app" class="back container">
        
        @@include('back/nav.html')
        

        <!-- 管理內容區 -->
        <div class="contain">
            <!-- 登出 -->
            <header>
                <div class="burger"></div>
                <button class="third_btn">登出</button>
            </header>

            <!-- 管理內容 -->
            <main>
                <div class="container">
                    <!-- 表格上方操作列 -->
                    <div class="action_box top">
                        <!-- <button class="secondary_btn">修改</button> -->
                        <button class="secondary_btn">停權</button>
                        <div>
                            顯示
                            <select class="row_limit">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="all">all</option>
                            </select>
                            筆
                        </div>
                    </div>
                    
                    <!-- 資料內容 -->
                    <div class="table_wrapper">
                        <table>
                            <tr>
                                <th scope="col"><input type="checkbox"></th>
                                <th scope="col" v-for="col in colName">{{col}}</th>
                            </tr>
                            <tr v-for="(row, index) in queryResult">
                                <td><input type="checkbox"></td>
                                <td v-for="(col, colName) in deconstructRow(row, index)">
                                    <label v-if="colName!=='detail'" :class="colName">{{ col }}</label>
                                    <button v-else class="detail_btn" @click="getDetail(index)">查看/編輯</button>
                                </td>
                            </tr>
                            <tr v-if="!queryResult">
                                <td><input type="checkbox"></td>
                                <td :colspan="Object.keys(colName).length">查無資料</td>
                            </tr>
                        </table>
                    </div>

                    <!-- 彈出視窗 -->
                    <div :class="popup">
                        <div class="content_box">
                            <!-- 會員帳號 -->
                            <div class="info_box memId">
                                <label for="memId">帳號</label>
                                <label>{{ detail.memId }}</label>
                            </div>
                            <!-- 會員姓名 -->
                            <div class="info_box memName">
                                <label for="adminName">姓名</label>
                                <input type="text" :value="detail.memName">
                            </div>
                            <!-- 會員信箱 -->
                            <div class="info_box email">
                                <label for="email">信箱</label>
                                <input type="email" :value="detail.email">
                            </div>
                            <!-- 會員生日 -->
                            <div class="info_box birthday">
                                <label for="birthday">生日</label>
                                <input type="date" :value="detail.birthday">
                            </div>
                            <!-- 會員地址 -->
                            <div class="info_box address">                               <label for="address">地址</label>
                                <input type="text" :value="detail.address">
                            </div>
                            <!-- 會員卡號 -->
                            <div class="info_box creditNum">
                                <label for="creditNum">卡號</label>
                                <input type="text" :value="detail.creditNum">
                            </div>
                            <!-- 儲存/取消 -->
                            <div class="info_box action_box">
                                <div class="action">
                                    <button class="third_btn" @click="displaynone=true">取消</button>
                                    <button class="secondary_btn" @click="displaynone=true">儲存</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>
            
        </div>
    </section>
</body>
</html>

<script>
    $(document).ready(function() {
        new Vue({
            el: '#app',
            data: {
                colName: [
                    '會員姓名',
                    '會員帳號',
                    '身分',
                    '詳細資料',
                    '會員狀態'
                ],
                queryResult: '',
                displaynone: true,
                detail: {}
            },
            mounted() {
                this.getCol();
            },
            methods: {
                // 依選擇項目取得資料表
                getCol() {
                    let thisVue = this;
                    $.ajax({
                        type: 'POST',
                        url: 'php/back_getCol.php',
                        data: {
                            table: 'members',
                            queryCol: 'memId, memName, identity, sex, email, phoneNum, birthday, address, creditNum, memImage, status'
                        },
                        success: function(data) {
                            thisVue.queryResult = data.msg;
                        },
                        error: function() {
                            console.log('ajax error');
                        }
                    });
                },
                
                // 解構欄位
                deconstructRow(row, idx) {
                    let {memName, memId, identity, status, ...detail} = row;
                    return {memName, memId, identity, detail, status};
                },

                // 取得會員詳細資訊
                getDetail(idx) {
                    this.displaynone = false;
                    this.detail = this.queryResult[idx];
                    console.log(this.detail);
                }
            },
            computed: {
                popup() {
                    return {
                        popup: true,
                        display_none: this.displaynone
                    }
                }
            }
        });
    });
</script>