<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500;600&amp;family=Shippori+Mincho:wght@400;500;600;700;800&amp;display=swap">
    
    <!-- 瀏覽器頁籤 -->
    <link rel="shortcut icon" href="images/logo_ico_square.ico">
    <title>解星鏡 Mistro | 今日運勢</title>

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">

    
<!-- jquery -->
<script src="js/jquery.min.js"></script>

<!-- vue -->
<script src="js/vue.min.js"></script>

<!-- owl.carousel -->
<script src="js/owl.carousel.min.js"></script>

<!-- gsap -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>

<!-- font_awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

<!-- 自訂義 -->
<script src="js/header.js"></script>
</head>


<body>
    <!-- 網頁頭 by NJ -->
    <!-- 網頁頭 by NJ-->
<header class="main_header">
    
    <input id="nav_toggle" type="checkbox">
    <!-- main logo -->
    <div class="header_all">
        <!-- main logo -->
        <div class="header_img_box">
            <a href="homepage.html" class="logo">
                <img src="./images/index_logo_golden-02.png" alt="首頁mistro logo">
            </a>
        </div>
            <!-- icon -->
        <div class="header_bar">
            <div class="header_icon">
                <a href="test.html" class="pc_login"><p>登入</p></a>
                <a href="member.html" class="pc_login"><img src="./images/header/header_icon_member.svg" alt="會員icon"></a>
                <a href="shopping_cart.html"><img src="./images/header/header_icon_shooping_cart.svg" alt="購物車icon"></a>
            </div>
        

            <!-- 漢堡 -->
            <div class="ham_menu">
                <label for="nav_toggle" class="ham no_style">
                    <div class="ham_origin">
                        <!-- 漢堡的槓槓 -->
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </label>
            </div>

  
        </div>
    </div>

    <!-- 電腦選單 -->
    <nav class="menu">
        <div class="crystal_ball">
        </div>
        <div class="rotate_card">
            <a href="be_tellers.html">
                <div class="menu_card tarot"></div>
            </a>
            <a href="con_today_fortune.html">
                <div class="menu_card zodiac"></div>
            </a>
            <a href="shop.html">
                <div class="menu_card shop"></div>
            </a>
        </div>
        <!-- 手機選單 -->
        <ul class="menu_list">
            <li class="menu_item">
                <a class="menu_link">塔羅</a>
                <ul class="sub_menu">
                    <li><a href="be_tellers.html">體驗占卜師</a></li>
                    <li><a href="online_divination.html">線上占卜</a></li>
                    <li><a href="teller_reservation.html">預約占卜師</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="menu_link">星座</a>
                <ul class="sub_menu">
                    <li><a href="con_today_fortune.html">今日運勢</a></li>
                    <li><a href="con_pair.html">星座配對</a></li>
                    <li><a href="con_real_constellation.html">真實星座</a></li>
                    <li><a href="astrolabe.html">星盤推算</a></li>
                    <li><a href="con_story.html">星座故事</a></li>
                    <li><a href="discuss.html">星座討論區</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="menu_link" href="shop.html">商城</a>
            </li>
            <li class="menu_item">
                <a class="menu_link menu_member" href="#">會員專區</a>
                <ul class="sub_menu">
                    <li><a href="member.html">個人資訊</a></li>
                    <li><a href="mem_orders.html">我的訂單</a></li>
                    <li><a href="teller_mem.html">占卜師專區</a></li>
                </ul>
            </li>
            <li class="menu_item">
                <a class="menu_link menu_login" href="test.html">登入</a>
                <a class="menu_link menu_login" href="test.html">註冊</a>
            </li>
        </ul>
    </nav>

</header>
    <main>
        <div id="app">
            <!-- 星座頁籤 謝謝蘋姊拯救世界 by JC -->
                <section class="pagination_nav">
        <div class="container">
            <ul>
                <li v-for="(url, nav) in urls"><a :href="url"><label>{{nav}}</label></a></li>
            </ul>
        </div>
    </section>
            <!-- 討論區 by JC -->
            <section class="discuss">
                <!-- 控制整個討論區padding的大大容器 -->
                <div class="container">
                          
                    <div class="content">
                        <div class="owl-carousel owl-theme display">
                            <div class="item" v-for="(url, cate) in cates">
                                <a :href="url"> <label>{{cate}}</label></a>
                            </div>
                        </div> 
                        
                        <!-- 左邊分類欄 -->
                        <div class="content_cate">
                            <li v-for="(url, cate) in cates"><a :href="url"><label class="category">
                                {{cate}}</a>
                        </label></li>
                        </div>

                        <!-- 右邊內容欄 -->
                        <div class="content_article">
                            <div class="content_wrap">
                                <div class="today">
                                    <h2>今日運勢</h2>
                                    <p>2022年3月24號</p>
                                    <div class="item">
                                        <div class="pic">
                                            <img src="./images/con_today/today_sagit.svg">
                                            <div class="txt_box">
                                                <p>射手座</p>
                                            </div>
                                        </div>
                                        <div class="numbers">
                                            <div class="txt_box">

                                                 
                                                <p>幸運數字</p>
                                                <p>2</p>
                                                <p>開運方向</p>
                                                <p>東北方向</p>
                                                <p>幸運顏色</p>
                                                <p>金黃色</p>
                                                <p>幸運星座</p>
                                                <p>水瓶座 </p>   
                                            </div>
                                        </div>
 </div>
 <div class="overall_fortune">
    <h4>運勢指數</h4>
    <div class="overall_fortune_txt"> <p><sapn>整體運勢 | ★★★★:</sapn>本月運勢不錯，單身者被介紹合適對象的機會很大，值得把握。</p></div>
    <div class="overall_fortune_txt"> <p><span>愛情運勢 | ★★★ :</span>受長輩的喜愛度攀升，能夠在家庭聚會，被長輩介紹合適的對象。</p></div>
    <div class="overall_fortune_txt"> <p><span>事業運勢 | ★★★ :</span>本月可進行開創性工作，有什麼想法，都可以大膽提出來。</p></div>
    <div class="overall_fortune_txt"> <p><span>財運運勢 | ★★★★:</span>本月不利投資，市場上的假象太多，容易混淆你的視線，打亂你的計劃。</p></div>
                                    </div>
                                </div>
                                       
                            </div>
                        </div>
                    </div>
                </div>
            </section>
          
        </div>
        
    </main>
    <!-- 網頁尾 By NJ -->
    <!-- 網頁尾  by NJ-->
<footer class="main_footer">
    <div class="footer_container">
        <div class="footer_info">
            <!-- LOGO -->
            <div class="footer_logo img_box">
                <a href="homepage.html">
                    <img src="./images/logo_white.svg" alt="解星鏡logo">
                </a>
            </div>
            <div class="footer_up">
                <div class="footer_nav">
                    <ul>
                        <li><a href="be_tellers.html">塔羅介紹</a></li>
                        <li><a href="online_divination.html">線上占卜</a></li>
                        <li><a href="con_today_fortune.html">星座運勢</a></li>
                        <li><a href="teller_mem.html">預約占卜師</a></li>
                        <li><a href="shop.html">商城</a></li>
                        <li><a href="member.html">會員中心</a></li>
                    </ul>
                </div>
                <div class="footer_icon">
                    <a href="#"><img src="./images/footer/icon-fb.png" alt="facebook icon"></a>
                    <a href="#"><img src="./images/footer/icon-ig.png" alt="instagram icon"></a>
                    <a href="#"><img src="./images/footer/icon-yt.png" alt="youtube icon"></a>
                </div>
            </div>
        </div>
        <div class="footer_down">
            <div class="footer_txt_box">
                <p>
                    本網站為緯育TibaMe_前端設計工程師班第73期第五組學員專題成果作品，本平台僅供學習、展示之用。<br>若有牴觸有關著作權，或有第三人主張侵害智慧財產權等情事，若有侵權疑慮，請私訊
                    <a href="https://www.tibame.com/goodjob/frontend">[TibaMe-前端設計工程師養成班]</a>，後續由專人協助處理。
                    <br>
                    <br>
                    Copyright © 2022 ft. All rights reserved.
                </p>
            </div>
        </div>
        
    </div>
    
    

    
</footer>
    <script>
        new Vue({
            el: '#app',
            data: { //變數放這
                num: 999,
                urls: {
                    '今日運勢': 'con_today_fortune.html',
                    '星座配對': 'con_pair.html',
                    '性格測驗': 'con_real_constellation.html',
                    '星盤推算': 'astrolabe.html',
                    '星座故事': 'con_story.html',
                },
                navs: ['今日運勢', '星座配對', '性格測驗', '星盤推算', '星座故事'],
                cates: {
                    '射手座': 'con_today_fortune_sagittarius.html',
                    '水瓶座': 'con_today_fortune.html',
                    '雙魚座': 'con_today_fortune_sagittarius.html',
                    '牡羊座': 'con_today_fortune_sagittarius.html',
                    '金牛座': 'con_today_fortune_sagittarius.html',
                    '雙子座': 'con_today_fortune_sagittarius.html',
                    '巨蟹座': 'con_today_fortune_sagittarius.html',
                    '獅子座': 'con_today_fortune_sagittarius.html',
                    '處女座': 'con_today_fortune_sagittarius.html',
                    '天秤座': 'con_today_fortune_sagittarius.html',
                    '天蠍座': 'con_today_fortune_sagittarius.html',
                    '摩羯座': 'con_today_fortune_sagittarius.html',

                },
                iconLike: './images/icon/icon_discuss_like.svg',
   
                iconLikeClick: 'images/icon/icon_discuss_likes.svg',
                iconMessage: 'images/icon/icon_discuss_message.svg',
                iconFav: 'images/icon/icon_discuss_favorite.svg',
                iconClose: 'images/icon/icon_discuss_close.svg',
                con_cancer: 'images/constellation/discuss_con_cancer.jpg',
                con_fruit: 'images/constellation/discuss_fruit.jpg',
                con_ast: 'images/constellation/discuss_astronomy.jpg',
                author_img: 'images/black_cat.svg',
                author_hat_img: 'images/black_cat_wizard.svg',
             
            },
            methods: {
                changeLike(e) {
          
                    this.$data.num += 1;
          

                },
                isChecked() {

                }
            },
        });
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                stagePadding: 10,
                loop: true,
                margin: 5,
                nav: false,
                responsive: {
                    0: {
                        items: 5
                    },
                    767: {
                        items: 8
                    },

                }
            });
        });
    </script>

</body>

</html>