<!DOCTYPE html>
<html lang="en">

@@include('layout/head.html', {
'title': '星座故事'
})

<body>
    <!-- 網頁頭 by NJ -->
    @@include('layout/header.html')
    <main>
        <div id="app">
            <!-- 星座頁籤 謝謝蘋姊拯救世界 by JC -->
            @@include('layout/con_page.html')
            <!-- 討論區 by JC -->
            <section class="discuss">
                <!-- 控制整個討論區padding的大大容器 -->
                <div class="container">

                    <div class="content">

                        <div class="owl-carousel owl-theme display">
                            <div class="item" v-for="(url, cate) in cates">
                                <a :href="url"> <label>{{cate}}</label></a>
                            </div>
                        </div>

                        <div class="content_cate">
                            <ul>
                                <li v-for="(url, cate) in cates"><span class="category"><a
                                            :href="url">{{cate}}</a></span></li>
                            </ul>
                        </div>
                        <!-- 左邊分類欄

        

                        <!-- 右邊內容欄 -->
                        <div class="content_article">
                            <div class="content_wrap">

                                <h2>星座故事</h2>
                
                                <div class="story_box">
                                    <div class="img_box">
                                        <img src="./images/con_story/story-sagit.svg" alt="">


                                    </div>

                                    <div class="txt_box">
                                        <p>射手座又叫人馬座，夏夜的時候，抬頭看南方的天空，人馬座就在天蠍座的東邊。
                                            希臘神話故事中的射手座，是一個上半身為人形，下半身是馬的怪物，名叫奇龍。
                                            這種半人半馬的怪獸，被稱為山杜爾族，居住在派利翁山上。他們以狩獵維生，性情非常兇猛。
                                            奇龍卻與其他的山杜爾族不一樣，他以善良和智慧聞名。因此，在山杜爾族裡，他是一個受尊敬的賢者。他是族中唯一能長生不老的人，但是他最後還是逃不過死神的召喚。
                                        </p>

                                    </div>
                                </div>











                            </div>
                        </div>

                    </div>
                </div>
        </div>
        </div>
        </section>


        </div>

    </main>
    <!-- 網頁尾 By NJ -->
    @@include('layout/footer.html')
    <script>
        new Vue({
            el: '#app',
            data: { //變數放這
                num: 999,
                urls: {
                    '今日運勢': 'con_today_fortune.html',
                    '星座配對': 'con_pair.html',
                    '性格測驗': 'con_real_constellation.html',
                    '星盤推算': 'astrolabe.html',
                    '星座故事': 'con_story.html',
                    '星座討論區': 'discuss.html',
                },
                navs: ['今日運勢', '星座配對', '性格測驗', '星盤推算', '星座故事'],
                cates: {
                    '射手座': 'con_story.html',
                    '水瓶座': 'con_story_water.html',
                    '雙魚座': 'con_story.html',
                    '牡羊座': 'con_story.html',
                    '金牛座': 'con_story.html',
                    '雙子座': 'con_story.html',
                    '巨蟹座': 'con_story.html',
                    '獅子座': 'con_story.html',
                    '處女座': 'con_story.html',
                    '天秤座': 'con_story.html',
                    '天蠍座': 'con_story.html',
                    '摩羯座': 'con_story.html',

                },
                iconLike: './images/icon/icon_discuss_like.svg',
                iconLikeClick: 'images/icon/icon_discuss_likes.svg',
                iconMessage: 'images/icon/icon_discuss_message.svg',
                iconFav: 'images/icon/icon_discuss_favorite.svg',
                iconClose: 'images/icon/icon_discuss_close.svg',
                con_cancer: 'images/constellation/discuss_con_cancer.jpg',
                con_fruit: 'images/constellation/discuss_fruit.jpg',
                con_ast: 'images/constellation/discuss_astronomy.jpg',
                author_img: 'images/black_cat.svg',
                author_hat_img: 'images/black_cat_wizard.svg',
            
            },
            mounted() {
                $(document).ready(function () {
                    $.ajax({
                        url: 'phps/story_test.php',
                        type: "POST",
                        success(data) {
                     
                        }
                    })
                })


            },
            methods: {

                changeLike(e) {
                 
                  
                    this.$data.num += 1;
          
                },
                isChecked() {

                }
            },
        });
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                stagePadding: 10,
                loop: true,
                margin: 5,
                nav: false,
                responsive: {
                    0: {
                        items: 5
                    },
                    767: {
                        items: 8
                    },

                }
            });
        });
    </script>

    
    <script>



    </script>

</body>

</html>