<!DOCTYPE html>
<html lang="en">

@@include('layout/head.html', {
'title': '今日運勢'
})

<body>
    <!-- 網頁頭 by NJ -->
    @@include('layout/header.html')
    <main>
        <div id="app">
            <!-- 星座頁籤 謝謝蘋姊拯救世界 by JC -->
            @@include('layout/con_page.html')
            <!-- 討論區 by JC -->
            <section class="discuss">
                <!-- 控制整個討論區padding的大大容器 -->
                <div class="container">
                          
                    <div class="content">

                        <div class="owl-carousel owl-theme display">
                            <div class="item" v-for="(url, cate) in cates">
                                <a :href="url"> <label>{{cate}}</label></a>
                            </div>
                        </div> 
                        
                        <!-- 左邊分類欄 -->
                        <div class="content_cate">
                            <li v-for="(url, cate) in cates"><a :href="url"><label class="category">
                                {{cate}}</a>
                        </label></li>
                        </div>

                        <!-- 右邊內容欄 -->
                        <div class="content_article">
                            <div class="content_wrap">

                             
                                <div class="today">
                                    <h2>今日運勢</h2>
                                    <p>2022年3月24號</p>
                                    <div class="item">
                                        <div class="pic">
                                            <img src="./images/con_today/today_water_.svg">
                                            <div class="txt_box">
                                                <p>水瓶座</p>
                                            </div>
                                        </div>
                                        <div class="numbers">
                                            <div class="txt_box">

                                                 
                                                <p>幸運數字</p>
                                                <p>1</p>
                                                <p>開運方向</p>
                                                <p>東南方向</p>
                                                <p>幸運顏色</p>
                                                <p>燻鮭紅</p>
                                                <p>幸運星座</p>
                                                <p>水瓶座 </p>   
                                            </div>
                                        </div>
 </div>
 <div class="overall_fortune">
    <h4>運勢指數</h4>
    <div class="overall_fortune_txt"><p><span>整體運勢 | ★★★★:</span>你的談吐給人家留下好的印象，在心儀對象面前易讓對方加深對你的好感。</p></div>
    <div class="overall_fortune_txt"> <p><span>愛情運勢 | ★★★ :</span>對另一半較為大方，很樂意為對方破費購買溫馨別致的禮物，令對方很開心。</p></div>
    <div class="overall_fortune_txt"> <p><span>事業運勢 | ★★★ :</span>新計劃的執行宜多加反覆思考和審視，考慮周全可讓後續計劃進行得更順利。</p></div>
    <div class="overall_fortune_txt"> <p><sapn>財運運勢 | ★★★★:</sapn>情緒高漲，笑逐顏開的一天，有機會與久未聯繫的老朋友相遇，驚喜不斷。</p></div>
                                    </div>
                                </div>
                                       
                            </div>
                        </div>
                    </div>
                </div>
            </section>
      
        </div>
        
    </main>
    <!-- 網頁尾 By NJ -->
    @@include('layout/footer.html')
    <script>
        new Vue({
            el: '#app',
            data: { //變數放這
                num: 999,
                urls: {
                    '今日運勢': 'con_today_fortune.html',
                    '星座配對': 'con_pair.html',
                    '性格測驗': 'con_real_constellation.html',
                    '星盤推算': 'astrolabe.html',
                    '星座故事': 'con_story.html',
                    '星座討論區': 'discuss.html',
                },
                navs: ['今日運勢', '星座配對', '性格測驗', '星盤推算', '星座故事', '星座討論區'],
                cates: {
                    '射手座': 'con_today_fortune_sagittarius.html',
                    '水瓶座': 'con_today_fortune.html',
                    '雙魚座': 'con_today_fortune_sagittarius.html',
                    '牡羊座': 'con_today_fortune_sagittarius.html',
                    '金牛座': 'con_today_fortune_sagittarius.html',
                    '雙子座': 'con_today_fortune_sagittarius.html',
                    '巨蟹座': 'con_today_fortune_sagittarius.html',
                    '獅子座': 'con_today_fortune_sagittarius.html',
                    '處女座': 'con_today_fortune_sagittarius.html',
                    '天秤座': 'con_today_fortune_sagittarius.html',
                    '天蠍座': 'con_today_fortune_sagittarius.html',
                    '摩羯座': 'con_today_fortune_sagittarius.html',

                },
                iconLike: './images/icon/icon_discuss_like.svg',
                iconLikeClick: 'images/icon/icon_discuss_likes.svg',
                iconMessage: 'images/icon/icon_discuss_message.svg',
                iconFav: 'images/icon/icon_discuss_favorite.svg',
                iconClose: 'images/icon/icon_discuss_close.svg',
                con_cancer: 'images/constellation/discuss_con_cancer.jpg',
                con_fruit: 'images/constellation/discuss_fruit.jpg',
                con_ast: 'images/constellation/discuss_astronomy.jpg',
                author_img: 'images/black_cat.svg',
                author_hat_img: 'images/black_cat_wizard.svg',
           
            },
            methods: {
                changeLike(e) {
              
                    this.$data.num += 1;
         

                },
                isChecked() {

                }
            },
        });
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                stagePadding: 10,
                loop: true,
                margin: 5,
                nav: false,
                responsive: {
                    0: {
                        items: 5
                    },
                    767: {
                        items: 8
                    },

                }
            });
        });
    </script>

</body>

</html>