<!DOCTYPE html>
<html lang="en">

    @@include('layout/head.html', {
        'title': '星座討論區'
    })
    
    <!-- <script src="js/lightbox.js"></script> -->

<body>    
    <!-- 網頁頭 by NJ -->
    @@include('layout/header.html')    
    <main>
        <div id="app">
            <!-- 星座頁籤 謝謝蘋姊拯救世界 by JC -->
            @@include('layout/con_page.html')
             <!-- 討論區 by JC -->
            <section class="discuss">
                <!-- 控制整個討論區padding的大大容器 -->
                <div class="container">
                    <!-- 最上面搜尋bar,撰寫,我的 -->
                    <div class="content_head">
                        <div class="content_header">
                            <div class="search_bar">
                                <input type="search" id="search">
                                <input type="submit" value="搜尋" class="third_btn">
                            </div>
                            <div class="icon_btn">
                                <a href="discuss_write.html"><img src="images/icon/icon_discuss_add.svg" alt="撰寫文章"></a>
                                <a href="discuss_mine.html"><img src="images/icon/icon_discuss_mine.svg" alt="我的文章"></a>
                            </div>
                        </div>
                    </div>
                    <!-- 貓頭鷹分類 -->
                    <div class="owl-carousel owl-theme display">
                        <div class="item" v-for="cate in cates">
                            <label>{{cate}}</label>
                        </div>
                    </div>
                    <!-- 文章 搜尋bar下排包住左邊和右邊的容器 -->
                    <div class="content">
                        
                        <!-- 左邊分類欄 -->
                        <div class="content_cate">
                            <ul>
                                <li v-for="cate in cates"><label class="category">{{cate}}</label></li>
                            </ul>
                        </div>

                        <!-- 右邊內容欄 -->
                        <div class="content_article">
                            <div class="content_wrap">

                                <!-- 熱門 & 最新的兩個標籤 -->
                                <div class="content_label">
                                    <label v-for="(label,index) in labels" @click="isChecked = index" :class="{select_label: isChecked == index}" :key="article.artNo">{{label}}</label>
                                </div>
                                <!-- == 熱門 == 放文章的地方 -->
                                <div class="row" :class="{'label_hidden' : isChecked}">
                                    <!-- 文章卡片 -->
                                    <div class="article_cards" v-for="(card,index) in article">
                                        <div class="line_top">
                                            <p>{{article[index].topicName}}</p>
                                            <p>|</p>
                                            <p>{{article[index].artTime}}</p>
                                        </div>
                                        <div class="line_middle" @click="getIndex(index);showBoard =! showBoard">
                                            <div class="line_middle_txt">
                                                <h3>{{article[index].title}}</h3>
                                                <p class="words_limit">{{article[index].content}}</p>
                                            </div>
                                            <div class="line_middle_pic">
                                                <img :src="article[index].artImage">         
                                            </div>
                                        </div>
                                        <div class="line_bottom">
                                            <!-- 愛心 -->
                                            <button class="using_btn"  @click="article[index].activeIndex =! article[index].activeIndex; changeLike(index)" >
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" focusable="false" role="img" aria-hidden="true" class="fav_animation" :class="{active: article[index].activeIndex == 1}">
                                                    <path d="M16.5 4A5.49 5.49 0 0012 6.344 5.49 5.49 0 007.5 4 5.5 5.5 0 002 9.5C2 16 12 22 12 22s10-6 10-12.5A5.5 5.5 0 0016.5 4z" fill-rule="evenodd">
                                                    </path>
                                                </svg>
                                                <p>{{article[index].likes}}讚</p>
                                            </button>
                                            
                                            <!-- 留言 -->
                                            <img :src="iconMessage">
                                            <p>{{article[index].msgs}}回應</p>
                                            <!-- 收藏 -->
                                            <button class="using_btn" @click="article[index].favIndex =! article[index].favIndex">
                                                <svg viewBox="0 0 24 24" focusable="false" role="img" aria-hidden="true" class="origin fav_animation" :class="{active: article[index].favIndex == 1}">
                                                    <path d="M17.65 21.39L12 17.5l-5.65 3.88A1.5 1.5 0 014 20.15V5a2.5 2.5 0 012.5-2.5h11A2.5 2.5 0 0120 5v15.15a1.5 1.5 0 01-2.35 1.24z"></path>
                                                </svg>
                                                <p>收藏</p>
                                            </button>
                                        </div>
                                    </div>
                                    <!-- 頁籤按鈕 -->
                                    <div class="content_pages">
                                        <button class="other_btn">1</button>
                                        <button class="other_btn">2</button>
                                        <button class="other_btn">3</button>
                                        <span>&#10230;</span>
                                    </div>
                                </div>
                                <!-- == 最新 == 放文章的地方 -->
                                <div class="row" :class="{'label_hidden' : isChecked == index}">
                                    <!-- 文章卡片 -->
                                    <div class="article_cards">
                                        test
                                    </div>
                                    <!-- 頁籤按鈕 -->
                                    <div class="content_pages">
                                        <button class="other_btn">1</button>
                                        <button class="other_btn">2</button>
                                        <button class="other_btn">3</button>
                                        <span>&#10230;</span>
                                    </div>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- 文章瀏覽燈箱 by JC -->
            <section id="articleView" v-if="showBoard == 1" :class="{articleShow: showBoard == 1 }">
                <div class="container">
                    <div class="article_icon_box" @click="showBoard =! showBoard">
                        <img :src="iconClose" id="close">
                    </div>
                    <div class="author img_box narrow">
                        <img :src="author_hat_img" alt="會員頭像">
                        <span>{{getTitle.memId}}</span>
                    </div>
                    <div class="article_view_title narrow">
                        <h3>{{getTitle.title}}</h3>
                        <a href="discuss.html">{{getTitle.topicName}}</a>
                        <p>{{getTitle.artTime}}</p>
                    </div>
                    <div class="article_view_pic img_box narrow">
                        <img :src="getTitle.artImage" alt="文章圖片">                   
                    </div>
                    <div class="article_view_content narrow">
                            <p>{{getTitle.content}}</p>
                    </div>
                    <!-- 功能列-- 愛心回應數分享等等 -->
                    <div class="article_using narrow">
                        <!-- 左 -->
                        <img src="images/icon/icon_discuss_likes.svg" alt="按喜歡的數量">
                        <p>{{getTitle.likes}}</p>
                        <span>| {{getTitle.msgs}} 回應</span>
                        <!-- 右 -->
                        <img src="images/icon/icon_discuss_favorite.svg" alt="收藏">
                        <img src="images/icon/icon_discuss_share.svg" alt="分享">
                        <img src="images/icon/icon_discuss_notice.svg" alt="檢舉" @click="showNotice =! showNotice">
                    </div>

                    <!-- 留言回應區塊  -->
                    <div class="article_response narrow">
                        <div class="response_head">
                            <h4>文章回應</h4>
                        </div>

                        <!-- 留言卡片 -->
                        <div class="response" v-for="(msg,index) in message">
                            <hr class="style">
                            <div class="response_card">
                                <div class="card_author img_box">
                                    <img :src="'./images/teller_mem/'+ message[index].memImage" alt="會員頭像">
                                </div>
                                <div class="card_txt">
                                    <div class="response_author">
                                        <span>{{message[index].memId}}</span>
                                    </div>
                                    <div class="response_card_content">
                                        <p>{{message[index].content}}</p>
                                    </div>
                                    <div class="response_card_time">
                                        <span>{{message[index].msgTime}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 使用者要留言的地方 -->
                <div class="response_box">
                    <div class="user_img_box">
                        <img :src="author_hat_img" alt="會員頭像">
                    </div>
                    <div class="user_txt_box">
                        <textarea  cols="1" rows="1"></textarea>
                    </div>
                    <div class="res_btn_box">
                        <input type="submit" class="submit_btn" value="送出">
                    </div>
                </div>
            </section>

            <!-- 檢舉燈箱 by JC -->
            <section class="article_notice" id="notice_board" v-if="showNotice == 1" :class="{noticeShow: showNotice == 1 }">
                <div class="container">
                    <h3>檢舉文章</h3>
                    <h4>檢舉這篇文章的原因?</h4>
                    <form action="" class="form_notice">
                        <label>
                            <input type="radio" name="notice">
                            中傷、歧視、挑釁或謾罵他人
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            惡意洗板、重複張貼
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            包含色情、露點、性騷擾或血
                            腥恐怖等讓人不舒服之內容
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            暴力、傷害他人或傷害動物的
                            內容
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            文章發表在不適當的看板
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            文章內容空泛或明顯無意義內容
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            文章意圖號召他人按愛心，且無實質社會價值
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            包含未成年裸露、色情內容
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            未經當事人同意散佈私密色情影音內容
                        </label>
                        <label>
                            <input type="radio" name="notice">
                            其他原因
                        </label>
                    </form>
                    <div class="notice_btn_box">
                        <button class="third_btn" id="close_notice" @click="showNotice =! showNotice">取消</button>
                        <a href="#"><button type="submit" class="secondary_btn">完成</button></a>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- 網頁尾 By NJ -->
    @@include('layout/footer.html')
    <script>
        new Vue({
            el: '#app',
            data: { //變數放這
                urls: {
                    '今日運勢': 'con_today_fortune.html',
                    '星座配對': 'con_pair.html',
                    '真實星座': 'con_real_constellation.html',
                    '星盤推算': 'astrolabe.html',
                    '星座故事': 'con_story.html',
                    '星座討論區': 'discuss.html',
                },
                navs: ['今日運勢','星座配對','真實星座','星盤推算','星座故事','星座討論區'],
                cates: ['全部','塔羅秘笈','塔羅實例','愛情診療室','塔羅牌陣','占卜專區'],
                labels: ['熱門','最新'],
                iconMessage: 'images/icon/icon_discuss_message.svg',
                iconClose: 'images/icon/icon_discuss_close.svg',
                author_hat_img: 'images/black_cat_wizard.svg',
                isChecked: 0,
                showBoard: 0,
                showNotice: 0,
                index: '',
                article: [],
                message: [],
                getTitle: {},
                msgIdx:{},
            },
            created() {
                this.getCol();
                this.getTopic();
            },
            mounted() {
                this.getCol();
            },
            methods: {
                changeLike(index){
                    if(this.$data.article[index].activeIndex == 0){
                        this.$data.article[index].likes -= 1;
                    }else if(this.$data.article[index].activeIndex == 1){
                        this.$data.article[index].likes += 1;
                    }
                },
                getIndex(index){
                    // console.log(this.article[index]);
                    this.getTitle = this.article[index];
                    this.getMsg(index);
                },
                // 依選擇項目取得資料表
                getCol() {
                    let thisVue = this;
                    $.ajax({
                        type: 'POST',
                        url: 'phps/discuss.php',
                        dataType: 'JSON',
                        success: data => {
                            console.log(data);
                            if (data !== false){
                                this.article = data;
                                // console.log(this.article);
                            }

                        },
                        error: function() {
                            console.log('ajax error');
                        }
                    });
                },
                //取留言的資料
                getMsg(index) {
                    let msgIdx = this.article[index];
                    console.log(msgIdx);
                    $.ajax({
                        type: 'POST',
                        url: 'phps/select.php',
                        
                        data: {
                            table: 'article_message',
                            queryCol: 'artNo, msgTime, msgContent, memId, memImage',
                            joinTable: 'members',
                            joinOn: 'memNo',
                            condition: `article_message.artNo =  ${msgIdx.artNo}`,
                            other: 'order by msgTime',
                        },
                        success: data => {
                            // console.log(data.msg);
                            console.log(data.sql);
                            if (data.msg !== false){
                                this.message = data.msg;
                                // console.log(thisVue.message);
                            }
                        },
                        error: err => {
                            console.log('ajax error');
                        }
                    });
                },
            },
        });
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                stagePadding: 10,
                loop:true,
                margin:5,
                nav:false,
                responsive:{
                    0:{
                        items:3
                    },
                    767:{
                        items:3
                    },

                }
            });
        });
    </script>
    
</body>
</html>