<!DOCTYPE html>
<html lang="en">
@@include('layout/head.html', {
    'title': '發表文章'
})
<body>
    <!-- 網頁頭 by NJ -->
    @@include('layout/header.html')  
    <main id="app">
        <section class="discuss discuss_write">
            <div class="container">
                <!-- 撰寫文章區 by JC -->
                <div class="article_writing_board">
                    <!-- 選擇看板 -->
                    <div class="choose_theme">
                        <select name="topic" id="article_mine_month">
                            <option  selected disabled>選擇看板</option>
                            <option v-for="cate in cates" :value="cates.topicName">{{cate.topicName}}</option>
                        </select>
                    </div>
                    
                    <div class="write_head">
                        <div class="author img_box">
                            <img :src="author_hat_img" alt="會員頭像">
                        </div>
                        <div class="writer_detail_box">
                            <p>{{ members[5].memId }}</p>
                            <p class="getTime">{{getCurrentTime}}</p>
                        </div>
                    </div>
                    <form action="">
                        <!-- 文章標題 -->
                        <div class="write_title">
                            <label>標題
                            <input type="text" name="title" id="write_txt_title" maxlength="20" v-model="title">
                            </label>
                        </div>
                        <!-- 寫內容的地方 -->
                        <div class="write_content" id="write_content">
                            <label>內容
                            <textarea name="content" rows="12" placeholder="請輸入文章內容..." v-model="content" type="text"></textarea>
                            </label>
                        </div>
                        <!-- 最下面 選圖片 清除 發布 -->
                        <div class="write_bottom">
                            <div class="write_using_btn">
                                <a :href=backUrl><input type="button" class="third_btn">取消</a>
                                <input type="button" class="third_btn" @click="insertData">發佈</a>
                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

    </main>
    <!-- 網頁尾 By NJ -->
    @@include('layout/footer.html')
    <script>
        new Vue({
            el: '#app',
            data: { //變數放這
                cates: [],
                author_hat_img: 'images/black_cat_wizard.svg',
                backUrl: 'discuss.html',
                members: [],
                topic: '',
                title: '',
                content: '',
            },
            created() {
                this.getCol();
                this.getTopic();
            },
            methods: {
                getCol(){
                    $.ajax({
                        type: 'POST',
                        url: 'phps/select.php',
                        
                        data: {
                            table: 'members',
                            queryCol: 'memId',

                        },
                        success:  data => {
                            // console.log(data.msg);
                            if (data.msg !== false){
                                this.members = data.msg;
                            }
                        },
                        error: err => {
                            console.log('ajax error');
                        }
                    });
                },
                getTopic() {
                    $.ajax({
                        type: 'POST',
                        url: 'phps/select.php',
                        
                        data: {
                            table: 'article_topic',
                            queryCol: 'topicName',

                        },
                        success:  data => {
                            // console.log(data.msg);
                            if (data.msg !== false){
                                this.cates = data.msg;
                                // console.log(this.cates);
                            }
                        },
                        error: err => {
                            console.log('ajax error');
                        }
                    });
                },
                insertData() {
                    let topic = this.topicName;
                    let title = this.title;
                    let content = this.content;
                    console.log(title);
                    // console.log(data)
                    // 檢查欄位是否已填
                    // if (!topic) {
                    //     this.resetInput('請選擇看板名稱');
                    //     return;
                    // }
                    // if(!title){
                    //     this.resetInput('請輸入標題');
                    //     return;
                    // }
                    // if(!content){
                    //     this.resetInput('請輸入內容');
                    //     return;
                    // }
                    // 新增資料
                    $.ajax({
                        type: 'POST',
                        url: 'phps/insert_col.php',
                        data: {
                            table: 'article',
                            col: 'title , content',
                            insertValue: `'${title}', '${content}'`
                        },
                        success: data => {
                            // this.resetInput('成功發表文章!');
                            this.getCol();
                            console.log(data.sql);
                        },
                        error: err => {
                            console.log('ajax error');
                        }
                    });
                    // window.location.href = "discuss.html";
                },
                resetInput(msg = false) {
                    if(msg) alert(msg);
                    console.log(msg);
                    this.title = '';
                    this.content = '';
                },
                
            },
            computed: {
                getCurrentTime(){
                    var today = new Date();
                    var date = today.getFullYear() + '-' + (today.getMonth()+1) + '-' + today.getDate();
                    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    var dateTime = date + ' ' +time;
                    return dateTime;
                }
            }
            
        })
    </script>
</body>
</html>