<!DOCTYPE html>
<html lang="en">

    @@include('layout/head.html', {
        'title': '訂單詳情'
    })
    
<body>
    @@include('layout/header.html')
    <main>
        <!-- 搜尋及篩選 -->
        <section class="query_orders">
            <div class="container">
                
                <h2>訂單管理</h2>
                <!-- 訂單分頁頁籤: 已下單/待出貨/運送中/已到店 -->
                <div id="app" class="status_box order_status">
                    <div class="action_bar">
                        <div class="status_btn">
                            <button :class="(i === onSelectStatus) ? 'selected_btn' : 'unselected_btn'" v-for="(item, i) in status" @click="onSelectStatus = i">{{ item }}</button>
                        </div>
                        <!-- <input type="search" class="search"> -->
                        <!-- <button class="secondary_btn">搜尋</button> -->
                    </div>

                    <section class="mem_orders">
                        <div class="container">
                            <div class="order_box">
                                <!-- 每筆訂單 -->
                                <ul class="order_list">
                                    <li class="order_item" v-if="item.status === status[onSelectStatus]" v-for="(item, i) in orderList">
                                        <div class="order_header">
                                            <div class="order_no">#{{ item.orderNo }}</div> 
                                            <div class="status">{{ item.status }}</div>
                                        </div> 
                                        <div class="order_content">
                                            <!-- 訂單項目 -->
                                            <ul class="detail_list">
                                                <li class="detail_item" v-if="item.orderNo === detail.orderNo" v-for="(detail, j) in orderItemList">
                                                    <div class="item">
                                                        <div class="img_box">
                                                            <img :src="imgUrl(detail.prodImage1)">
                                                        </div> 
                                                        <div class="txt_box">
                                                            <div class="txt info">
                                                                <span>{{ detail.prodName }}</span>
                                                                <span>NT${{ detail.price * detail.mount }}</span>
                                                            </div> 
                                                            <div class="txt subtotal">
                                                                <span>x1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        
                                        <div class="order_footer">
                                            <div class="item">
                                                <span class="order_mount">共{{ totalMount(item.orderNo) }}商品</span>
                                                <span class="total">訂單金額NT${{ item.totalPrice }}</span>
                                            </div> 
                                            <div class="item">
                                                <span class="order_time">{{ item.orderTime }}</span> 
                                                <button class="third_btn">取消</button>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="action">
                    <a href="member.html">
                        <button class="third_btn">會員專區</button>
                    </a>
                    <a href="shop.html">
                        <button class="secondary_btn">逛逛商城</button>
                    </a>
                </div>

            </div>
        </section>   
    
    </main>
    @@include('layout/footer.html')
    </body>
</html>
<script>
    
    // 若尚未登入
    if (getSessionData() === false) {
        $('section.member').css({opacity: 0});
        alert('請先登入');
        $('section.login').removeClass('display_none');
        document.body.classList.add('login_hidden');
    }
    else {
        getData();
    }

    function getData() {
        new Vue({
            el: '#app',
            data: {
                userData: getSessionData(),
                status: ['已下單', '待出貨', '運送中', '已到店'],
                onSelectStatus: 0,
                orderList: [],
                orderItemList: []
            },
            mounted() {
                this.getOrders();
            },
            methods: {
                getOrders() {
                    $.ajax({
                        type: 'POST',
                        url: 'phps/select.php',
                        
                        data: {
                            table: 'orders',
                            queryCol: '*',
                            condition: `memNo = ${this.userData.userNo}`
                        },
                        success:  data => {
                            if (data.msg !== false){
                                this.orderList = data.msg;
                            }
                        },
                        error: err => {
                            console.log(err);
                        }
                    });

                    $.ajax({
                        type: 'POST',
                        url: 'phps/select.php',
                        
                        data: {
                            table: 'order_item',
                            queryCol: '*',
                            joinTable: 'product',
                            joinOn: 'prodNo',
                            condition: `orderNo in (select orderNo from orders where memNo = ${this.userData.userNo})`
                        },
                        success:  data => {
                            if (data.msg !== false){
                                this.orderItemList = data.msg;
                            }
                        },
                        error: err => {
                            console.log(err);
                        }
                    });
                },
                totalMount(no) {
                    let sum = 0;
                    for (let i = 0; i < this.orderItemList.length; i++) {
                        if (no === this.orderItemList[i].orderNo) {
                            sum += this.orderItemList[i].mount;
                        }
                    }
                    return sum;
                },
                imgUrl(img) {
                    return `images/shop/tarot/${img}`;
                }
            }
        })
    }
</script>