<!DOCTYPE html>
<html lang="en">

@@include('layout/head.html', {
    'title': '會員專區'
})

<body>

@@include('layout/header.html')

<!-- 網頁內容 by PIN -->
<main>
    <!-- 會員專區 -->
    <section id="app" class="member">
        <div class="container">

            <!-- 會員專區主頁 -->
            <section class="main_member">
                
                <!-- 個人資訊 -->
                <section class="item mem_info">
                    我的個人資料
                    <!-- 基本資料 -->
                    <div class="info_box">
                        <div class="img_box sticker">
                            <img :src="imgSrc('member', memberInfo.memImage)">
                        </div>
                        <div class="txt_box">
                            <span>{{ memberInfo.memId }}</span>
                            <h3>{{ memberInfo.memName }}</h3>
                            <p>{{ memberInfo.identity }}</p>
                        </div>
                        <div class="action_box">
                            <button @click="showDetailInfo" class="third_btn">修改資料</button>
                            <a href="astrologist.html">
                                <button v-if="memberInfo.identity==='占卜師'" class="secondary_btn">占卜師專區</button>
                            </a>
                            <button class="third_btn display_none">取消</button>
                        </div>

                        <!-- 修改個人資料 -->
                        <div class="detail_info invisible">
                            <!-- 個人資訊 -->
                            <div class="item personal">
                                <div class="id_box">
                                    <label for="mem_Id">會員ID</label>
                                    <label id="mem_Id">{{ memberInfo.memId }}</label>
                                </div>
                                <div class="name_box">
                                    <label for="mem_Name">會員姓名</label>
                                    <input type="text" id="mem_Name" :value="memberInfo.memName">
                                </div>
                                <div class="account_box">
                                    <label for="mem_email">信箱</label>
                                    <input type="text" id="mem_email" :value="memberInfo.email">
                                </div>
                                <div class="birthday_box">
                                    <label for="mem_birthday">生日</label>
                                    <input type="date" id="mem_birthday" :value="memberInfo.birthday">
                                </div>
                                <div class="credit_box">
                                    <label for="creditNum">卡號</label>
                                    <input id="creditNum" type="text" :value="memberInfo.creditNum">
                                </div>
                            </div>
                            <!-- 更改密碼、身分 -->
                            <div class="item privacy">
                                <div class="identity_box">
                                    <label for="identity">身分</label>
                                    <label>{{ memberInfo.identity }}</label>
                                    <button v-if="memberInfo.identity==='一般會員'" class="third_btn">成為占卜師</button>
                                </div>
                                <div class="pwd_box">
                                    <label for="memPwd">密碼</label>
                                    <!-- <input type="password" id="memPwd"> -->
                                    <button @click="changePwd" class="third_btn">修改</button>
                                </div>
                                <div class="change_pwd_box display_none">
                                    <label for="confirm_pwd">確認密碼</label>
                                    <input type="password">
                                    <ul class="confirm_list">
                                        <li>至少有一個大寫英文字母</li>
                                        <li>至少有一個小寫英文字母</li>
                                        <li>至少有一個數字</li>
                                        <li>長度大於6個字元</li>
                                        <li>長度小於20個字元</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
    
                <!-- 目前預約 -->
                <section class="item reservation">
                    <div class="txt_box">
                        <span>我的預約</span>
                        <span class="more">更多預約 ></span>
                    </div>
                    <div class="reservation_box">
                        <div class="info" v-if="appointInfo.length > 0">
                            <div class="astrologist_info">
                                <div class="txt_box">
                                    <p>{{ appointInfo[0].status }}</p>
                                    <h3>{{ appointInfo[0].memName }}</h3>
                                    <p class="reservation_time">{{ appointInfo[0].appointDate }} {{ appointInfo[0].appointTime }}</p>
                                </div>
                                <div class="img_box">
                                    <img :src="imgSrc('member', appointInfo[0].memImage)">
                                </div>
                            </div>
                        </div>
                        <div class="no_reservation" v-else>
                            <p>尚無預約</p>
                        </div>
                    </div>
                </section>
    
                <!-- 目前訂單 -->
                <section class="item orders">
                    我的訂單
                    <div class="orders_box" v-if="latestOrder[0].prodImage !== null">
                        <div class="order_header">
                            <span>{{ latestOrder[0].status }}</span>
                        </div>
                        <div class="order_content">
                            <div class="img_box">
                                <img :src="imgSrc('product', latestOrder[0].prodImage)">
                            </div>
                            <div class="txt_box">
                                <p>
                                    {{ latestOrder[0].prodName }}
                                    <span v-if="latestOrder[0].totalMount > 1"> +{{ latestOrder[0].totalMount - 1 }} </span>
                                    
                                </p>
                                <p>共 {{ latestOrder[0].totalMount }} 項</p>
                            </div>
                        </div>
                        <div class="order_footer">
                            <p class="total">訂單金額: NT${{ latestOrder[0].totalPrice }}</p>
                        </div>
                        <a class="other_order" href="mem_orders_vue_try.html">檢視其他訂單</a>
                    </div>
                    <div class="orders_box" v-else>
                        <p>尚無紀錄</p>
                    </div>
                </section>
    
                <!-- 最近的評論(占卜師) -->
                <section class="item comment">
                    預約紀錄及評論
                    <ul class="comment_list" v-if="appointLogs.length === 0">
                        <p>尚無紀錄</p>
                    </ul>
                    <ul class="comment_list" v-else>
                        <li class="comment_info" v-for="(comment, idx) in appointLogs" v-if="viewAllComments===true || idx === (appointLogs.length - 1)">
                            <!-- 占卜資訊 -->
                            <div class="comment_box">
                                <div class="reservation_info">
                                    <div class="img_box sticker">
                                        <img :src="imgSrc('member', appointLogs[idx].memImage)">
                                    </div>
                                </div>
                                <div class="txt_box ast_info">
                                    <span>#{{ comment.astNo }}</span>
                                    <h3>{{ comment.memName }}</h3>
                                </div>
                                <p class="reservation_time">{{ comment.appointDate }} {{ comment.appointTime }}</p>
                            </div>
    
                            <!-- 給占卜師的評論 -->
                            <div class="comment_box">
                                <div class="txt_box comment">
                                    <p v-if="appointLogs[idx].star !== null" class="star">{{ comment.star }}★</p>
                                    <p v-if="appointLogs[idx].star !== null">{{ comment.content }}</p>
                                    <p v-else>尚未評論</p>
                                </div>
                            </div>
                        </li>

                        <p class="prev_comment" @click="old_comment">查看其他評論 ^</p>

                        <div class="active">
                            <select id="star">
                                <option :value="i" v-for="i in 5">{{ i }}星</option>
                            </select>
                            <textarea class="new_comment"></textarea>
                            <button class="third_btn" @click="newComment">發送</button>
                        </div>

                    </ul>
                </section>
    
                <!-- 最近留言的文章 -->
                <section class="item message">
                    最近留言的文章
                    <ul class="message_box" v-if="newMessages.length > 0">
                        <li v-for="(info, index) in newMessages" class="article_info" :data-newMsg="newMessages[index].count">
                            <a :href="commentHref(index)">
                                <span class="artNo"># {{ info.artNo }}</span>
                                <h4 class="artTitle">
                                    {{ info.title }}
                                </h4>
                            </a>
                        </li>
                    </ul>
                    <p class="no_comments" v-else>尚無紀錄</p>
                </section>
                
                <!-- 線上占卜測驗紀錄 by JC -->
                <!-- 資料串接 by PIN -->
                <section class="item tarot_quiz">
                    線上占卜紀錄
                    <div class="quiz_box">
                         <!-- 左欄放測驗紀錄卡片的容器 -->
                        <div class="quiz_left_box">

                            <!-- 第一排 -->
                            <div class="quiz_row box" v-if="divinationLogs.length > 0">
                                <!-- 測驗卡片 -->
                                <div :data-log="idx" class="quiz_cards draggable" draggable="true" v-for="(log, idx) in divinationLogs" @dragstart="dragStartHandler">
                                    <div class="quiz_cate">
                                        <h3>{{ log.typeName }}</h3>
                                        <p>{{ log.title }}</p>
                                    </div>
                                    <div class="quiz_result">
                                        {{ log.tarNo }} {{ log.tarName }}
                                    </div>
                                    <!-- 手機板解析 -->
                                    <div class="quiz_detail_cellphone">
                                        <p>{{ log.detail }}</p>
                                    </div>
                                </div>
                            </div>
                            <p class="no_log" v-else>尚無紀錄</p>

                        </div>

                         <!-- 右欄拖曳用的容器 -->
                        <div class="quiz_right_box">
                            <div v-if="!showLogDetail" class="quiz_view box" @dragover="dragOverHandler($event)" @drop="dropHandler($event)">
                                將卡片拖曳至方框內，以便檢視測驗紀錄
                            </div>
                            <div v-if="showLogDetail" class="quiz_view box"  @dragover="dragOverHandler($event)" @drop="dropHandler($event)">
                                <div class="logDetail">
                                    <div class="typeName"><h3>{{ showLogDetail.typeName }}</h3></div>
                                    <div class="title"><p>{{ showLogDetail.title }}</p></div>
                                    <div class="title">{{ showLogDetail.tarNo }} {{ showLogDetail.tarName }}</div>
                                    <div class="detail"><p>{{ showLogDetail.detail }}</p></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- 左欄放測驗解析的容器 -->
                    
                </section>
            
        </div>
    </section>

</main>


@@include('layout/footer.html')

<script>

    // 若尚未登入
    if (getSessionData() === false) {
        $('section.member').css({opacity: 0});
        alert('請先登入');
        $('section.login').removeClass('display_none');
        document.body.classList.add('login_hidden');
    }
    else {
        getMemberData();
    }

    // 取得登入的會員資料
    function getMemberData() {
        new Vue({
            el: '#app',
            data: {
                userData: getSessionData(),
                memberInfo: [],
                newMessages: {},
                divinationLogs: {},
                appointInfo: [],
                appointLogs: [],
                latestOrder: [],
                viewAllComments: false,
                showLogDetail: false
            },
            mounted() {
                // 取得會員資料
                this.getMemberData();
            },
            methods: {
                getMemberData() {
                    $.ajax({
                        type: 'POST',
                        url: 'phps/select.php',
                        data: {
                            table: 'members',
                            queryCol: '*',
                            condition: `memNo = ${this.userData.userNo}`
                        },
                        success:  data => {
                            if (data.msg !== false){
                                this.memberInfo = data.msg[0];
                                // 取得最近留言文章
                                this.getNewMessages();
                                // 取得最近占卜紀錄
                                this.getDivinationLog();
                                // 取得我的預約、已完成的預約評論
                                this.getMyAppointment();
                                // 取得我的訂單，顯示最近一筆
                                this.getOrders();
                            }
                        },
                        error: err => {
                            console.log('ajax error');
                        }
                    });
                },
                showDetailInfo(e) {
                    // 打開個人資訊詳細框
                    e.target.nextElementSibling.classList.toggle('display_none');
                    let normalInfo = e.target.parentNode.previousElementSibling;
                    let detailInfo = e.target.parentNode.nextElementSibling;
                    normalInfo.classList.toggle('invisible');
                    detailInfo.classList.toggle('invisible');

                    // 更改按鈕名稱
                    if (e.target.innerText === '修改資料') {
                        e.target.innerText = '儲存'
                    }
                    // 修改資料庫
                    else {
                        e.target.innerText = '修改資料'
                        let name = $("#mem_Name").val();
                        let birthday = $("#mem_birthday").val();
                        let email = $("#mem_email").val();
                        let creditNum = $("#creditNum").val();
                        let where = [];
                        if (name === '') {
                            alert('請輸入名稱');
                            return;
                        }
                        if (birthday === '') {
                            alert('請輸入生日');
                            return;
                        }

                        // console.log( where.join(','));
                        $.ajax({
                            type: 'POST',
                            url: 'phps/update.php',
                            data: {
                                table: 'members',
                                updateValue: `memName = '${name}', birthday = '${birthday}', email = '${email}', creditNum = '${creditNum}'`,
                                where: `memNo = '${this.userData.userNo}'`
                            },
                            // success: data => {
                            // },
                            error: err => {
                                console.log(err);
                            }
                        });
                    }
                },
                changePwd(e) {
                    e.target.innerText = (e.target.innerText === '修改') ? '取消' : '修改';
                    let chgPwdBox = e.target.parentNode.nextElementSibling;
                    chgPwdBox.classList.toggle('display_none');
                },
                old_comment(e) {
                    if (this.viewAllComments) {
                        e.target.innerText = '查看其他評論 ^';
                        this.viewAllComments = false;
                    }
                    else {
                        e.target.innerText = '關閉';
                        this.viewAllComments = true;
                    }
                    let comment_list = e.target.parentNode;
                    comment_list.classList.toggle('view_old');
                    document.body.classList.toggle('overflow_hidden');
                },
                // 會員最近留言過的文章，最多四個
                // 若該文章有新留言，取得文章編號、文章主旨、新留言數
                getNewMessages() {
                    let thisVue = this;
                    $.ajax({
                        type: 'POST',
                        url: 'phps/back_getCol.php',
                        data: {
                            // 查詢的資料表
                            table: 'newMessages',
                            no: this.userData.userNo,
                        },
                        async: false,
                        success: function(data) {
                            data = JSON.parse(data);
                            thisVue.newMessages = data.msg;
                        },
                        error: function() {
                            console.log('ajax error');
                        }
                    });
                },
                // 點擊跳轉至文章頁面，附上點擊文章編號在網址列
                commentHref(idx) {
                    return `discuss.html?no=${this.newMessages[idx].artNo}`;
                },
                // 取得會員最近占卜項目，最多四個
                getDivinationLog() {
                    let thisVue = this;
                    $.ajax({
                        type: 'POST',
                        url: 'phps/back_getCol.php',
                        data: {
                            // 查詢的資料表
                            table: 'divinationLog',
                            no: this.userData.userNo,
                        },
                        async: false,
                        success: function(data) {
                            
                            data = JSON.parse(data);
                            thisVue.divinationLogs = data.msg;
                        },
                        error: function() {
                            console.log('ajax error');
                        }
                    });
                },
                // 取得會員預約情況、預約完成後的評論紀錄
                getMyAppointment() {
                    this.appointInfo = [];
                    this.appointLogs = [];
                    $.ajax({
                        type: 'POST',
                        url: 'phps/back_getCol.php',
                        data: {
                            // 查詢的資料表
                            table: 'myAppointment',
                            no: this.userData.userNo,
                        },
                        async: false,
                        success: data => {
                            data = JSON.parse(data);
                            let logIdx = -1;
                            for (let i = 0; i < data.msg.length; i++) {
                                let appDate = new Date(data.msg[i].appointDate);
                                // 如果預約日期小於當天，新增至歷史紀錄清單
                                if (new Date() > appDate) {
                                    this.appointLogs.push(data.msg[i]);
                                }
                                // 否則新增至目前預約清單
                                else {
                                    this.appointInfo.push(data.msg[i]);
                                }
                            }
                        },
                        error: function() {
                            console.log('ajax error');
                        }
                    });
                },
                imgSrc(folder, image) {
                    switch (folder) {
                        case 'member':
                            folder = 'member';
                            break;
                        case 'product':
                            folder = 'shop/tarot';
                            break;
                    }
                    let path = `images/${folder}`;
                    return `${path}/${image}`;
                },
                getOrders() {
                    let thisVue = this;
                    $.ajax({
                        type: 'POST',
                        url: 'phps/back_getCol.php',
                        data: {
                            // 查詢的資料表
                            table: 'latestOrder',
                            no: this.userData.userNo,
                        },
                        async: false,
                        success: function(data) {
                            data = JSON.parse(data);
                            thisVue.latestOrder = data.msg;
                        },
                        error: function() {
                            console.log('ajax error');
                        }
                    });
                },
                newComment() {
                    let log = this.appointLogs;
                    let update = false;
                    if (log[log.length-1].content !== null) {
                        update = confirm('是否更新留言？');
                    }
                    // 更新評論
                    if (update) {
                        console.log(star);
                        $.ajax({
                            type: 'POST',
                            url: 'phps/update.php',
                            data: {
                                table: 'comment',
                                updateValue: `content = '${$('textarea.new_comment').val()}', star = '${$('#star').val()}', commTime = default`,
                                where: `appointNo = '${log[log.length-1].appointNo}'`
                            },
                            success: data => {
                                alert('更新成功');
                                this.getMyAppointment();
                                $('textarea.new_comment').val('');
                            },
                            error: err => {
                                console.log(err);
                            }
                        });
                    }
                    // 新增評論
                    else {
                        $.ajax({
                            type: 'POST',
                            url: 'phps/insert.php',
                            data: {
                                table: 'comment',
                                insertValue: `default, ${log[log.length-1].appointNo}, default, '${$('textarea.new_comment').val()}', '${$('#star').val()}'`
                            },
                            success: data => {
                                alert('評論成功');
                                this.getMyAppointment();
                                $('textarea.new_comment').val('');
                            },
                            error: err => {
                                console.log(err);
                            }
                        });
                    }
                },
                // 測驗紀錄拖曳查看
                dragStartHandler(e) {
                    e.dataTransfer.setData('log', e.target.getAttribute('data-log'));
                },
                dragOverHandler(e) {
                    e.preventDefault();
                },
                dropHandler(e) {
                    let log = e.dataTransfer.getData('log');
                    $('.quiz_right_box .quiz_view ').display = 'none';
                    this.showLogDetail = this.divinationLogs[log];
                }
            }
        });
    }
</script>

<!-- drag and drop by NJ -->
<script>
    // var dropTarget = document.querySelector(".quiz_box")
    // var draggables = document.querySelectorAll('.draggable')
    // // const containers =document.querySelector('.quiz_right_box')

    // for(let i = 0; i < draggables.length; i++){
    //     draggables[i].addEventListener("dragstart", function(e){
    //         e.dataTransfer.setData("srcId", e.target.id);
    //     });
    // }
    // dropTarget.addEventListener("dragover", function(e){
    //     e.preventDefault();
    // });
    // dropTarget.addEventListener("drop", function (e) {
    //     e.preventDefault();
    //     let target = e.target;
    //     let srcId = e.dataTransfer.getData("srcId");

    //     let droppable = target.classList.contains("box");

    //     if (droppable){
    //         target.appendChild(document.getElementById(srcId));
    //     }
        
    // });
</script>
</body>
</html>