<!DOCTYPE html>
<html lang="en">
@@include('layout/head.html', {
    'title': '確認商品'
})
<link rel="stylesheet" href="css/shopping_cart.css">
<body>
    
    <!-- 網頁頭 by NJ -->
    @@include('layout/header.html')



<!-- 網頁內容 -->
    <main id="app">
        <!-- 購物車流程 -->
        <section class="shopping_circle">
            <div class="container">
                <ol class="shopping_process">
                    <li class="item active">Step 1</li>
                    <li class="item">Step 2</li>
                    <li class="item">Step 3</li>
                </ol>
            </div>
        </section>
        <section class="shopping_cart">
            <div class="container">
                <!-- 購物車內容 -->
                <div class="cart_detail">
                    <!-- 購物車header -->
                    <div class="cart_header">
                        <div class="item_detail">商品</div>
                        <div class="price">單價</div>
                        <div class="count">數量</div> 
                        <div class="amount">總計</div>
                    </div>
                    <!-- 購物車body -->
                    <div class="cart_body" v-for="(row, index) in cartFull">
                        <div class="cart_body_box">
                            <div class="item_detail">
                                <div class="cart_card">
                                    <div class="img_box">
                                        <img :src="imgSrc(row.prodImage1)" alt="商品照片">
                                    </div>
                                    <div class="txt_box">
                                        <p>{{row.prodName}}{{row.cateName}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="price"><span>NT${{row.price}}</span></div>
                            <div class="count">
                                <button @click="(cart[index].amount > 0) ? cart[index].amount-- : 0" class="count_btn">-</button>
                                <input type="text" v-model="cartFull[index].amount" class="prodAmount"></input>
                                <button @click="cart[index].amount++" class="count_btn">+</button>
                            </div> 
                            <div class="amount">NT$<span>{{sum(index)}}</span></div>
                            <button @click="handledelete(index);remove()" class="count_btn deleteBtn">x</button>
                        </div>
                    </div>                        
                </div>
            </div>
        </section>

        <!-- 填寫資料區 -->
        <section class="cart_deliver">
            <div class="container">
                <div class="customer_info">
                    <div class="txt_box">
                        <p>
                            約3~7個工作天到貨，離島運送時間需要多3~5個工作天
                            ，姓名請填寫證件上名字，以確保順利取貨，實際到貨日期，需依各地區物流速度而定。
                        </p>
                    </div>
                </div>                    
                <div class="cart_info_right">
                    <div class="order_total">
                            <h4>小計：NT${{total}}</h4>
                            <h4>運費：NT${{fee}}</h4>
                            <h4>總計：NT${{total+fee}}</h4>
                    </div>
                </div>
            </div>
        </section>
        <!-- 按鈕 -->
        <section class="confirm_btn">
            <div class="container">
                <div class="confirm_btns">
                    <a href="shop.html"><button class="third_btn" id="continue" @click="save">繼續購物</button></a>
                    <a href="shopping_info.html"><button class="primary_btn" id="nextStep" @click="save">下一步</button></a>
                </div>
            </div>
        </section>


        <!-- 底部推薦商品 -->
        <section class="cart_bottom">
            <div class="container">
                <h3>主打商品</h3>
                <div class="item_box">
                    <div class="item" v-for=" (i, idx) in queryResult">
                        <a @click="getPromptProduct(idx)">
                            <div class="img_box">
                                <img :src="imgSrc(i.prodImage1)" alt="">
                            </div>
                        </a>
                        <div class="txt_box">
                            <p>{{i.prodName}}{{i.cateName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main> 



<!-- 網頁尾 By NJ -->
@@include('layout/footer.html')
<script>
    new Vue({
        el:'#app',
        data:{
            queryResult: [],
            cart:[],
            prodInfoList: [],
            alreadycatch:false
        },
        mounted() {
            this.getList();
            this.getProdInfo_vue();
            this.getPrompt();
        },
        watch:{
            cart:{
                deep:true,
                handler(){
                    let cart = JSON.stringify(this.cart);
                    localStorage.setItem('cart',cart);
                    if(this.cart.length == 0){
                        alert('購物車已清空');
                    }
                }
            }
        },
        methods:{
            handledelete: function(index){
                this.cart.splice(index,1);
            },

            

            imgSrc(image){
                let path = `images/shop/tarot`;
                return `${path}/${image}`;
            },

            sum(idx){
                let prod = this.cartFull[idx];
                return parseInt(prod.price) * parseInt(this.cart[idx].amount)
            },


            getList() {
                let cart = JSON.parse(localStorage.getItem("cart"));
                this.cart = cart;
                this.alreadycatch = true;
            },

            getProdInfo_vue() {
                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    data: {

                        table: 'product',

                        joinTable: 'product_category',

                        joinOn:'prodCateNo',

                        queryCol: "prodName, price, prodImage1, cateName, prodNo",
                    },
                    success: data =>{
                        if (data.msg !== false){
                            this.prodInfoList = data.msg;
                        }
                    },
                    error: err => {
                        console.log('ajax error');
                    }
                });
            },

            
            // 底部商品列
            getPrompt(){
                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    data: {

                        table: 'product',

                        joinTable: 'product_category',

                        joinOn:'prodCateNo',

                        queryCol: "prodName, prodImage1, cateName, prodNo",

                        other: 'limit 4'
                    },
                    success: data =>{
                        if (data.msg !== false){
                            this.queryResult = data.msg;
                        }
                    },
                    error: err => {
                        console.log('ajax error');
                    }
                });
            },
            
            getPromptProduct(index){
                let prod_Num = this.queryResult[index].prodNo;
                localStorage.setItem('prodNumber',`${prod_Num}`);  
                window.location.href = "product.html";
            },

            
            remove(){
                localStorage.removeItem('cart')
            },

            save(){
                let prodNo = localStorage.getItem('prodNumber');
                let amount = document.querySelector('.prodAmount').value;
                let payMethod = document.querySelector('#payWay').value;
                let item = {    //要存的("key","value")
                    prodNo,
                    amount,
                };

                let itemSec = {
                    payWay: payMethod,
                }


                //(重複商品不加購物車)
                let cart = localStorage.getItem('cart');    //拿到localstorage
                cart = cart ? JSON.parse(cart) : [];    //轉JSON格式
                let found = false;

                for(let i=0 ; i < this.cart.length; i++){    
                    if(cart[i].prodNo === item.prodNo){
                        cart[i] = item;
                        found = true;
                        break;
                    }    
                }

                if(found === false){
                    cart.push(item);   //新的都要往後加
                }


                // console.log(cart)
                localStorage.setItem('cart', JSON.stringify(cart));    //轉成字串，傳到localstorage
                // localStorage.setItem('payWay', JSON.stringify(payWay));    //轉成字串，傳到localstorage
            },
                        


            
        },
        computed:{
            cartFull() {
                return this.cart.map(v => {
                    let obj = this.prodInfoList.find(item => v.prodNo == item.prodNo);
                    return {
                        ...obj,
                        ...v
                    };
                })
            },
            
            total() {
                let subtotal = 0;
                for(let i = 0; i < this.cartFull.length; i++){
                    subtotal += this.sum(i);
                }
                return subtotal;
            },
            fee(){
                let deliFee = 0;
                if(this.cart.length == 0){
                    deliFee = 0;
                }else{
                    deliFee = 60
                }
                return deliFee;
            },

        }
})
</script>
</body>
</html>