<!DOCTYPE html>
<html lang="en">
@@include('layout/head.html', {
    'title': '訂單確認'
})
<link rel="stylesheet" href="css/shopping_cart.css">
<body>
    
    <!-- 網頁頭 by NJ -->
    @@include('layout/header.html')



<!-- 網頁內容 -->
    <main id="app">
        <!-- 購物車流程 -->
        <section class="shopping_circle">
            <div class="container">
                <ol class="shopping_process">
                    <li class="item">Step 1</li>
                    <li class="item">Step 2</li>
                    <li class="item active">Step 3</li>
                </ol>
            </div>
        </section>    
        <section class="shopping_cart">
            <div class="container">
                <!-- 購物車內容 -->
                <div class="cart_detail">
                    <!-- 購物車header -->
                    <div class="cart_header">
                        <div class="item_detail">商品</div>
                        <div class="price">單價</div>
                        <div class="count">數量</div> 
                        <div class="amount">總計</div>
                    </div>
                    <!-- 購物車body -->
                    <div class="cart_body" v-for="(row, index) in cartFull">
                        <div class="cart_body_box">
                            <div class="item_detail">
                                <div class="cart_card">
                                    <div class="img_box">
                                        <img :src="imgSrc(row.prodImage1)" alt="">
                                    </div>
                                    <div class="txt_box">
                                        <p>{{row.prodName}}{{row.cateName}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="price"><span>NT${{row.price}}</span></div>
                            <div class="count">
                                {{cartFull[index].amount}}
                            </div> 
                            <div class="amount">NT$<span>{{sum(index)}}</span></div>
                        </div>
                    </div>                        
                </div>
            </div>
        </section>

        <!-- 填寫資料區 -->
        <section class="cart_deliver">
            <div class="container">
                <div class="customer_info">
                    <div class="customer_confirm">
                    <h4>姓名</h4>
                    <p>{{memberInfo[0].memName}}</p>
                    <h4>電話</h4>
                    <p>{{memberInfo[0].phoneNum}}</p>
                    <h4>地址</h4>
                    <p>{{memberInfo[0].address}}</p>
                    </div>
                </div>
                <div class="cart_info_right">
                    <div class="order_total">
                        <div class="first_price">
                            <h4>小計：NT${{total}}</h4>
                        </div>
                        <div class="delivery_fee">
                            <h4>運費：NT${{fee}}</h4>
                        </div>
                        <div class="total_price">
                            <h4>總計：NT$<span id="totalPrice">{{total+fee}}</span></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 按鈕 -->
        <section class="confirm_btn">
            <div class="container">
                <div class="confirm_btns">
                    <a href="shop.html"><button class="third_btn">繼續購物</button></a>
                    <a href="homepage.html"><button class="primary_btn">回首頁</button></a>
                </div>
            </div>
        </section>

        <!-- 底部推薦商品 -->
        <section class="cart_bottom">
            <div class="container">
                <h3>主打商品</h3>
                <div class="item_box">
                    <div class="item" v-for=" (i, idx) in bottomProd">
                        <a @click="getPromptProduct(idx)">
                            <div class="img_box">
                                <img :src="imgSrc(i.prodImage1)" alt="">
                            </div>
                        </a>
                        <div class="txt_box">
                            <p>{{i.prodName}}{{i.cateName}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


<!-- 網頁尾 By NJ -->
@@include('layout/footer.html')
<script>

new Vue({
        el:'#app',
        data:{
            bottomProd: [],
            cart:[],
            prodInfoList: [],
            memberInfo:[],
            selectOrderNo:[],
            userData: getSessionData(),
        },
        mounted() {
            this.getList();
            this.getProdInfo_vue();
            this.getPrompt();
            this.getMemberInfo();
            
        },

        methods:{
            sum(idx){
                let prod = this.getProduct(this.cart[idx].prodNo);
                return parseInt(prod.price) * parseInt(this.cart[idx].amount)
            },

            getList() {
                let cart = JSON.parse(localStorage.getItem("cart"));
                this.cart = cart;
            },
            
            // 底部商品列
            getPrompt(){
                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    data: {

                        table: 'product',

                        joinTable: 'product_category',

                        joinOn:'prodCateNo',

                        queryCol: "prodName, prodImage1, cateName, prodNo",

                        other: 'limit 4'
                    },
                    success: data =>{
                        if (data.msg !== false){
                            this.bottomProd = data.msg;
                        }
                    },
                    error: err => {
                        console.log('ajax error');
                    }
                });
            },
            
            getPromptProduct(index){
                let prod_Num = this.bottomProd[index].prodNo;
                localStorage.setItem('prodNumber',`${prod_Num}`);  
                window.location.href = "product.html";
            },
            // 購物車商品資料
            getProdInfo_vue() {
                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    data: {

                        table: 'product',

                        joinTable: 'product_category',

                        joinOn:'prodCateNo',

                        queryCol: "prodName, price, prodImage1, cateName, prodNo",
                    },
                    success: data =>{
                        if (data.msg !== false){
                            this.prodInfoList = data.msg;
                        }
                    },
                    error: err => {
                        console.log('ajax error');
                    }
                });
            },

            //會員資料
            getMemberInfo() {
                let memNo = this.userData.userNo;

                $.ajax({
                    type: 'POST',
                    url: 'phps/select.php',
                    data: {

                        table: 'members',

                        queryCol: "memName, phoneNum, address",

                        condition: `memNo = '${memNo}'`
                    },
                    success: data =>{
                        if (data.msg !== false){
                            this.memberInfo = data.msg;
                        }
                    },
                    error: err => {
                        console.log('ajax error');
                    }
                });
            },
            


            getProduct(prodNo) {
                let prodNoList = this.prodInfoList.map(prodNum => Object.values(prodNum)[4]);
                idx = prodNoList.indexOf(prodNo);
                return this.prodInfoList[idx];
            },

            imgSrc(image){
                let path = `images/shop/tarot`;
                return `${path}/${image}`;
            },

        },
        computed:{
            cartFull() {
                return this.cart.map(v => {
                    let obj = this.prodInfoList.find(item => v.prodNo == item.prodNo);
                    return {
                        ...obj,
                        ...v
                    };
                })
            },
        
            total() {
                let subtotal = 0;
                for(let i = 0; i < this.cart.length; i++){
                    subtotal += this.sum(i);
                }
                return subtotal;
            },
            fee(){
                let deliFee = 0;
                if(this.cart.length == 0){
                    deliFee = 0;
                }else{
                    deliFee = 60
                }
                return deliFee;
            },
        }
    });
</script>

</body>
</html>