<!DOCTYPE html>
<html lang="en">
@@include('layout/head.html', {
    'title': '占卜師總覽'
})
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
<link rel="stylesheet" href="css/teller_mem.css">
<body>

<!-- 網頁頭 by NJ -->
@@include('layout/header.html')

<!-- 網頁內容 -->
<main id="app">
   <!-- 塔羅頁籤 謝謝蘋姊拯救世界 by NJ -->
   @@include('layout/tar_page.html')
   
    <section class="teller_banner">
        <div class="container">
            <div class="txt_box">
                <h1>預約占卜師</h1>
                <h2>熱門占卜師</h2>
            </div>
        </div>
    </section>
    <!-- 幻燈片 -->
    <section class="teller_pic ">
        <div class="container">
          <div class="item_box" :style="rotate">
            <div class="item" v-for="i in tellers.slice(0,6)">
              <img :src="imgUrl(i.memImage)">
            </div>
          </div>
        </div>
      </section>
      
      <!-- 占卜師介紹 -->
      <section class="teller_info">
        <div class="container">
          <div class="teller_name" v-if="selectIdx !== -1">
            <h2>{{ tellers[selectIdx].memName }}</h2>
            <p v-if="tellers[selectIdx].avgScore !== null">{{ Math.round(tellers[selectIdx].avgScore,1) }} <i class="fa-solid fa-star"></i></p>
            <p v-else>尚無評分</p>
            <br>
            <button class="next_teller other_btn" @click="ang-=60; selectIdx = (selectIdx === tellers.length) ? 0 : selectIdx+1"><</button>
            <button class="prev_teller other_btn" @click="ang+=60; selectIdx = (selectIdx === 0) ? 5 : selectIdx-1">></button>
          </div>
          <div class="txt_box">
            <p>{{ tellers[selectIdx].introduction }}</p>
            <div class="reservation_btn"><a :href="getHref"><button class="primary_btn">立即預約</button></a>
            </div>
          </div>
        </div>
    </section>

    <!-- 占卜師總覽 -->
    <section class="teller_overview">
      <div class="container" id="tellerMem">
        <div class="txt_box">
          <h2>占卜師總覽</h2>
        </div>
        <div class="row">
          <div class="item" v-for="teller in tellers">                                         
            <div class="img_box">
                <a href="teller_reservation.html?type=0">
                    <img :src="imgUrl(teller.memImage)">
                </a>
            </div>
            <div class="txt_box">
                {{ teller.memName }}
            </div>
        </div>
        </div>
      </div>
    </section>

</main>
<!-- 網頁尾 By NJ -->
@@include('layout/footer.html')
<script src="js/teller_mem.js"></script>
</body>
</html>